[2018-06-07 13:46] jan-janssen commented on #9
I guess that is something to discuss with the people at https://github.com/arose/nglview . I guess @samwaseda already had some discussions with them. In addition we should confirm that the error remains when using the latest version of NGLview - for this tests you can use the latest docker image https://github.com/pyiron/pyiron-docker

[2018-06-07 13:49] samwaseda commented on #9
I guess the most pragmatic solution for now is to write a function that exports the data e.g. in LAMMPS format, so that it can be visualised with Ovito or vmd.

[2018-06-07 13:50] samwaseda commented on #9
Anyway, regardless of the purpose, such a function should at any rate exist in my opinion.

[2018-06-07 14:03] sudarsan1989 commented on #9
Actually, such a function already exists. `basis.write('struct', format='xyz')` uses the ase writer to do this

[2018-06-07 14:05] sudarsan1989 commented on #9
But did you already ask the NGlview developers @samwaseda? Could you link the issue here if you have?

[2018-06-07 14:07] samwaseda commented on #9
No it was about something completely different.

[2018-06-07 19:42] sudarsan1989 commented on #9
I just found out that the issue is not with nglview but ase. NGLview converts our structure to the pdb format using the ase writer and then visualizes it. The ase writer somehow writes only a maximum of 50000 entries in the pdb format. This means we have to report the bug to ase or define our own pdb writer.

[2018-08-22 09:38] jan-janssen commented on #9
@samwaseda Can we now visualise more than 50000 atoms? With the recent update of NGLview https://github.com/pyiron/pyiron_atomistics/pull/15 ?

[2018-08-22 09:42] samwaseda commented on #9
1, 2, 3, 4, ... I'm not sure if I really want to count up to 50,000...

... ok, I just finished counting, and no, it's still the same. It simply stops showing the atoms at 50,000.

[2020-08-18 08:07] samwaseda opened #39 "Number of atoms not allowed to change?"
I realized that the following lines don't work, because the number of atoms changes:

[code]

Is it supposed to be like this?

[2020-08-18 08:29] jan-janssen commented on #39
Does it work with a temporary variable? Like:

[code]

[2020-08-19 08:21] samwaseda commented on #39
No still not.

[2020-08-19 08:48] jan-janssen commented on #39
[code]
Then it works for me.

[2020-08-19 15:07] samwaseda commented on #39
Well the question is whether this is an expected behaviour or not. If not, I guess I'll work on it to prevent it from happening.

[2020-09-01 16:14] sravankumarkb opened #185 "substituting atoms in pyiron"
Hi all,

I am trying to substitute a Mg atom with an Al atom.

I tried the following

[code]

[code]
![Capture](https://user-images.githubusercontent.com/53989475/91876691-4cb1a880-ec7d-11ea-9743-4ec7127d50f9.PNG)

Clearly, only the symbols list is getting updated and not the actual atoms as can be seen from both the pic and the printed array. I checked the POSCAR as well, both atoms have not chan

[2020-09-01 16:22] sudarsan-surendralal commented on #185
`bulk_structure[0] = "Al"` is the more pyironic way and the simplest solution. The problem is that `symbols` is just a list as far as pyiron is concerned (to be compatible to ase) and when changing this, it does not update the internal species list.

Thanks for pointing this out though! We still are trying to be as compatible to ase as possible!

[2020-09-01 20:07] jan-janssen commented on #39
@samwaseda any update on this?

[2020-09-01 20:26] samwaseda commented on #39
You didn't answer my question...

[2020-09-01 21:53] sudarsan-surendralal commented on #185
Reopening this since this needs to be taken care of if we need `ase` compatibility.

[2020-09-02 05:14] jan-janssen commented on #39
It is not expected.

[2020-09-02 08:18] samwaseda commented on #39
Good then I'm gonna work on it

[2020-09-07 20:36] samwaseda commented on #39
Sorry I forgot about this one but I'll work on it this week

[2020-10-18 10:47] jan-janssen commented on #39
@samwaseda Any progress on this issue?

[2020-10-19 07:09] samwaseda commented on #39
Sorry I'll try to find time very soon

[2020-10-20 11:12] t-brink opened #38 "Automatic triclinic boxes in LAMMPS?"
When I run a LAMMPS simulation with a barostat and I also apply a barostat to shear components, the simulation can fail when the input simulation cell is orthogonal:

[code]
The reason is that LAMMPS needs to be told if shear of a box is allowed. The command is `change_box all triclinic`. Shouldn't this command be added automatically when applying a barostat with shear components?

[2020-10-23 14:14] t-brink commented on #38
Some notes so that the complications are not forgotten, I will have to dig deeper later:

* This could be solved by always writing a "triclinic" input file for LAMMPS in `pyiron.lammps.structure.LammpsStructure.simulation_cell()`. Since "triclinic" in LAMMPS does not really describe the shape of the simulation box (it really defines what features are available) it does not make much sense to force

[2020-10-26 18:21] liamhuber commented on #38
@jan-janssen I don't believe this is [code smell](https://en.wikipedia.org/wiki/Code_smell#Common_code_smells).

This sounds like a bug

[2020-10-29 14:09] sy483101 opened #37 "How to specify pseudopotential for different pseudohydrogens in VASP calculation"
I'd like to specify a different pseudopotential (POTCAR) for a different type of hydrogens in VASP calculations
Let me give an example with ZnO slab

   1.00000000000000
     3.2882546529036105    0.0000000000000000    0.0000000000000000
    -1.6441273264518053    2.8477120634625819    0.0000000000000000
     0.0000000000000000    0.0000000000000000   31.2636316299999990
 H    O    Zn H
     1

[2020-10-29 14:17] jan-janssen commented on #37
It should be sufficient to just use:
[code]

The second interface is primarily used to change all atoms of one species:
https://github.com/pyiron/pyiron-meeting/blob/master/2020-08-28/jan-janssen/vasp_potential.ipynb

[2020-10-29 14:25] sy483101 commented on #37
Then how to check whether POTCAR is correctly assigned to each element in my interest?

When I use the command below:
`job.potential`
It shows the real H one only

[2020-10-29 14:45] jan-janssen commented on #37
I guess currently the only way is checking the individual elements in the POTCAR file ... the job.potential function only list each species once and it does not include the per atom definitions yet.

[2020-10-29 14:54] sy483101 commented on #37
In this case, may I ask what the function (or command) is to check the assigned POTCAR to each element?

[2020-10-29 14:57] jan-janssen commented on #37
[code]
or
[code]
And then navigate to the directory of the job to check it manually.

[2020-10-29 14:58] jan-janssen commented on #37
@sudarsan-surendralal Do you have time to work on this? It would be nice to have the potentials for individually set elements also in `job.list_potentials()`.

[2020-11-02 12:07] samwaseda commented on #39
Sorry I know I took it on but right now I have so many things to do both for pyiron and my research and I cannot find time for this issue. In principle I'll still try to fix it but for now I'm gonna get myself unassigned.

[2020-11-04 08:46] samwaseda opened #36 "Take orientation as argument in structure creation"
In the ADIS workshop, I realised several times that it is not quite straightforward to put the orientation in pyiron. It would be really nice to be able to do something like this:

[code]

This essentially follows the same convention as in ASE (I guess it was `BodyCenteredCubic` in `ase.lattice.cubic`).

[2020-11-18 10:44] sy483101 commented on #37
While I'm trying to check this issue again,
as @jan-janssen suggested, I specified the potcars differently by using

`job.potential.Zn = "/u/system/SLES12/soft/pyiron/dev/pyiron-resources-cmmc/vasp/potentials/potpaw_PBE/Zn/POTCAR"`
`job.potential.O = "/u/system/SLES12/soft/pyiron/dev/pyiron-resources-cmmc/vasp/potentials/potpaw_PBE/O/POTCAR"`
`job.potential.H = "/u/system/SLES12/soft/pyiron/dev/py

[2020-11-18 11:38] jan-janssen commented on #37
@suhyunyoo Is it possible that you just have to specify the POTCAR file in:
[code]
Otherwise it should work if you specify each potential individually:
[code]

[2020-12-04 09:37] liamhuber opened #35 "Structure methods could treat PBC better"
**Summary**

There are many methods of `Atoms` that rely on periodic boundary conditions, but when these are set partially or completely to `False`, they misbehave *silently*. That they behave differently than intended is expected is totally fair, but it let's make the results more transparent.

**Example**

Here, we play with `wrap` and see that without PBC it simply silently does nothing

[code]

[2020-12-04 10:59] liamhuber opened #34 "Structure conversion functions to methods"
**Summary**

We currently have functions in `pyiron.atomistics.structure.atoms` to convert our `Atoms` class to pymatgen and ASE formats. Let's modernize the interface to these and make them accessible without explicit deep imports.

**Current**

[code]

**Suggested**

[code]

And similarly for ASE.

Anyone want to implement this? 😸 I suggest the following steps:

- Take the current conversion imp

[2021-01-08 09:46] liamhuber opened #9 "Atomic spins could be an attribute"
Right now we need `structure.set_initial_magnetic_moment(*args, **kwargs)` to add spins to our atomic structures. But spin is just a per-atom property like position -- can we just set these as an attribute, e.g.

[code]

[2021-01-09 10:22] jan-janssen opened #4 "Atomistic vs. Atomistics"
We have to decide how to name the pyiron package for simulation with atoms. The previous conda package was named pyiron_atomistics https://anaconda.org/conda-forge/pyiron_atomistics/ in the recent split we named the package atomistic https://github.com/pyiron/pyiron/pull/1283 .

My personal preference is `pyiron_atomistics`.

[2021-01-09 11:10] jan-janssen commented on #4
The next package release version is going to be 0.2.0

[2021-01-09 13:31] #4 closed, assigned to nobody

[2021-01-10 14:44] sudarsan-surendralal commented on #9
Should I implement this here or should I shift the issue to `pyiron_atomistics`?

[2021-01-10 15:23] jan-janssen commented on #9
Please shift to `pyiron_atomistics`.

[2021-01-13 09:14] pmrv opened #11 "Regular Lammps output ends up in error.out of master jobs"
**Summary**

I'm running a parallel master job, that spawns a few lammps jobs.  The lammps jobs finish correctly, but when I check the `error.out` of the master (for an unrelated error), somehow the normal lammps output of the children is in there, which makes it harder to find the actual error.  Curiously the `error.out` of the children are empty.

**pyiron Version and Platform**

'0.3.20.post.de

[2021-01-19 09:32] jan-janssen opened #27 "ASE removed rotate_euler"
Now the unit tests fail with:

[code]

[2021-01-19 09:35] jan-janssen commented on #27
# Old

[code]

# New

[code]

Changed in 3.14.0 https://gitlab.com/ase/ase/-/blob/master/doc/releasenotes.rst

[2021-01-19 10:20] #27 closed, assigned to nobody

[2021-01-20 10:08] Leimeroth opened #31 "Lammps error when using openkim potentials"
**Summary**

Lammps jobs abort when using openkim potentials

**pyiron Version and Platform**
conda to install dependencies, pyiron in recent git version

**Expected Behavior**
jobs with kim potentials run like jobs with other potentials

**Actual Behavior**
Lammps throws an error like this one:

[code]

**Steps to Reproduce**
Try to run a lammps job with a potential that states kim_init in config

[2021-01-20 10:24] jan-janssen commented on #31
OpenKIM SNAP models are not implemented in pyiron at the moment. You can manually modify the input file to match the modern OpenKIM syntax https://lammps.sandia.gov/doc/kim_commands.html which is required for these new potentials but by default pyiron is still using the traditional `pair_style` and `pair_coeff` commands.

[2021-01-20 10:36] jan-janssen commented on #31
Just for clarification all other OpenKIM potentials should work, as explained in:
https://github.com/pyiron/pyiron/issues/1293#issuecomment-762305260
but they require the `openkim-models` conda package to be installed which is not included in the pyiron dependencies and has to be installed manually.

[2021-01-20 10:45] Leimeroth commented on #31
So every potential that does not start with SNAP should work ?

[2021-01-20 10:52] jan-janssen commented on #31
Yes I tested it here https://github.com/jan-janssen/pyiron_test_potentials as explained in https://github.com/pyiron/pyiron/issues/1293#issuecomment-762305260

[2021-01-20 11:06] Leimeroth commented on #31
In your mybinder version the potential config starts with pair style kim in mine it starts with kim init. Did you change that manually?
[kim_init EMT_Asap_MetalGlass_PaduraruKenoufiBailey_2007_CuZr__MO_987541074959_001 metal\n, kim_interactions Cu Zr\n]

[2021-01-20 12:36] jan-janssen commented on #31
The binder version is installed based on the dependencies in https://github.com/jan-janssen/pyiron_test_potentials/blob/master/binder/environment.yml there are no manual manipulations to the files.

[2021-01-20 13:42] Leimeroth commented on #31
I tried a few more things and for some reason the resources downloaded using pyiron.install() (pyiron version 0.4.0 dev5) are different from the ones coming with the conda installation even when are both the same version.

[2021-01-20 14:04] jan-janssen commented on #31
Ok, now I see what is causing the issue - I tried to fix it in https://github.com/pyiron/pyiron-resources/pull/29

[2021-01-20 14:20] jan-janssen commented on #31
The update resources are included in the next version of `pyiron_base` https://github.com/pyiron/pyiron_base/pull/150

[2021-01-20 17:08] #9 closed, assigned to sudarsan-surendralal, samwaseda

[2021-01-21 14:10] pmrv opened #33 "Read the docs broken"
Since the atomistics split the normal readthedocs page doesn't have any API docs anymore.

[2021-01-22 13:18] jan-janssen commented on #31
Can you try to update to pyiron_base 0.1.45 ? and test if the install works then?

[2021-01-22 13:21] Leimeroth commented on #31
I did and it works, just forgot to report back here sorry

[2021-01-22 13:21] #31 closed, assigned to nobody

[2021-01-22 16:33] pmrv opened #41 "get_structure() is slow"
I did some brief profiling that identified two problems:
1. the connection to the database can take a significant amount of time, a few seconds per call and it seems to get triggered a few times.
2. conversions of numpy arrays from/to python lists when reading the positions and indices.

To load the final structure of ~1000 atoms from a 20000 steps trajectory takes around *30s*, around 1/3 of that

[2021-01-22 19:50] ibrsam opened #42 "Phonon Band Structure"
How to get the phonon bandstructure using pyiron?

[2021-01-22 20:15] jan-janssen commented on #42
https://github.com/pyiron/pyiron_atomistics/blob/master/notebooks/phonopy_example.ipynb

[2021-01-22 20:36] jan-janssen commented on #42
I just noticed that the current public example does not included the band structure, so currently it is only available in the old internal example:
https://github.com/pyiron/pyiron-meeting-mpie/blob/master/handbook/7-thermodynamics/7-3-phonopy/phonopy.ipynb
Maybe you can update the example in this repository and add the band structure calculation to it.

[2021-01-22 22:46] ibrsam commented on #42
Thanks! I will do it.

[2021-01-22 22:46] #42 closed, assigned to nobody

[2021-01-23 08:02] samwaseda opened #43 "Quasi Harmonic Job difficult to use"
I recently talked about the doc string of the quasi harmonic job, but I think there are still following points that I would like to raise (you have to have run a QHA job, otherwise it's probably difficult to follow what I say below):

- Most of the people want a quick insight into the temperature dependence and are not badly concerned about small details (meaning I don't think people want to chang

[2021-01-24 14:29] pmrv opened #45 "Difference between _key_from_property and _lst_from_property?"
Does anyone with interactive experience know what the difference between these two functions is?

https://github.com/pyiron/pyiron_atomistics/blob/bc4c32156d67d584c00f97a1877ebad598768261/pyiron_atomistics/atomistics/job/interactive.py#L444

https://github.com/pyiron/pyiron_atomistics/blob/bc4c32156d67d584c00f97a1877ebad598768261/pyiron_atomistics/atomistics/job/interactive.py#L424

They seem do t

[2021-01-27 08:04] samwaseda commented on #43
Due to lack of interest, I create it for myself in `pyiron_mpie`.

[2021-01-27 08:04] #43 closed, assigned to nobody

[2021-01-28 12:49] pmrv opened #48 "ase_to_pyiron is slow"
I'm currently importing a large number of ase structures into a structure container and have noticed it is exceedingly slow.  Importing 1000 structures takes ~40s, 10000 ~4min or longer.  After some profiling I identified `ase_to_pyiron` and this line

https://github.com/pyiron/pyiron_atomistics/blob/d9145e632d8871cfe8f6b4bdd1e867be8f7d773a/pyiron_atomistics/atomistics/structure/atoms.py#L163

as

[2021-01-28 12:55] jan-janssen commented on #48
@sudarsan-surendralal Do we still use the pyiron Elements or can we use the ASE Elements now that our Atoms class is derived from the ASE Atoms class?

[2021-01-28 16:04] sudarsan-surendralal commented on #48
I don't think there's an element class in `ase` since they simply use strings to represent elements.

I think the problem is that this lookup is done for every element in the structure rather than just every unique species. I'll open a PR soon

[2021-01-28 16:24] pmrv commented on #48
Honestly I'm not sure if that's enough, the average number of atoms in the data set I used is ~11, so that's the best speedup you could get.  The profile shows that `ase_to_pyiron` spends essentially all its time in that one line and that for a feature that I have never used.  Is it (easily) possible to load this information only when it is actually accessed, i.e. if someone asks for the mendelev

[2021-01-28 16:44] sudarsan-surendralal commented on #48
Wouldn't a 10x improvement be a significant improvement though?

I think there are some users who need such features  for user defined element (for example atoms having completely different valence states). So I think we should discuss this in a larger group before we change the behaviour.

Anyway can you chank the linked PR? Perhaps that'll help

[2021-01-28 17:16] pmrv commented on #48
For now yes, since at the workshop participants won't have to do the conversion, but I still feel we should discuss (tomorrow) if we want to take a big performance hit for a rarely used feature.

Am testing it right now.

[2021-02-02 11:49] pmrv opened #58 "plot3d vector field broken with triclinic unit cells"
**Summary**

Arrows are drawn incorrectly when plotting a structure + vector field with a triclinic cells.

Not sure if this our bug or NGLView's, skimming the `plot3d` I at least didn't see anything suspicious.  Anyone more familiar with that?

**pyiron Version and Platform**

d9145e63 @ garching

**Expected Behavior**

Arrows should be rooted at atomic coordinates

**Actual Behavior**

Arrows ro

[2021-02-02 13:33] niklassiemer opened #128 "From pyiron.atomistics import Project does not work."
I am not sure how we want to handle this, however, if I am not mistaken we want to support the nomenclature `from pyiron.atomistics import Project`. Right now, we bind the `atomistics` module of `pyiron_atomistics` to `pyiron.atomistics` to be backwards compatible. Any thoughts about how to resolve this naming conflict?

https://github.com/pyiron/pyiron/blob/40f43e069bd963bea2c48602220b5b2df077618

[2021-02-02 19:44] sravankumarkb opened #62 "Request for function for doing bader charge analysis"
**Summary**

Hello everyone,
I am looking for a function in pyiron to do Bader charge analysis.

**Detailed Description**

Usually, it can be done with an executable developed by Prof. Henkelman. [(http://theory.cm.utexas.edu/henkelman/code/bader/)](url)

This executable generates a file (ACF.dat) with the charges of the atoms.
It would be nice to have a function that can run this executable, gene

[2021-02-03 08:21] sudarsan-surendralal commented on #62
I've done this in a very un-pyironic way. That is I've installed the bader program on the cluster (not using conda forge). And then I call the bader script through python for the data generated through pyiron jobs. If you are looking for an urgent fix, I can share these scripts to you. However, for the long teem, we probably need to first create a bader installation on `conda-forge` and the create

[2021-02-03 08:25] sravankumarkb commented on #62
Yes,  it would be great  if you could share the scripts with me.  Thank you
 Sudarsan :)

On Wed, Feb 3, 2021, 09:21 Sudarsan Surendralal <notifications@github.com>
wrote:

[2021-02-03 08:26] jan-janssen commented on #62
The bader code is already available on conda-forge https://anaconda.org/conda-forge/bader/

[2021-02-03 08:37] jan-janssen commented on #62
@sravankumarkb and @sudarsan-surendralal it would be great if the two of you can create a pyiron job type for the bader analysis.

[2021-02-03 08:38] samwaseda commented on #62
I guess @yuyuanjingxuan was also interested (actually I told him I'd implement it at some point, which turned out to become one of my empty promises...)

[2021-02-03 10:03] sudarsan-surendralal commented on #62
@sravankumarkb Here are the (poorly documented scripts I use).

First, there's a python script that I place in a suitable directory which creates volumetric cube files of the charge densities provided the pyiron job numbers are given. Let's call this `cube_generator.py`.

[code]

Then I call this to operate on finished pyiron vasp jobs (with the core and valence charges already written out (see th

[2021-02-03 11:53] niklassiemer commented on #128
Could we copy the API of the global `pyiron_atomistics.__init__` to the `pyiron_atomistics.atomistics` such that we allow for the new type of initialization of the `Project` for a temporary fix until we deprecate `from pyiron import Projecy`?

[2021-02-03 12:53] jan-janssen commented on #128
Is not the underlying issue:
[code]
Then it might be better to fix:
[code]
But this would again break the backwards compatibility.

[2021-02-03 14:31] niklassiemer commented on #128
Yes, that's exactly our problem... I just thought about a way to not instantly break backwards compatibility and to warn the users before we actually break it. However, the new syntax should also be working right now.
Therefore, copying the API was the only solution I could think of to support
[code]
However, we would only have the API of the new `pyiron.atomistics = pyiron_atomistics` reachable..

[2021-02-04 17:49] sy483101 opened #126 "How to create the pseudohydrogen potential with modified valency (ZVAL)"
**Summary**
I'd like to create a pseudohydrogen potential with the modified valency (ZVAL)
e.g. potpaw_PBE/H.5/POTCAR with ZVAL = 0.48

But I faced at two errors and it would be great if there's way to solve it.
1. an error reading the element name "H.5"
2. Permission problem when writing potential file

**pyiron Version and Platform**
location of pyiron I'm using: /u/system/SLES12/soft/pyiron/dev

[2021-02-04 21:44] sudarsan-surendralal commented on #126
The problem is that you are currently using the global default resources directory (for binaries and potentials) that is common to all users. Therefore, you will not be able to create new potentials since you do not have write permissions on this directory. You should copy the above pyiron-resources-cmmc folder to some place on your `/u/cmmc` directory and add this path in your `.pyiron` file at y

[2021-02-05 08:02] jan-janssen commented on #11
This is related to the use of the multi processing package:
https://github.com/pyiron/pyiron_base/blob/master/pyiron_base/job/generic.py#L878
When you run a master with non modal children you can even see it in the jupyter notebook. It is sometimes helpful for debugging but I agree that it should be disabled by default.

[2021-02-05 08:10] jan-janssen commented on #38
As far as I see this was addressed by yourself in https://github.com/pyiron/pyiron/pull/1083 so we can close this issue. If this is not fixed feel free to open the issue again.

[2021-02-05 08:12] jan-janssen commented on #37
@suhyunyoo What is the status of this issue? Is it related to https://github.com/pyiron/pyiron/issues/1306 ? I am just wondering if we can close some old issues, so maybe you can give us some quick feedback if the suggestions worked for you.

[2021-02-05 08:16] jan-janssen commented on #45
As far as I can see the only difference is that for one tilmestep we either store a single entry - like the potential energy - or a matrix like the cell dimensions.

[2021-02-05 08:21] jan-janssen commented on #36
@samwaseda Any update on this issue? I guess it should be easy to implement based on the surface functions we have already https://github.com/pyiron/pyiron_atomistics/blob/master/pyiron_atomistics/atomistics/structure/factory.py#L61

[2021-02-05 08:31] sy483101 commented on #37
Now I'm working on this again. I believe I can post the way to solve this issue sooner and I'll close it.

[2021-02-05 08:44] sy483101 commented on #37
The way to specify pseudopotential for different element which worked for my case is this:
Case: The system where the normal H and psH exist together
1. Set the general functional to all elements of the system
`job.input.potcar["xc"]` = 'PBE'`

2. Create psH element by:
`psh_pot = pr.create_element(new_element_name="psH050", parent_element="H", potential_file="H.5")`
3. set the new potential to th

[2021-02-05 08:44] #37 closed, assigned to nobody

[2021-02-05 08:57] t-brink commented on #38
This has nothing to do with pyiron/pyiron#1083, this bug still exists. If you look at the files in my second comment, they have not been touched by the referenced PR. There is currently a database problem on the cluster, so I cannot test it, but would you please run the provided minimal example in the original comment before assuming this is fixed?

[2021-02-05 09:40] jan-janssen commented on #38
What about?
[code]

[2021-02-05 09:58] t-brink commented on #38
I think you are misunderstanding the bug. What you posted might well work, but is completely irrelevant because it doesn't change the shear of the box (if I remember correctly). What about:

[code]

(Please also note the crucial part that the input structure has to be orthogonal with zero shear components! If the input box is already "triclinic", as it is called in LAMMPS, then this should works.)

[2021-02-05 10:02] jan-janssen commented on #38
So you mean communicating the `change box` from pyiron to LAMMPS once the strain changes, like it is done for interactive jobs in https://github.com/pyiron/pyiron_atomistics/pull/63

[2021-02-05 10:07] samwaseda commented on #38
I'll take care of this one.

[2021-02-05 11:00] sy483101 commented on #126
@sudarsan-surendralal Thanks a lot. Once I change the python path, the first permission error is solved.
But the second issue is that what you suggested
`new = potential_file_creator(element="H", charge=0.02)`
creates the hydrogen POTCAR not psH POTCAR (named H.5) with modified ZVAL 0.980.

The one I'd like to create is H.5 POTCAR with ZVAL 0.480.
Do you have any suggestion?

[2021-02-05 11:13] sy483101 commented on #126
When I manually create the new folder with the modified psH POTCAR file, there's no problem to use it. I think that not that many people are using psH POTCAR. So I'm not sure whether I close this issue as it is since this function is not in high priority.

[2021-02-05 12:10] sudarsan-surendralal commented on #126
Can you try the following:

`new = pr.create_element(element="H", species_name="H_0_5",  pseudo_potcar_file=<path to the potential file>)`

[2021-02-05 12:33] sy483101 commented on #126
when I manually create POTCAR psH0.480 in the potential folder, I can use that function like:
`psh_pot = pr.create_element(new_element_name="psH048", parent_element="H", potential_file="H.5_tmp_0480")`
and then link to psH atoms in the system like:
`job.structure[0] = psh_pot`

However, the create_element function doesn't create the new potential.

[2021-02-05 12:38] sudarsan-surendralal commented on #126
Ah I misunderstood, try the following:

` new = potential_file_creator(element="H", charge=0.52)`

[2021-02-05 12:43] sy483101 commented on #126
It creates the H POTCAR with ZVAL = 0.480 by modifying the ZVAL value of H POTCAR
However this POTCAR is different with psH0.50 POTCAR with ZVAL = 0.480.
What I need to create is to modify ZVAL value of H.5 POTCAR in the potential library :(

The issue is that element="H" in potential_file_creator(element="H", charge=0.52) doesn't distinguish between H and H.5 in the library.

[2021-02-05 13:15] liamhuber opened #64 "Packaging more input into `input`"
# Summary

As discussed in the last couple of meetings, we'd like to get more and more of the input for a job into `job.input`, thus making it more amenable to saving, copying, etc. -- functions which sometimes fail at present (e.g. copying a vasp job loses all changes to the pseudopotential).

In principle this applies to all jobs, but those in the atomistic module are the most widely used and th

[2021-02-08 19:21] #45 closed, assigned to nobody

[2021-02-09 15:01] jan-janssen opened #69 "Changing the number of atoms in a structure"
Updating the number of atoms in a structure no longer works - presumably since we switched to ASE structures, but it is required for example for interactive jobs running monte carlo simulation:
https://github.com/pyiron/pyiron_atomistics/blob/master/pyiron_atomistics/atomistics/job/interactive.py#L271

Here is an example code that worked previously:
[code]

Now the last line fails with:
[code]

Th

[2021-02-09 15:47] jan-janssen opened #70 "Elements can not be used as dictionary keys"
But we still use this functionality in:
https://github.com/pyiron/pyiron_atomistics/blob/master/pyiron_atomistics/lammps/interactive.py#L423

The output of the following lines is `true` as expected:
[code]

But the following fails:
[code]

With:
[code]

Again the issue is related to the potential fitting workshop as the functionality is used to fit interatomic potentials with LAMMPS directly.

[2021-02-09 20:02] #69 closed, assigned to nobody

[2021-02-09 20:02] #70 closed, assigned to nobody

[2021-02-11 10:34] sy483101 commented on #126
Even though this issue is not fully solved yet, there's an indirect way to solve it. So I close it at the moment.

[2021-02-11 10:39] sudarsan-surendralal commented on #126
@suhyunyoo, So I'll be working on a new potential class that should hopefully solve this. So I reopen this issue

[2021-02-12 07:59] samwaseda opened #75 "-partition possible?"
On [this page](https://github.com/lammps/lammps/blob/master/examples/prd/in.prd), there's an example for Parallel Replica Dynamics with LAMMPS. Here, I see the command:

[code]

I wonder whether `-partition` is available in pyiron. This should be analogous to NEB. If not, is there a good way to incorporate it?

[2021-02-12 08:17] samwaseda commented on #58
Can you give more details for me to reproduce the problem? The following lines seemed to be fine:

[code]

<img width="204" alt="test" src="https://user-images.githubusercontent.com/37879103/107744512-19d30c80-6d13-11eb-9e16-7092d56e39eb.png">

[2021-02-12 08:48] jan-janssen commented on #75
Not yet, but you can we can add a separate executable script.

[2021-02-15 05:49] samwaseda commented on #75
Hm ok thanks

[2021-02-15 05:49] #75 closed, assigned to nobody

[2021-02-15 07:01] samwaseda opened #127 "How to cite papers in docstrings"
I know that pyiron has the feature to show all papers involved, but I'd like to talk about more practical cases, namely when the user wants to see the original paper quickly. I just wanted to raise this point briefly in order to share the common base with everyone.

The specific example below is related to `set_mixing_parameter` in VASP and SPHInX, where we use either the linear (aka Kerker) mixer

[2021-02-15 08:04] jan-janssen commented on #75
I would create a separate shell script. And then in the shell script use the thread variable `$2` to split the partition. It is a hack but it should work for now.

[2021-02-16 07:56] pmrv commented on #127
Does sphinx render markdown links on the final documentation webpage?  In any case I'd prefer a plain text link to the doi, since we'd expect to docstring also to show in e.g. a jupyter notebook and then it's easier to copy it that way.

[2021-02-16 11:59] liamhuber commented on #127
I like the third one. We definitely want a link to the DOI, but sometimes you're just looking for the key name(s) associated with the method. DOI > human-readable, but other than a bit of ugliness when it's not MD-formatted, I don't see any reason to not just have both.

[2021-02-18 09:01] pmrv commented on #58
[code]

It seems only some directions are affected, which does sound like something is not properly rotated somewehre.

![plot](https://user-images.githubusercontent.com/2719909/108332556-35855980-71d0-11eb-97d4-3e6f35f351de.png)

[2021-02-18 09:14] pmrv commented on #33
Fixed for a while, but I forgot to close it.

[2021-02-18 09:14] #33 closed, assigned to pmrv

[2021-02-19 07:52] samwaseda opened #82 "get_neighborhood not working for num_neighbors = 1"
This doesn't work:

[code]

[2021-02-20 05:59] liamhuber opened #85 "Tag not a release?"
pyiron_contrib [requires pyiron_atomistics=0.2.3](https://github.com/pyiron/pyiron_contrib/blob/master/.ci_support/environment.yml), but although we have an 0.2.3 tag [0.2.2 is showing as the latest release](https://github.com/pyiron/pyiron_atomistics/releases/tag/pyiron_atomistics-0.2.2). I think pushing the new release is probably preferable to downgrading the contrib dependency, so I'm posting

[2021-02-20 06:00] liamhuber commented on #85
I can't remember who on the dev-dev team was handling releases now, so I just assign all three, sorry to whoever was not touching this ;)

[2021-02-20 06:20] jan-janssen commented on #85
For creating a pip package we only need a Git tag and that is the one we reference in the setup.py and which is also used for the conda package. @niklassiemer in addition created GitHub releases

[2021-02-20 07:07] liamhuber commented on #85
Somehow `conda update pyiron_contrib` is still stuck at 0.2.2. I should have dug deeper though as you are, of course, absolutely right and 0.2.3 is showing up on conda and in my pycharm package manager. I'm still having trouble getting it installed, but I think that's just on my end.

[2021-02-20 07:07] #85 closed, assigned to pmrv, Ahmed-Aslam, max-hassani, niklassiemer

[2021-02-25 21:44] liamhuber commented on #64
@pmrv A chokepoint for me right now is that structures can't be saved. How much work would it be to get this working?

[code]

[2021-02-26 07:39] samwaseda opened #87 "Warning when expected memory potentially too large"
It occurred to me several times that I submit a LAMMPS job for a relatively large structure with a relatively large number of steps and I surpass the memory limit. In the case of MPIE cluster, this forces all simulations to stop since there wouldn't be any update to the output anymore. This problem is mostly avoided in the traditional LAMMPS calculations, because there we have to specify the frequ

[2021-02-26 07:55] pmrv commented on #64
This works already in [this PR from last year](https://github.com/pyiron/pyiron_base/pull/70).  Back then we decided not to merge it on architectural reasons and because we thought the HDF5 rewrite would come in "soon".  I still think that this is pretty much the most minimal change to achieve saving structures, so if it is urgent I'd say we re-activate it.

[2021-02-26 07:57] liamhuber commented on #87
I don't have any objection to the idea but I would want to be careful that the implementation is (a) actually useful and (b) doesn't clutter the code too much.

For (a) my main concern is specifying how much warrants a a warning? I guess this would need to be stored in the .pyiron config file? I suppose it should be possible to accurately map size*steps/print_period to get a memory estimate, but I

[2021-02-26 08:01] liamhuber commented on #64
Urgent might be overkill...

![I want it](https://media.giphy.com/media/xTZGC0vnEmNDq/giphy.gif)

Let's talk about it briefly in the meeting. If there's time I can even show the application I have in mind. Overall I'm in favour of merging the solution if it already exists.

[2021-02-26 20:08] samwaseda commented on #87
I would claim the problems requiring larger systems are also quite complex, so they tend to require also a relatively complex input structure. At least in my case it happens very often that I check the physics in detail, and forget about the numerical aspect in the end.

And as an example for a system of 10^6 atoms (which is not very large) with 1 ns (which is not very long), my quick estimation a

[2021-03-01 06:05] niklassiemer commented on #87
The available RAM is per node, so would you issue a warning on the server object if the estimated RAM is in the order of nodes times RAM per node or/and if the requires RAM is 'gigantic'?
At what point of the run do these calculations requiring to much RAM actually crash? In the beginning or after some extended calculations?
The hard part would be to estimate a sensible order of magnitude for the

[2021-03-01 06:27] samwaseda commented on #87
Here I'm talking about disk space, but RAM is certainly also something we should look into.

[2021-03-01 06:45] niklassiemer commented on #87
Ops, thanks for pointing this out!
In this case, I am just fine with a warning if the expected output is bigger than a threshold which can be changed in `.pyiron`.

[2021-03-01 07:42] jan-janssen opened #91 "Moving yaff and quickff to pyiron_gpl"
@SanderBorgmans Based on the strict interpretation of the `GPL` license it is not allowed to include a `GPL` library in an `BSD` licensed project. This is solved by the `LGPL`. So my suggestion would be to migrate `yaff` and `quickff` to `pyiron_gpl`. From the user side nothing changes as long as you import `pyiron`, because both `pyiron_atomistics` and `pyiron_gpl` are loaded in the background wh

[2021-03-01 08:25] SanderBorgmans commented on #91
@jan-janssen Sounds fine to me. I'll have to take a look at the changes within pyiron soon, as it has been some time since I compared to the master branch (and I have seen/heard of many changes). There have been some updates to the hpc_ugent_2020 branch, in particular I have been looking at QChem and Raspa, which hopefully should have a basic plugin implemented in a couple of months.

[2021-03-01 09:47] jan-janssen commented on #91
Sounds good then I go ahead with the migration.

[2021-03-02 09:26] #82 closed, assigned to samwaseda

[2021-03-03 13:24] liamhuber commented on #64
@pmrv I'm still getting the same error with this:

[code]

Even though [Base #70](https://github.com/pyiron/pyiron_base/pull/70) is merged. [Base #216](https://github.com/pyiron/pyiron_base/pull/216) is a bit disconcerting looking; did something go wrong after all? Can you reproduce my error?

[2021-03-03 13:32] jan-janssen commented on #64
@liamhuber We decided to revert those changes as they broke the Sphinx class https://github.com/pyiron/pyiron_atomistics/pull/92 as well as atomicrex https://github.com/pyiron/pyiron_contrib/pull/65

[2021-03-03 13:35] liamhuber commented on #64
@jan-janssen do we have a plan to restore the functionality? Getting `Atoms` stored in the `InputList` goes a long way to getting input moved over to `InputList`, and I now have two active and ongoing projects waiting for this functionality.

[2021-03-03 13:38] jan-janssen commented on #64
@liamhuber Sure it remains on the list, it is just like I explained in the Tuesday meeting when outdated libraries are added and core functionality breaks then there is something wrong with our review process. So we have to find a way to break these larger changes down in smaller blocks and simplify the review process. Adding more unit tests would be one way to do this.

[2021-03-03 13:55] liamhuber commented on #64
Ok. The original solution was from last November... I will custom hack around it saving structures elsewhere.

This is a false equivalence, [base #70](https://github.com/pyiron/pyiron_base/pull/70) added no dependencies.

Agreed!

No objection, although it isn't always sensible to decompose PRs into smaller pieces.

I'm not convinced this where the problem is coming from in this case. Changes in b

[2021-03-03 13:56] liamhuber commented on #64
Anyhow, I will close this issue. It is not sensible until `InputList`/`DataContainer` can handle complex data types.

[2021-03-03 13:56] #64 closed, assigned to nobody

[2021-03-08 11:03] #38 closed, assigned to samwaseda

[2021-03-10 09:08] pmrv opened #114 "Calling list_potentials() multiple times gives longer list every time"
**Summary**

Calling `list_potentials` on a lammps job increases the list of available potentials every time it is called.

**pyiron Version and Platform**

POTENTIALS workshop environment.

**Steps to Reproduce**

Create a lammps job and call `list_potentials` a few times

[code]

[2021-03-10 17:30] niklassiemer commented on #87
What would we consider a good value for such a (default) threshold?

[2021-03-10 17:52] samwaseda commented on #87
100 GB, 1 TB ?

[2021-03-10 17:56] niklassiemer commented on #87
ok, this is an awful lot of data considering an personal computer, so I would rather go for the lower threshold and let more experienced/ HPC users extend this in the `.pyiron` config.

[2021-03-11 09:50] #114 closed, assigned to nobody

[2021-03-11 10:00] liamhuber commented on #87
Ah, I had also understood it as a RAM threshold! If we're talking storage threshold then I guess we care about `len(structure) * n_ionic_steps / n_print`.

I agree with Niklas that a lower threshold is wise, especially since we're talking about (a) for a *single* calculation, and (b) it's only a warning anyway and won't stop anything. I would suggest 10GB estimated storage for a single run is alre

[2021-03-11 10:04] samwaseda commented on #87
Yeah sorry I shouldn't have said memory since a normal person would indeed understand RAM :D.

I'm also fine with 10 GB. What basically happens to me is that I get something which is by orders of magnitude too large. So whether it's 1 TB, 100 GB or 10 GB doesn't really matter.

[2021-03-11 10:14] niklassiemer commented on #87
And you could set it to 100GB if you want to. On HPC systems with big structures and reasonable long trajectories 10GB might trigger a warning each run...
I can have a look at the settings which parses the `.pyiron` to add a new flag there. However, you would need to implement the storage estimation and the warning based on the settings item.

[2021-03-15 18:58] samwaseda opened #116 "selective_dynamics doesn't appear in the list of tab completion"
From what I know even after setting:

[code]

`selective_dynamics` does not appear in the tab completion list, even though it can (or maybe even *should*?) still be accessed via `structure.selective_dynamics`. I wouldn't call it a bug but it would be really nice to have it tab-completable.

[2021-03-15 20:13] liamhuber commented on #116
From my perspective `selective_dynamics` is vestigial VASP-centric syntax that should be purged. From a quick google Vasp is the main (only?) code that uses this phrase, and it's not a native part of the `ase.Atoms`, but ASE has it tucked away in `ase.io.vasp`. We don't associate forces, energies, or even velocities with `Atoms` right now (although for velocities one can make a good case!) so why

[2021-03-16 09:33] sudarsan-surendralal commented on #116
@samwaseda I think the linked PR should fix this

I see your point and it would eventually make sense to attach this to the calculator rather than the structure. This tag is attached to the `Atoms` object for historical reasons. The name, even though VASP centric makes sense to me though (maybe I'm biased because I mostly use VASP for atomistic simulations).

I think a lot of our existing protocol

[2021-03-16 09:37] samwaseda commented on #116
I guess whether VASP-centric or not is a smaller problem. The bigger problem is that the name `selective_dynamics` not only does not give you an intuitively clear idea what it means, but also even if you know what it in principle does, it's impossible to know whether `True` freezes the atoms or `False`.

[2021-03-17 12:10] #91 closed, assigned to nobody

[2021-03-19 09:44] edmen-dev opened #131 ""import pyiron.atomistics" does not work"
**Summary**

A simple cell containing "import pyiron.atomistics" does not work, providing the following error:
ImportError: cannot import name 'gaussian' from 'pyiron_atomistics' (/u/system/SLES12/soft/pyiron/dev/anaconda3/lib/python3.7/site-packages/pyiron_atomistics/__init__.py)

pyiron_atomistics.__file__:
'/u/system/SLES12/soft/pyiron/dev/anaconda3/lib/python3.7/site-packages/pyiron_atomistics

[2021-03-19 09:56] sudarsan-surendralal commented on #131
I think the reason is that the pyiron version on the cluster should be updated to include the changes in these lines:

https://github.com/pyiron/pyiron/blob/3a402275e610316bc8978066c1759ee39133738a/pyiron/__init__.py#L18-20

@jan-janssen @muh-hassani

[2021-03-19 10:03] max-hassani commented on #131
@sudarsan-surendralal, I have updated pyiron_atomistics, but the error still persists.
[code]

[2021-03-19 10:10] sudarsan-surendralal commented on #131
@muh-hassani I think you should update pyiron not pyiron_atomistics

[2021-03-19 10:12] max-hassani commented on #131
it solved the issue.

[2021-03-19 10:12] #131 closed, assigned to nobody

[2021-03-19 10:14] edmen-dev commented on #131
Thank you, now it works.

[2021-03-23 21:59] mostafajoulaian opened #140 "changing input parameter in sphinx"
**Summary**

as initial parameter in sphinx for field evaporation calculation but I can not do it see below

**pyiron Version and Platform**

I used latest version of pyiron in cloud
**Expected Behavior**

I try to do field evaporation calculation and want to set to initial parameter as input (charge and z) same as

- [ https://github.com/pyiron/pyiron/pull/592]
    job.input.sphinx.initialGuess.r

[2021-03-24 06:09] pmrv commented on #140
Your hunch is correct, the problem is putting the literal dictionary in the input list.  For a quick fix convert the dictionary to a sphinx `Group` manually, like so
[code]
or
[code]

Meanwhile we should make this work more seamlessly.  When we set dictionaries to `Group` we don't really want wrap them in `Group` recursively (we did this before and it was messy), but maybe we can just wrap the "fi

[2021-03-24 07:14] mostafajoulaian commented on #140
Thank you for your answer.
my problem is temporary solved. I totally agree with your approach. however I think maybe it is nice to update error message as well. """Illegal character"""  does not give you sufficient information about what exactly problem is.
I will close the issue.

[2021-03-24 07:15] #140 closed, assigned to nobody

[2021-03-24 07:16] jan-janssen commented on #140
In addition once the group class is updated please also update the example notebook in https://github.com/pyiron/pyiron_generalized_dipole/blob/master/dipole.ipynb

[2021-03-25 07:25] samwaseda commented on #116
@sudarsan-surendralal Is there a particular reason that this issue should be reopened?

[2021-03-25 09:20] sudarsan-surendralal commented on #116
The original issue is solved. But I thought the naming and the fact that it is tagged to the `Atoms` class isn't solved.

[2021-03-25 11:48] caglayanoaras opened #143 "unwrapped_positions"
I have a question rather than an issue. For an 128 atom BCC Ti, If I plot the positions of atoms, I get the figure below:
![wrapped](https://user-images.githubusercontent.com/56139345/112466112-c3bba500-8d65-11eb-99f3-63a03a95526b.PNG)

If I plot the 'unwrapped_positions' I get this figure:

![unwrapped](https://user-images.githubusercontent.com/56139345/112466182-d7ffa200-8d65-11eb-9bf8-180c79600

[2021-03-25 12:29] liamhuber commented on #143
It looks fine to me. For instance, if I look at the cluster around (10, 3.5) the `positions` seems to have fewer entries than `unwrapped_positions`. Since you apply a filter $z \in (-0.2, 0.2)$ the `positions` loses all entries that got wrapped around to the top of the supercell at some point, while the unwrapped positions keep everyone who didn't oscillate by >|0.2|. Thus, density(unwrapped) > de

[2021-03-25 14:01] samwaseda commented on #116
Ok but that's a different topic so I'm gonna close this one.

[2021-03-25 14:01] #116 closed, assigned to sudarsan-surendralal

[2021-03-25 14:16] sudarsan-surendralal commented on #143
In addition to what @liamhuber nicely explained, you could also check `np.min(pos[:, :, 0)`, `np.min(pos[:, :, 1)`, `np.max(pos[:, :, 0)`, `np.max(pos[:, :, 1)`. For wrapped positions, these values should be positive but less than the supercell length along that direction.

[2021-03-25 17:15] #143 closed, assigned to nobody

[2021-03-29 08:41] pmrv commented on #41
Closed by #46.

[2021-03-29 08:41] #41 closed, assigned to nobody

[2021-04-09 08:30] fldei101 opened #150 "lammps job with other executable crashes"
**Summary**
Dear all,

I have a problem running my own lammps executable on the hpc with pyiron. I was not sure where to post it, hopefully it is fine here. I try to adapt one of the sh files in the bin folder to run pyiron jobs with my own executable (I need this because I included a new fix). When I try to run the job it crashes immediately. I use the same submission command for lammps jobs with

[2021-04-09 08:56] max-hassani commented on #150
I think you should add the path to your executable in your `.pyiron` file within your home directory. Have you done that?
An instruction for that is given [here](https://pyiron.readthedocs.io/en/latest/source/installation.html#use-your-own-executable-for-lammps-s-phi-nx-or-gpaw)

[2021-04-09 09:51] fldei101 commented on #150
If I understand correctly this is what I have done. I copied the cmmc-resources folder to my directory, changed the path in the ```.pyiron``` file. Then I did the changes I described in my issue report. And finally I restarted my jupyter.
```module load lammps/3Mar20``` should add the executable similar to the vasp executables.

[2021-04-09 11:14] niklassiemer commented on #150
Hi,
what is the name of the shell script in you bin folder? Does it contain the `mpi` flag? If not, pyiron assumes a serial computation and does not pass additional command line arguments while you expect the number of cores in `$1`.

[2021-04-09 11:18] niklassiemer commented on #150
Actually, why do you start the `serial` version with more than one core?

[2021-04-09 12:14] fldei101 commented on #150
Perfect, this was the issue. I thought it is mandatory to write ```$1``` in the submission script.

[2021-04-09 12:14] #150 closed, assigned to nobody

[2021-04-19 18:09] gongyilun opened #160 "Importing unfinished POSCAR from VASP"
Importing unfinished POSCAR from VASP (after several steps of ion relaxation) results in empty HDF5 file.

[2021-04-19 18:51] sudarsan-surendralal commented on #160
Could you please post the error message that you get and/or the POSCAR file?

[2021-04-19 18:59] gongyilun commented on #160
there is no error message when 'import_from_path', However, it gives
following error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File
"/Users/ygong/opt/anaconda3/lib/python3.7/site-packages/pyiron_base/project/generic.py",
line 1392, in __getitem__
    return self._get_item_helper(item=item, convert_to_object=True)
  File
"/Users/ygong/opt/anaconda3/lib/python3.7/s

[2021-04-19 19:52] sudarsan-surendralal commented on #160
Could you please try the following and post what happens:

[code]

[2021-04-19 20:15] gongyilun commented on #160
POSCAR & CONTCAR files are attached.
[Archive.zip](https://github.com/pyiron/pyiron_atomistics/files/6338798/Archive.zip)

[2021-04-19 21:59] sudarsan-surendralal commented on #160
I see that it is related to parsing from the POTCAR file. Just to confirm, can you rename your POTCAR file to something else and then try importing again?

[2021-04-19 22:14] gongyilun commented on #160
The POTCAR file should be fine, since I have another finished run (with
exactly the same POTCAR), and that one can be imported correctly.

On Mon, 19 Apr 2021 at 22:59, Sudarsan Surendralal ***@***.***>
wrote:

[2021-04-20 08:20] sudarsan-surendralal commented on #160
Importing the CONTCAR and POSCAR files worked fine for me. So I'll need the entire folder (incl. the POTCAR file) to figure out what is going on. Can you send this via email?

[2021-04-20 20:39] sudarsan-surendralal commented on #160
@gongyilun, as I suspected the problem seems to be in the POTCAR file.  Line 4 of your POTCAR file has `VRHFIN =r: 4s4p5s4d` while it should be `VRHFIN =Zr: 4s4p5s4d`. pyiron crashes when it tries to read the chemical element from this line. Could you fix this line, delete the job, and re-import it? Please let me know if this works

[2021-04-20 22:38] gongyilun commented on #160
Thanks! It solved the issue! Would it be possible to skip POTCAR reading
once it crashes? That would be much helpful.

On Tue, 20 Apr 2021 at 21:39, Sudarsan Surendralal ***@***.***>
wrote:

[2021-04-21 08:44] MakaEdgar opened #162 ""create_ase_bulk" does not work with Mn bcc"
**Summary**

The creation of the structure using "create_ase_bulk" for Vasp works well for many bcc elements (Fe, Cr, etc.) but fails for Mn.

The error could be reproduced by this way:
[code]

**The error log**
[code]

I will appreciate any help with this.

[2021-04-21 10:53] liamhuber commented on #162
Hi @MakaEdgar

Thanks for bringing this to our attention. I can perfectly reproduce your error on my machine as well. The root problem is the call to `ase.build.bulk`, which we are simply putting a wrapper around.

The code immediately before the raised error is this (ase.build.bulk.py -- lines 76-81) :
[code]

I don't have any deep understanding of this, but it looks like it's a known problem ove

[2021-04-22 09:24] sudarsan-surendralal commented on #160
Yes, I agree with you. I've linked a pull request which does this

[2021-04-22 16:55] pmrv opened #166 "Is MurnaghanDFT really necessary?"
A question for the DFT people: Is the murnaghan class for DFT really necessary?

https://github.com/pyiron/pyiron_atomistics/blob/master/pyiron_atomistics/dft/master/murnaghan_dft.py

From what I see, this just delegates some options to the reference job, that could be set there directly.  If no one complains I will kick it out or at least deprecate it.

[2021-04-23 08:03] pmrv commented on #166
From discussion: deprecate and remove in the future.

[2021-04-23 10:09] pmrv opened #169 "What's the difference between SQS and SQSMaster?"
Has anyone used SQS lately and knows the difference between

https://github.com/pyiron/pyiron_atomistics/blob/master/pyiron_atomistics/atomistics/master/sqsmaster.py

and

https://github.com/pyiron/pyiron_atomistics/blob/master/pyiron_atomistics/atomistics/job/sqs.py

or might even be deigned to write some docs?

[2021-04-23 13:20] jan-janssen commented on #169
The sqs job creates a set of sqs structures ranked by randomness for one concentration, the sqsmater does the same for a list of concentrations. It is primarily used for https://github.com/pyiron/phasediagram-workshop-2020/blob/master/Exercise4.ipynb

[2021-04-24 08:29] #160 closed, assigned to nobody

[2021-04-24 09:34] gongyilun opened #174 "vasp import gives warnings"
For some VASP results imported, it gives the following error when reading it:

/Users/xxx/opt/anaconda3/lib/python3.7/site-packages/h5io/_h5io.py:610: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creat

[2021-04-24 09:54] jan-janssen commented on #174
@gongyilun Thank you very much for reporting this, we are working with the h5io developers to fix this an release an updated h5io version as soon as possible.

[2021-04-27 07:45] #127 closed, assigned to nobody

[2021-04-27 07:48] samwaseda commented on #62
If it's available on conda-forge shouldn't we have bader analysis as a part of pyiron? @sudarsan-surendralal

[2021-04-27 08:17] sudarsan-surendralal commented on #62
Actually, yes. I'll add this to my todo list

[2021-04-27 08:23] #166 closed, assigned to nobody

[2021-04-27 08:45] pmrv commented on #162
FWIW, this is known in ASE world [here](https://gitlab.com/ase/ase/-/issues/738) and [here](https://gitlab.com/ase/ase/-/issues/838).

[2021-04-27 09:02] #169 closed, assigned to nobody

[2021-04-30 08:26] pmrv opened #184 "Updating `Atoms.symbols` does not update structure"
`symbols` is inherited from ASE, but never referenced from our code.  Updating it therefore doesn't have an effect on what pyiron thinks is inside the structure.

[2021-04-30 12:35] #62 closed, assigned to sudarsan-surendralal

[2021-04-30 14:14] #162 closed, assigned to nobody

[2021-05-01 11:41] sudarsan-surendralal commented on #184
@pmrv I remember a while ago Sravan mentioned a similar issue (https://github.com/pyiron/pyiron_atomistics/issues/185). We couldn't solve it then and somehow it slipped under the radar! I had a go at it again and I think I fixed it in the linked PR. Perhaps this fixes @Leimeroth's issue too?

[2021-05-01 15:52] #184 closed, assigned to pmrv

[2021-05-01 15:52] #185 closed, assigned to nobody

[2021-05-06 14:16] pmrv opened #191 "How to run Sphinx with Murnaghan on the Queue?"
I'm trying to run some simple Murnaghan with sphinx on the cluster, but something with writing the input is broken.  The following snippet runs fine on the login node, but not when submitted

[code]

The output from sphinx is

[code]

Anyone run into this before?

EDIT: The exact same setup works with VASP, so I think it's something we should fix.

[2021-05-10 09:48] pmrv commented on #191
Quick fix @samwaseda found is to explicitly call `calc_static` on the ref job.  Since it works without for VASP jobs, I think this should still either work or raise an error somewhere.

[2021-05-10 10:53] liamhuber commented on #191
@pmrv if that works, there's also a small chance that simply calling `save` on the ref job will work.

[2021-05-16 19:19] Leimeroth opened #197 "Elastic tensor and child jobs when submitting"
Also see updates 1 and 2 below, issues seems to be the storage of pressure in vasp jobs
**Summary**

ElasticTensor jobs fail for me when I submit them to our remote cluster.
I am not really sure but I think this could be related to some other weird behavior which I noticed that affects all AtomisticParallel jobs. When I submitted Murnaghan jobs with old pyiron versions (not sure which ones) each c

[2021-05-17 06:51] Leimeroth commented on #197
**Update**
For lammps jobs it seems to work, the child_ids list is still empty but it calculates the elastic tensor.
Maybe the ElasticTensor class doesn't work with vasp? It would be nice if someone with a local vasp installation could test that.

[2021-05-17 14:54] pmrv opened #202 "Can I submit an interactive job?"
I have a few thousand structures that I want to put through Lammps.  I could use a `StructureListMaster`, but I thought it's more convenient to use an interactive job and keep changing the structure (since I have the same number of atoms/alloying atoms).

I used the following snippet, but the job ends up running on the login node.
[code]

[2021-05-17 14:57] niklassiemer commented on #202
You could at least submit the whole notebook, not sure about the interactive jobs...

[2021-05-17 16:09] liamhuber commented on #202
We use interactive mode heavily in children of `Protocol`, but the protocols themselves aren't running interactively. You might be able to quickly write an `InteractiveWrapper` to accomplish what you want?

[2021-05-19 09:07] Leimeroth commented on #197
I was able to confirm that this also occurs with a local vasp installation and I think the issue is that the pressure stored in vasp jobs is a scalar, while it is a 3x3 matrix for lammps. I think it would be good to catch this somewhere in the ElasticTensor class.

Also it is a bit unclear to me if it is possible to purposely switch to calculation of elastic constants based on energy instead of st

[2021-05-19 11:33] pmrv opened #204 "Deprecate `continue_with_*` function on `AtomisticGenericJob`"
Both don't do what their names promise and imo don't add value beyond just using `restart` (in fact they poorly duplicate `restart` anyway).  Is anyone using them or otherwise has objections to me deprecating them in favor of `restart`?

See [here](https://github.com/pyiron/pyiron_atomistics/blob/66996ab6102886d4ff24c5443131a8df80f63557/pyiron_atomistics/atomistics/job/atomistic.py#L418) and [here

[2021-05-20 10:47] pmrv commented on #202
I'd like to avoid submitting the notebook, because it's a lot less flexible, but if nothing else works...

I don't understand how `InteractiveWrapper` is supposed to work, but I'll have a look at the protocols, maybe that will give me an idea.

So far I've tried to use a `ParallelMaster` via the `StructureListMaster`, but that creates a child job for every structure, which blows my file quota left

[2021-05-21 09:10] samwaseda commented on #197
I'm going to make sure that there's an option to make energy fitting available even if there's a pressure entry. Other than that I don't really understand why there's only one pressure value and not a pressure tensor. I guess that's something @sudarsan-surendralal can correct?

[2021-05-21 16:07] sravankumarkb opened #475 "Trouble importing aborted vasp jobs into pyiron"
Hello,

I am having trouble importing aborted jobs into pyiron.

[code]
[code]
[code]

[code]

[code]

[2021-05-22 05:34] jan-janssen commented on #204
No, `continue_with*` is used to define the workflow before the first calculation is finished and `restart` is used after the first calculation is finished. This functionality is used for pipelines as https://github.com/pyiron/pyiron_atomistics/blob/master/notebooks/pipeline.ipynb you can try it but I believe this notebook is going to crash if you do.

[2021-05-22 05:46] jan-janssen commented on #202
The interactive wrapper takes all you code in the run_static function, as you only combine two codes I guess it is the simpler solution:
https://github.com/pyiron/pyiron_atomistics/blob/master/pyiron_atomistics/interactive/scipy_minimizer.py#L108

Still as basically what you do is calculating a list of structures - then you can place them all in a structure list master and then create a pipeline w

[2021-05-22 05:57] jan-janssen commented on #191
Does Sphinx support `run_mode.non_modal`? I have not tested it for a while but that is basically the same functionality the Murnaghan is using.

[2021-05-22 09:41] liamhuber commented on #204
@jan-janssen @pmrv through this discussion I discovered that the inheritance tree for pipelines [is borked](https://github.com/pyiron/pyiron_base/issues/326). I tagged you both since it's related to this, but it's low enough priority to wait until next week.

[2021-05-25 16:34] pmrv opened #211 "Add unit tests for HasStructure"
@liamhuber's comment should be part of (currently non-existing) unit tests

_Originally posted by @samwaseda in https://github.com/pyiron/pyiron_atomistics/pull/209#discussion_r638826897_

(personal reminder for myself)

[2021-05-25 19:08] pmrv commented on #204
https://github.com/pyiron/pyiron_atomistics/blob/f5fd9ccda2f76b280a984f64fa5f3f7855c6c058/pyiron_atomistics/atomistics/job/atomistic.py#L418

`continue_with_restart_files()` simply calls `restart()`, saves the job, sets the old job as the parent of the new one and sets the `"structure"` field of `_generic_input` to "continue_final" (what ever that means).  Arguably we could set the parent id alrea

[2021-05-26 07:56] Leimeroth opened #212 "Child jobs of ParallelMaster"
**Original Issue**
As discussed in #197 ParallelMaster jobs don't know about their child jobs when submitting them to a remote queue. I decided to open another issue for this since it is completely unrelated to the problem with ElasticTensor jobs.
I thought there must have been some change to the Class since it used to work before, but maybe I was wrong with that.
After revisiting some old noteboo

[2021-05-26 08:07] sudarsan-surendralal commented on #197
I'm not super familiar with the definition of VASP pressures and I am not 100% sure that the stresses output from VASP directly compares to the (3x3) pressure output from LAMMPS. A typical VASP stresses output looks like this

[code]

We currently parse the second last line (which gives the stress tensor) and average over the diagonal components of the stress tensor to calculate the hydrostatic pr

[2021-05-26 08:21] samwaseda commented on #197
I presume that the values given in `Total` are the direct results of the Virial theorem, meaning they are pressure times volume. **Probably** the pressures are `Total` divided by volume.

But it might make sense to check whether `pressure * epsilon * volume` gives `energy`

[2021-05-26 08:40] sudarsan-surendralal commented on #197
What does `epsilon` stand for here?

[2021-05-26 08:43] samwaseda commented on #197
Sorry strain. And it should be `stress` and not `pressure` (`stress = -pressure`)

[2021-05-28 08:45] jan-janssen commented on #212
Can you try https://github.com/pyiron/pyiron_base/pull/329 ?

[2021-05-28 09:18] Leimeroth commented on #212
This solves the problem when the job is successful. It does not restore the child ids for the failing ElasticTensor jobs with Vasp (#197).

[2021-05-28 11:53] jan-janssen commented on #212
I agree that the elastic tensor job has to be adjusted to work with the VASP pressure output of the VASP pressure has to be adjusted to return an 3x3 tensor, but I guess that is a separate issue, which is discussed in https://github.com/pyiron/pyiron_atomistics/issues/197 .

[2021-05-28 22:15] niklassiemer opened #216 "Notebook tests with interactive lammps calculation fail"
Based on #214 and #215 it seems that the new lammps release causes problems with interactive lammps calculations.

[2021-05-31 18:23] raynol-dsouza opened #218 "Running VASP interactively throws a BrokenPipeError"
The following code:

[code]

throws the following error:

[code]

Has anyone come across this error before? Is this related to #216?

[2021-05-31 18:57] niklassiemer commented on #218
At least it is not directly related, i.e. it is not the same error. The lammps calculations stop in the `interactive_collect` step at one Lammps internal step with an `ArgumentError`.

[2021-05-31 19:15] niklassiemer commented on #216
[code]
[code]

[2021-06-01 06:11] raynol-dsouza commented on #218
Hmm. The code snippet with `Lammps/LammpsInteractive` works fine for me.

[2021-06-01 06:16] raynol-dsouza commented on #218
I noticed that if I run it for a single step (i=1), it doesn't throw an error. For i=2, it throws this warning:

`WARNING - VASP calculation exited before interactive_close() - already converged?`

Seems to me that the job isn't running interactively?

The `job_table` shows the status as `finished` for i=1,2, and `aborted` for i=3.

[2021-06-01 06:38] jan-janssen commented on #218
Can you post your INCAR file ? I assume if you comment out the `calc_static()` line then it should work fine.

A typical INCAR should include:
[code]

[2021-06-01 06:47] raynol-dsouza commented on #218
@jan-janssen you're right. It works if I do not specify `calc_static()`.

The INCAR file with `calc_static()` looks like this:

[code]

while the INCAR file without it looks the same as what you commented.

[2021-06-01 06:52] raynol-dsouza commented on #218
I now end up with this warning while calling `interactive_close()`:

`WARNING - Unable to parse the vasprun.xml file. Will attempt to get data from OUTCAR`

and this error after:

[code]

Am I not specifying something in the input?

PS. I'm sorry for the long comments. It's also my first time running VASP in pyiron.

[2021-06-01 06:53] jan-janssen commented on #218
@raynol-dsouza Can you open a pull request which motives the `NSW` parameter if it is set to `0` ? I would suggest to add it it https://github.com/pyiron/pyiron_atomistics/blob/master/pyiron_atomistics/vasp/interactive.py#L287 - currently the parameters are only modified if they are not set before.

[2021-06-01 06:55] jan-janssen commented on #218
@sudarsan-surendralal Can you take a look at `nbands_convergence_check(self)`? most likely we have to accept the occupation can be `None`.

[2021-06-01 08:51] sudarsan-surendralal commented on #218
@jan-janssen what's the way to find out if a job is interactive or not? We can ignore this check only for interactive calculations

[2021-06-01 09:05] niklassiemer commented on #216
It works if I restrict `lammps < 2021.05.27` (#214). I suggest to merge that one as a quick fix for our CI and to get the new Lammps version supported as fast as possible!

[2021-06-01 18:04] niklassiemer opened #223 "pyiron_base broken!?"
I tried to increase the version number of `pyiron_base` in #221 and this breaks our tests! (see below)

@pmrv I fear this is related to the changes in the `copy_to` we made in base? Since the tests for the new `pyiron_base` release are failing and I am in holidays from tomorrow on, could you please take over this release cycle? @muh-hassani please follow the discussion before updating the packages

[2021-06-01 18:08] liamhuber commented on #223
Did the new hierarchy interface get included in this release? Given that a `.list_nodes` call is failing, I am suspicious.

Also, I think there is `assertListEqual`, which might give us a more useful error message on failure.

[2021-06-01 18:12] niklassiemer commented on #223
No, we do not have the new `.list_nodes` interface, yet. In this case actually also just an `self.assertEqual` would help to see what is actually given back by the `list_nodes`.

[2021-06-01 18:42] niklassiemer commented on #223
I made a [PR](https://github.com/conda-forge/pyiron_atomistics-feedstock/pull/29) at our conda-forge feedstock to strictly fix to the older `pyiron_base` version to prevent breaking the environment for all `pyiron_atomistics` users.

[2021-06-01 19:21] pmrv commented on #223
Seems like the test is checking that the output was not copied, but it did.  So it's almost surely a bug from me in `copy_to`.

[2021-06-01 20:28] pmrv commented on #223
Fixed in [here](https://github.com/pyiron/pyiron_base/pull/338).

[2021-06-01 20:43] niklassiemer commented on #223
Thanks a lot! Let's do a new release of base and update our dependencies 🙂

[2021-06-01 20:45] pmrv commented on #223
conda update is running right now, I'll bump the version to >= 0.2.15 tomorrow morning then.

[2021-06-01 20:58] niklassiemer commented on #223
Perfect! Once base is in, a `conda install pyiron`(`_atomistics`) will give a working base! Thanks a lot for taking care of this!

[2021-06-02 09:24] pmrv commented on #223
New release is tagged.

[2021-06-02 09:24] #223 closed, assigned to pmrv, niklassiemer

[2021-06-05 09:15] jan-janssen opened #226 "Readthedocs build fails"
For both `pyiron_base` and `pyiron_atomistics`.

[2021-06-05 09:23] jan-janssen opened #227 "Setup step for building notebooks takes 24min"
The resolution of the conda packages fails, still for some reason the tests work fine.

[2021-06-05 09:26] #216 closed, assigned to sudarsan-surendralal, samwaseda

[2021-06-05 10:19] #227 closed, assigned to nobody

[2021-06-05 12:02] jan-janssen commented on #226
The latest build on the master branch worked so I close this issue.

[2021-06-05 12:02] #226 closed, assigned to nobody

[2021-06-07 15:44] sudarsan-surendralal opened #229 "User defined precision for numerical operations"
**Summary**

An option for users to control the tolerance/precision of certain numerical operations

**Detailed Description**

Certain operations (for example, the matrix trace check below) may require a pyiron/simulation code specific tolerance criterion rather than that of python/numpy.

https://github.com/pyiron/pyiron_atomistics/blob/06d54acd2f8db0e4aef4ba3f07ff84923082a4f4/pyiron_atomistics/l

[2021-06-10 12:22] ibrsam opened #231 "Computing mean square displacement in LAMMPS"
I want to calculate the mean square displacement at a given temerature in LAMMPS, and I found out that it should be done using these commands,

[code]

I tried to use these commands in pyiron as follows,

[code]

Then, I run a `calc_md` job, but I get the following error,

[code]

Can anyone let me know how can I do this correctly? Or, it would be also nice if one of the developers implement this

[2021-06-10 12:32] samwaseda commented on #231
If there's no particular need for LAMMPS-internal computation, the easier way to calculate MSD is via `job.output.total_displacements`. In your case I presume it can be done via `np.linalg.norm(job.output.total_displacements, axis=-1)`.

[2021-06-11 19:47] samwaseda commented on #231
Has the problem been solved?

[2021-06-11 19:59] ibrsam commented on #231
Partially, your opinion worked with me (e.g. Calculating the spring constant from the total displacements). I want to give it more time to see if anyone else has an idea about modifying the input file and get it from Lammps. I just want this to reproduce the results in the same way as the author that I am following. But, any way I think I can close the issue as being solved (even it is partially s

[2021-06-11 19:59] #231 closed, assigned to nobody

[2021-06-13 10:11] samwaseda opened #232 "New mode for `get_neighbors`"
Here I want to talk about a small modification in `get_neighbors` and I would like to know what you guys think.

Currently, `get_neighbors` gives different results depending on `allow_ragged = True` or `False`. This essentially concerns when the cutoff radius is specified and the number of neighbours for each atom is not the same (e.g. first atom has 4 neighbours within a radius `r` and the second

[2021-06-14 15:19] sudarsan-surendralal commented on #232
I like the three modes you've suggested (I guess the default more is `filled`?). But I think `distances`, `vecs`, and `indices` should always have the same shape depending on the mode. Rather than changing the shape of `indices` for the `flattened` mode, how about defining a new attribute `atom_number` (feel free to change the name) which indicates the atom under focus? This would have the format

[2021-06-15 19:27] samwaseda commented on #232
Ok I like the suggestion :) I'm gonna do it this way

[2021-06-16 12:00] Leimeroth opened #238 "ParallelMaster or ElasticTensor runtime issues"
When I try to run ElasticTensor jobs on our cluster system and set a queue for the master job the runtime completely explodes.  I stopped the calculation of elastic constants for fcc Cu on 48 cores after about 4 hours. When running them by specifying a queue for the ref job and not for the master job every calculation takes about 2 minutes. So I would expect a total runtime of ~45 minutes with 22

[2021-06-16 12:16] pmrv commented on #238
I think for most of our jobs setting the queue for master and not the ref is the preferred way, so this definitely sounds like a bug.  I went ahead and tagged @samwaseda for `ElasticTensor`, but I'll have a look into `ParallelMaster` as well.

[2021-06-21 14:17] caglayanoaras opened #242 "more than one SQS structure"
I aim to get 5 SQS structures for BCC Cu-Al solution. I am on MPIE cluster and the code I write is:

    job_type=pr.job_type.SQSJob,
    job_name='my_sqs',
    delete_existing_job=True,
)
job_sqs.structure = bcc_cu_super
job_sqs.input.mole_fractions = {'Al': 0.1, 'Cu':0.9}
job_sqs.input.iterations = 1000000
job_sqs.input.n_output_structures = 5
job_sqs.run()

However, I only get one structure:
![

[2021-06-21 15:58] pmrv commented on #242
How do you create the super cell?

This snippet (which is the same as yours) worked for me

[code]

EDIT: Also seems to work for a bcc super cell.

[2021-06-21 16:41] caglayanoaras commented on #242
Could you please also try with
`pr.create.structure.bulk(name='Cu', crystalstructure='bcc', a=2.8726, cubic=True).repeat(4)
`
It works for 3 but not for 4.
![Capture](https://user-images.githubusercontent.com/56139345/122796394-a04dbb00-d2be-11eb-82c4-68059f4bfd9c.PNG)

[2021-06-21 18:16] pmrv commented on #242
Can reproduce.  That's a weird bug, though.  If I read the `sqsgenerator` source correctly structures are only output if they have a better "random quality"/"alpha" then previously found structures, so I guess in the case of 4x4x4 cubic supercell the very first structure found is already optimal by chance and all later structures are rejected.

Probably a quick work around is to change the superce

[2021-06-21 19:01] liamhuber commented on #242
@liamhuber I want this to show up in my "mentioned" filter as I would be keen to know about a solution too, but don't have time to dig into it.

[2021-06-22 08:40] pmrv opened #244 "Lammps jobs don't store species in output"
We discussed in #241 that there's a problem when trying to `get_structure` something where the chemical species changed during the run.  Currently this is not working, because the jobs store only `indices` into the `species` of the first structure instead of the `species` themselves for each step.  I don't have time now to find out how that works, but it should be on the backlog.

[2021-06-22 08:50] dgehringer commented on #242
@pmrv Indeed you are right! However, this is no bug but rather intended behavior. Nevertheless I agree that the name `n_output_structures`, is misleading a little bit. What it actually does would be better described by  `n_max_output_structures`.

The objective function which *measures the randomness* of a certain configuration is non-injective. Consequently there might be just one or many many st

[2021-06-22 11:27] pmrv opened #245 "Lammps potentials parsing broken"
When I try to run a lammps job on the cluster right now I get this error

[code]

I suppose this means somehow the format of the potentials csv changed.  I'll only have time to look into it after ADIS though.

[2021-06-22 11:33] caglayanoaras commented on #242
@dgehringer Thanks for the explanation. I am confused at one point. You suggest me to increase the supercell size, but if @pmrv is right, this should not work right? Because as the cell size gets larger, the chance of getting an optimal structure at the beginning increases.
Using a 3*3*3 cell I can get 5 optimal structures, for 4*4*4 I get 1 and for 5*5*5 I get 1 again. If I define number of itera

[2021-06-22 12:40] dgehringer commented on #242
@caglayanoaras No there is not threshold! Your results just arises from pure combinatorics! 10^5 iterations are actually too few, using that large supercell sizes!

Maybe increasing super-cell size is not such a good idea, you're right, sorry my bad :see_no_evil: !

So let's go through your example!
You create a 3 x 3 x 3 supercell where you distribute two species! In total you obtain 54 atoms whi

[2021-06-22 12:51] caglayanoaras commented on #242
Very clear thank you very much. Closing the issue.

[2021-06-22 12:51] #242 closed, assigned to nobody

[2021-06-22 14:17] pmrv commented on #242
Thanks for dropping in quickly!

[2021-06-22 14:51] pmrv commented on #245
@muh-hassani I saw that the file `/u/system/SLES12/soft/pyiron/dev/pyiron-resources-cmmc/lammps/potentials/potentials_lammps.csv` was last touched this morning.  Was there a conda update that we can roll back?

[2021-06-22 15:35] max-hassani commented on #245
@pmrv I update the resources on the cluster in an hour. I am not at home right now.

[2021-06-22 15:59] pmrv commented on #245
Thanks, no worries!

[2021-06-22 16:22] max-hassani commented on #245
@pmrv the resources are updated with the latest PR.

[2021-06-22 19:49] pmrv commented on #245
Works again, thanks @muh-hassani and @prince-mathews for resolving and updating quickly!

[2021-06-23 14:17] max-hassani commented on #245
@pmrv, shall we close this?

[2021-06-23 14:18] #245 closed, assigned to nobody

[2021-06-24 13:25] Leimeroth opened #246 "ElasticTensor bug when use_pressure=False"
**Summary**
Elastic Tensor jobs work using pressure, but not using energy my strructures. When the "use_pressure" = False option is set they throw:

[code]

**Steps to Reproduce**

Run a ElasticTensor calculation with the attached structure (lammps format, original atom types are Cu and Zr, but that shouldn't matter I guess) using the use_pressure=False option.
[structure.txt](https://github.com/p

[2021-06-24 13:37] samwaseda commented on #246
I can't reproduce the error (and also I don't really understand how it could possibly happen). Can you maybe give more lines?

[2021-06-24 13:41] samwaseda commented on #238
Sorry I was slow to react. Isn't it a problem of how to handle multiple jobs running at the same time? I thought in most of the modern clusters the master knows what to do... Anyway I guess it's a `ParallelMaster` issue and probably not related to `ElasticTensor`.

As I stated above, I have the feeling that it's going to be difficult to find a general solution since the behaviour is probably stron

[2021-06-24 14:24] pmrv opened #247 "pyscal cna can't handle monoclinic boxes"
I've had to set up a slightly weird structure of bcc Fe, like this
[code]
and pyscal reports their crystal structure as 'other' even though Ovito gets it right on the exact same structure.

Not sure if we're not passing critical information to pyscal or it generally can't handle this, but I can't dig deeper right now.

[2021-06-24 14:44] Leimeroth commented on #246
This is what I did to test this:

[code]

The first one fails with the error from above, while the 2nd works.

[2021-06-24 17:21] freyso opened #248 "How to add more flexibility for using SPHInX structure optimizers"
**Summary**

I would like to add support for different SPHInX structure optimization not via "flags", but by directly selecting the name of the optimizer group.

**Detailed Description**

There are several structure optimizers in SPHInX that have many things in common. Right now, only linQN and ricQN are supported, and the ricQN is selected by setting a flag "use_on_the_fly_cg_optimization" (which

[2021-06-24 17:50] samwaseda commented on #248
I assigned myself for now but we will need a discussion to agree on the interface. I guess I'm gonna make a first proposal and raise the issue in the next pyiron meeting.

[2021-06-24 18:35] liamhuber commented on #247
Snippet has an error: 3x`a`. I am 99.999% sure this is not why you are having trouble, but please confirm 😜

[2021-06-24 18:36] pmrv commented on #247
Ah, yeah, that's the part I typed manually for the issue. ;) Fixed.

[2021-06-24 18:39] liamhuber commented on #238
I don't have enough knowledge about this corner to speak to the difficulty, but strong cluster dependence would be extremely unfortunate and is something that will warrant a reasonable amount of effort to avoid.

Naively, I understand you to mean that if the master automatically distributes over multiple nodes the cross-node communication slows things down. And while we can write adapters for diff

[2021-06-24 18:40] pmrv commented on #247
Interestingly it works with this incantation
[code]
Maybe it's a weird edge case.

(Don't ask why I want this kind of boxes, dislocations are hard >.<)

EDIT: Was a fluke, also broken.

[2021-06-24 18:55] pmrv commented on #248
I suppose it's not strictly necessary to have only job sphinx job class that fits all optimizers/use cases.  We could also think about having a sphinx base class and then sub classes that present simplified, special-cased methods to set the relevant parts of the input file.

[2021-06-24 18:57] pmrv commented on #247
If I see this correctly, this might be the problem

https://github.com/srmnitc/pyscal/blob/c8f1855dcac60affa51c414a35998c8f97e75c93/src/pyscal/formats/ase.py#L10

Supposedly `check_triclinic` should be `True`, but it's not set in `read_inputfile` and we cannot pass it when we call that function.

@srmnitc Am I missing something?

[2021-06-24 19:03] srmnitc commented on #247
@pmrv This could be the issue, I will take a look and update you.

[2021-06-24 20:59] niklassiemer commented on #238
As far as I understand the issue, this is about resource management. While an iteration over all 22 children each with a setting of `queue` and `cores` results in 22 jobs on the queue (22*cores used resources, probably run in consecutive order due to the queuing system) setting `queue` and `cores` for the master job results in _once_ the number of cores allocated. If we now try to run all 22 calcu

[2021-06-25 05:00] Leimeroth commented on #238
As I understand it the multiprocessing function pool.starmap(job_wrapper_function, job_lst) in the _run_if_master_modal_child_non_modal function is supposed to do that when there is not exactly n_jobs*cores_per_job cores allocated. The multiprocessing functions should fill all available cores with tasks, then wait till they are released by that task and give it the next one.

[2021-06-25 07:28] jan-janssen commented on #238
As @niklassiemer mentioned there are two variables that can be set the `ParallelMaster.server.cores` and the `ref_job.server.cores` .

In you case it seems to be `ParallelMaster.server.cores=48` and  `ref_job.server.cores=1`, still what you want is `ParallelMaster.server.cores=48` and  `ref_job.server.cores=48`. Currently pyiron has no ability to approximate the run time of a given job, so there i

[2021-06-25 07:33] niklassiemer commented on #238
That method `pool.starmap` has an (not used by us) parameter `chunksize` which is `None` by default. And if I understand the code correctly(?) this parameter is calculated by 'number of calculations to run' divided by the number of cores (`len(self._pool) * 4`). I.e. if the number of cores is larger than the number of calculations to run, all calculations will be fired in parallel. If we would set

[2021-06-25 07:54] jan-janssen commented on #238
To my knowledge we do this manually in  https://github.com/pyiron/pyiron_base/blob/master/pyiron_base/master/parallel.py#L956 - we have a generator which returns new jobs only if sufficient number of cores is available. The limitation of the pool based solution is that it does not consider the queueing system, so to solve it in a more general way independent of the infrastructure we had to impleme

[2021-06-25 08:03] srmnitc commented on #247
@pmrv I found the issue, but you are not going to like to so much :sweat_smile: Pyscal follows LAMMPS closely in terms of triclinic boxes. LAMMPS has the restriction that the [box vectors need to form a complete right hand basis](https://docs.lammps.org/Howto_triclinic.html). That is why the boxes do not work. You can convert the boxes and that should work. We could also do that within pyscal, I j

[2021-06-25 11:56] skatnagallu opened #250 "Deprecation Warning when using SPHInX for workfunction calculations"
Hi,

I am running some work function calculations for Ni fcc surfaces using SPHInX. The calculations run smoothly but I get the following deprecation warning.

/u/system/SLES12/soft/pyiron/dev/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DeprecationWarning: pyiron_atomistics.sphinx.base.set_convergence_precision(ionic_energy=0.01) is deprecated.
  after removing the cwd from sys.

[2021-06-25 12:08] sudarsan-surendralal commented on #250
Use `ionic_energy_tolerance` instead of `ionic_energy`. It's a more accurate description of the same parameter.

[2021-06-25 12:10] samwaseda commented on #250
Thanks @skatnagallu and @sudarsan-surendralal . I'll update the deprecation warning to make the message clearer.

[2021-06-25 12:11] #250 closed, assigned to nobody

[2021-06-28 06:55] pmrv commented on #247
Thanks for checking it out it quickly.  The link to lammps is very useful, I'll try that and update the issue if it works.  If it does I imagine we could also do the box conversion in pyiron.  It's an issue that also came up before with "too triclinic" boxes when running lammps simulations.

[2021-06-28 09:43] pmrv opened #257 "Murnaghan ignores status "not_converged" on VASP ref jobs"
Imo, the status of the murnaghan job should be `not_converged` if any of the children are.  I'll look into it at some point.

[2021-06-30 20:15] pmrv opened #264 "Noisy Lammps unit conversion"
Since #217 lammps calculations are very noisy, since some of the quantities (indices, velocities, etc.) are not handled.  If handling them correctly is difficult right now, we should bypass them somehow for the sake of everyone's notebook sanity.

Full warnings generated by one calculation
[code]

I'll just go ahead and assign @sudarsan-surendralal, but since it's just warnings, there's no urgency

[2021-07-01 04:17] skatnagallu opened #265 "Residues from SPHInX jobs are in wrong units"
The 'scf_residue' from SPHInX pyiron jobs are density residues from each step and not energy residues. It looks like currently, they are unnecessarily multiplied by a Hartree_to_eV conversion.

[2021-07-01 06:44] samwaseda opened #267 "Why isn't `centrosymmetry` not 0?"
The following lines
[code]

produce `array([0.      , 6.177675])`. Why aren't they both 0?

[2021-07-01 06:45] samwaseda commented on #267
By the way with Ovito I get the same values.

[2021-07-01 07:29] srmnitc commented on #267
@samwaseda I remember this issue came up before, but I cannot find the thread now. In any case, it is because of the number of neighbours selected for the calculation. Here it is N=12; so for bcc, it is atoms of the first shell, and some atoms from the second shell. The CSP calculated then depends on how these extra neighbours are chosen, and it is different for ovito and pyscal. None of these val

[2021-07-01 07:31] samwaseda commented on #267
Ah brilliant! But why doesn't pyscal choose the number of neighbours automatically? (Especially given the fact that it does a great job when it comes to CNA?)

[2021-07-01 07:34] srmnitc commented on #267
N is sort of an input parameter; and you can get different information based on the choice of N. So I left it as such :) The default is set to 12, similar to ovito.

[2021-07-01 07:36] samwaseda commented on #267
But wouldn't it be more attractive for the user (and possibly demonstrate the full power of pyscal) if the default is `N=None` and pyscal chooses the proper value when the number of neighbours is not specified?

[2021-07-01 07:37] srmnitc commented on #267
That is great idea. Also could be done without much trouble. I will have it in one of the future releases!

[2021-07-01 07:38] #267 closed, assigned to srmnitc

[2021-07-01 09:43] Leimeroth commented on #238
Sorry for the late reply, but I wanted to make sure again.
I did set the server.cores for both the ref job and the ParallelMaster job to the same value and it still starts all jobs and keeps switching between them instead of running them one after the other.

[2021-07-01 10:28] #265 closed, assigned to samwaseda

[2021-07-01 11:26] liamhuber opened #268 "What to use instead of get_symmetry?"
`Atoms.get_symmetry` is flagged `@deprecatesoon`, but I can't find any alternatives. What is it that I should be using instead?

[2021-07-02 06:05] samwaseda commented on #268
Is it possible that it happened when we decided to do systematic review of functions that use `phonopy`? I guess the idea was to move all of them to `Analyse`. Maybe @niklassiemer knows more about it?

[2021-07-02 06:39] samwaseda opened #269 "`get_neighbors` not working for partial PBC"
Periodicity is apparently ignored altogether if the box has a non-periodic boundary.

[2021-07-02 15:50] sudarsan-surendralal commented on #264
Made a simple fix (see linked PR). Hope it works!

[2021-07-06 10:25] #264 closed, assigned to sudarsan-surendralal

[2021-07-07 14:08] #269 closed, assigned to samwaseda

[2021-07-14 13:51] samwaseda opened #279 "`occupy_lattice` impossible to understand"
https://github.com/pyiron/pyiron_atomistics/blob/97640ca1146ed714f5af41ab3af8b5bea920c60d/pyiron_atomistics/atomistics/structure/atoms.py#L1509

I don't know who wrote this function but from what's written in the DocString and the argument names (practically absent) it's impossible to understand what it does and how it works. So if no one is using it I'd suggest to delete it.

[2021-07-14 14:03] pmrv commented on #279
We might want to grep through the handbook or so, but am generally in favor.

[2021-07-16 13:05] #232 closed, assigned to nobody

[2021-07-19 06:22] samwaseda commented on #35
I disagree that there should be a warning. I can totally imagine a function (e.g. `get_neighbors`) which wraps atoms if there's PBC in any direction. In such a case, the function calls `wrap()` internally and the user probably doesn't want to see a warning.

[2021-07-19 06:24] #39 closed, assigned to nobody

[2021-07-21 14:28] #268 closed, assigned to nobody

[2021-07-22 08:00] skatnagallu opened #286 "Problems in selecting SPHInX executable versions"
Hello. I am trying to use a different SPHInX version for a job. However, when I am trying to use the version for e.g. 'hdf5_mpi' or 'latest_mpi', I am getting an error (ValueError: could not convert string to float: 'hdf5'). This is not an issue if I use a version that starts with a number for e.g "2.6.1_default_mpi" or "3.0_mpi". This is the case even though 'hdf5_mpi' is listed as an available v

[2021-07-22 10:08] pmrv commented on #286
I'm not that familiar with the code to set the code version, but it sounds like that's not behavior we want.  Can you post specific code you've used?  Then I'll have a look where we can make it more consistent.

[2021-07-22 10:29] skatnagallu commented on #286
[code]

I am trying to do a static calculation on a relaxation job to store wavefunctions using SPHInX 'hdf5_mpi' version.

[2021-07-23 07:22] #48 closed, assigned to pmrv, sudarsan-surendralal

[2021-07-25 20:44] niklassiemer opened #288 "Benchmark unittest"
With our new Benchmark unit tests we may run into unintended failures like in the last PR I merged. We should separate them from the normal unit tests such that we are not CI server load dependent for the overal test suite.

[2021-07-27 11:47] niklassiemer opened #294 "Unittests fail for Atoms"
due to `_mendeleev_property_lst = None` (see #293)

[2021-07-27 11:54] niklassiemer commented on #294
@pmrv @muh-hassani FYI, I won't trigger a new release until we have resolved this issue.

[2021-07-27 13:40] pmrv commented on #294
Does that happen locally for you? All tests pass for me locally as well as on the cluster.

[2021-07-27 13:45] niklassiemer commented on #294
No, locally it runs ok. I am curious to see the ci for the last merge! And if this runs smoothly, I am even more puzzled by #293...

[2021-07-28 12:28] niklassiemer opened #296 "Unit tests on Windows run forever"
And if I cancel them, they have e.g. the following error: (#289). Right now, we have more failed CI runs in our master than successful ones! Can someone relate the problems on Windows to some recent changes in the data base code?
[code]

[2021-07-28 17:23] Bhatt993 opened #297 "Error in wavefunction calculations"
Hi all
I am trying to calculate the wavefunction of ferromagnetic Nickel using Sphinx with hdf5_mpi version ,aim to get wavefunction through band structure calculations but unfortunately it throws key error of 'kpoints' as mentioned below . If anyone knows the solution please guide me how to sort out this ?

[code]

[2021-07-29 05:23] pmrv commented on #297
It looks like the k points are not properly setup. What code did you use to run the job?

In any case the error message could be nicer, so I'll have a look.

(PS: If you paste things from somewhere you can put them between triple backticks ``` and github will preserve the formatting, so it's a bit easier to read.)

[2021-07-29 05:32] samwaseda commented on #297
I'm essentially repeating what @pmrv already said, but it looks like pyiron didn't initialise the input. It would be helpful if you could add the lines you had before `run()`.

[2021-07-29 06:52] skatnagallu commented on #297
[code]
I have the same issue too. We are trying to follow the band structure calculation example (https://pyiron.org/pyiron-virtual-workshop-2020/tutorials/sol_4_bandstructure.html). The only changes we made were to do it on the cluster and add magnetic moments to the initial structure.

PS: It's a SPHInX run.

[2021-07-29 07:22] niklassiemer commented on #296
Looking through the last merged PRs it seems like PR #241 introduced the breaking of the CI for Windows.

[2021-07-29 08:39] pmrv opened #300 "readthedocs broken"
It seems all our API pages are empty on readthedocs, e.g. [here](https://pyiron-atomistics.readthedocs.io/en/latest/apidoc/pyiron_atomistics.atomistics.master.phonopy.html).  I'll have a look in the after noon.

[2021-07-29 09:38] Bhatt993 commented on #297
Thanks Shyam for giving details , as Shyam said we are following above tutorial and this error occurs if job is submitted on the cluster otherwise it runs smoothly .

[2021-07-29 09:47] pmrv commented on #297
Sounds like it's related to the issue in #191, but I'm not sure how to fix it here.  There the solution was to call one of the `calc_` methods before submitting the job, but I don't know if that makes sense for the bandstructure calculation.

[2021-07-29 09:51] pmrv commented on #297
I've found a work-around like this

[code]

@samwaseda This should be automatic, any ideas how to do that?

[2021-07-29 10:15] niklassiemer commented on #297
We have two functions to check if the input is set up correctly `job.validate_ready_to_run()` which is called all the time and `job.check_setup()` which is called prior to sending to the cluster. The latter one could make sure that all input is saved before sending to the cluster (probably a to_hdf call is missing in the end?)

[2021-07-29 19:28] niklassiemer commented on #294
I am very puzzled by #293, however, on the current master it only breaks/ runs forever on windows. Thus I close this.

[2021-07-29 19:28] #294 closed, assigned to pmrv

[2021-07-30 21:56] hari-ushankar commented on #218
Hi everyone,

I just wanted to see if I could get some inputs on this particular bug.

For context, I use `ProtocolQMMM` to do VASP jobs interactively. It seems that when the ionic iterations hit the NSW value supplied in INCAR, the interactive job just exits without wrapping up into HDF5.

I'm still using an older version of pyiron since there was some issue with the compatibility of `pyiron_cont

[2021-08-02 07:37] raynol-dsouza commented on #218
Hi @hari-ushankar,

Can you share a code snippet of how you define `ProtocolQMMM` and call `run()`? I am unsure how exactly the VASP interactive job runs for more than 1 step with the repos that you are using, considering that it threw the error mentioned in this issue when I tried running VASP interactively.

I have reworked protocols within the `pyiron_contrib` `master` branch to comply with cha

[2021-08-02 09:08] #296 closed, assigned to pmrv

[2021-08-02 14:40] jan-janssen commented on #296
But why did it work when we disabled the `non_modal` tests?

[2021-08-02 15:01] niklassiemer commented on #296
It was more related to change which branch is tested. In that branch I changed what is tested: branch itself instead of the merge see #302

[2021-08-02 15:14] jan-janssen commented on #296
ok, thanks again for looking into this @niklassiemer

[2021-08-02 16:09] jan-janssen opened #311 "Sphinx Tests"
Sometimes the notebooks fail, sometimes they pass - I am not exactly sure what this is related to. I tried debugging it in https://github.com/pyiron/pyiron_atomistics/pull/304 but that did not work out. @samwaseda Can you take a look at this?

[2021-08-03 05:26] hari-ushankar commented on #218
Hi @raynol-dsouza ,

Thanks for following up. Here is a code snippet of how I run `ProtocolQMMM`:

[code]

The job I define above runs to 150 iterations and then throws the BrokenPipeError. Here is the stack trace from that run (in `time.out` file of hdf5):
[code]
Also, to add a normal VASP interactive job runs fine on a node and the cluster queue system. Only when run with the ProtocolQMMM, this

[2021-08-03 06:50] samwaseda commented on #311
Which tests? `tests_sphinx_sphinx_check_all.ipynb`?

[2021-08-03 13:46] jan-janssen commented on #311
Yes, basically the sphinx executable does not start at all - https://github.com/pyiron/pyiron_atomistics/runs/3222546908
While in other tests like https://github.com/pyiron/pyiron_atomistics/runs/3230915095 everything works fine - so I have the feeling a Sphinx conda package or a dependency is broken.

[2021-08-05 14:54] raynol-dsouza commented on #218
Hi @hari-ushankar,

I created a new branch on `pyiron_contrib` called `qmmm_fix`, which uses the latest `pyiron_atomistics`. The following code ran for me:

[code]

I did however change a few parameters:

[code]
-- since these were inputs to the protocol, but they weren't specified in the snippet you sent.

-- I changed the `n_steps` to  5, as this was just a test to see if the protocol runs.

--

[2021-08-09 22:37] hari-ushankar commented on #218
Hi @raynol-dsouza ,

I tried running the example script you sent to check if things work fine.

But I have run into an issue with creating jobs using the new git repos.

For context, I have my new git repos stashed in a separate dir, and I `sys.path.insert` those git repos when I run the notebook.

[code]
The code fails here:

[code]

Does this occur because of how jobs are created in the old `pyi

[2021-08-09 22:55] raynol-dsouza commented on #218
I believe the issue comes from the line:

`ref_lammps.potential = ref_lammps.list_potentials()[0]`

I had run into a similar issue a while ago, but I think it was addressed in a PR, I do not know which one.

Could you make sure that `pyiron_atomistics` is on the latest version (git), and if the issue persists, try:

`ref_lammps.potential = '2004--Mishin-Y--Ni-Al--LAMMPS--ipr2'`

and check if this

[2021-08-09 23:03] hari-ushankar commented on #218
My `pyiron_atomistics` version is:
[code]
Initially, I tried with `ref_lammps.potential = '2004--Mishin-Y--Ni-Al--LAMMPS--ipr2'`.

It didn't work that's why I switched to `list_potentials()[0]`, also I'm having trouble deleting jobs in the job directory.

this is the error log:

[code]

Edit:

I tried using `ref_lammps.potential = '2004--Mishin-Y--Ni-Al--LAMMPS--ipr2'` on a separate project.

[cod

[2021-08-09 23:07] raynol-dsouza commented on #218
`pyiron_atomistics` looks like it is on the right branch. What about `pyiron_base`?

[2021-08-09 23:09] hari-ushankar commented on #218
pyiron_base's version:

[code]

[2021-08-09 23:15] raynol-dsouza commented on #218
commit e3aa971b8f3d7758af42257f4c4276fdd33f2c6c
  Merge: 8b62baa 151f1da
  Author: MuhammadHassani <mhassani86@gmail.com>
  Date:   Wed Aug 4 11:40:11 2021 +0200

      Merge pull request #361 from pyiron/postgres_performance

      Postgres performance

This looks more like a database issue to me. @pmrv @muh-hassani any inputs? I cannot reproduce these errors on both, my local machine and my Garc

[2021-08-09 23:18] hari-ushankar commented on #218
I get all the potentials associated with Al, the list goes on:

[code]

[2021-08-09 23:24] raynol-dsouza commented on #218
Hmm. The potentials list seems to be outdated as well. I'm afraid I cannot be of much help at the moment. Let's wait till @pmrv and @muh-hassani have a look at these errors.

[2021-08-09 23:58] max-hassani commented on #218
@hari-ushankar
From your previous comments, I tried the following:
[code]
The list I get, is different than what you have:
[code]
Can you check your `.pyiron` file in your home directory? What is the resource path?
I have to mention that I am using the conda packages from pyiron/dev module. I guess something is wrong with your `.pyiron` config file. Can you also check `echo $CONDA_PREFIX` from you

[2021-08-10 06:21] skatnagallu opened #314 "How to get the number of irreducible k points ?"
Is there a way to get the number of irreducible k points, before running a job?

Also after running a job how would one get that?

I am majorly running SPHInX jobs. It would be nice to know how many irreducible k points I have for my structure so that I can speed up my calculations using openmp threads.

[2021-08-10 06:29] samwaseda commented on #314
Yes:

[code]

By the way, this kind of HowTo questions tend to attract more attention / a quicker response if you post it on StackOverFlow, where you can also set the tag `pyiron`.

[2021-08-10 06:38] skatnagallu commented on #314
Thank you. I will keep that in mind :)

[2021-08-12 11:57] jan-janssen commented on #286
@skatnagallu Is this issue resolved?

[2021-08-12 12:34] skatnagallu commented on #286
I think the issue is similar to #297 . For now, saving the job before running it solves the issue.

[2021-08-12 12:34] #286 closed, assigned to nobody

[2021-08-12 13:43] jan-janssen commented on #286
@skatnagallu Thanks for the feedback. I have the feeling there are some issues with the current Sphinx job type @samwaseda  can you comment on this?

[2021-08-12 18:08] niklassiemer commented on #288
Fixed in #313

[2021-08-12 18:08] #288 closed, assigned to nobody

[2021-08-15 20:22] hari-ushankar commented on #218
Hi @muh-hassani ,

Thanks for the suggestion. I did install `iprpy-data` from conda-forge and I see the list of potentials now.

But I think I get the error when I save the job using `save()`.

For context, I'm manually adding package paths into my jupyter notebook to run my pyiron jobs. But I'm still using the old pyiron repo and maybe this is causing the issue?

I'm a little bit worried that mov

[2021-08-17 08:39] sudarsan-surendralal commented on #314
This is a great function. But I think we should shift this to `GenericDFTJob` since this can be applied to any periodic DFT code (incl. VASP).

[2021-08-20 05:14] samwaseda commented on #297
Sorry I was super late. What happens if you put `job.calc_static()` before `job.set_kpoints()`?

[2021-08-21 03:18] yuyuanjingxuan opened #324 "Unable to collect the outputs from huge dump.out file"
**Summary**

Hi all,

I performed a series of long-trajectory MD simulation. The produced dump.out file was huge (>10GB). The jobs were done and started to collect output. Although the process of the jobs were terminated, the collecting was not finished. I later tried to collect them manually, while the kernel of my Jupyter NB died soon.

**pyiron Version and Platform**

python 3.7.9
pyiron 0.4.4

[2021-08-23 16:12] niklassiemer opened #323 "Register new methods on `pyiron_base` `Project`."
Right now, the `from pyiron import project` imports the project from `pyiron_atomistics`. In addition, right now we have `pyiron.atomistics == pyiron_atomistics.atomistics` which should change to `pyiron.atomistics == pyiron_atomistics`. To have one project with may include the different `creators` of `atomistics` and `continuum` in one `Project` we want to define a `creator.registry` similar to t

[2021-08-24 04:48] niklassiemer commented on #324
I transferred the issue to `pyiron_atomistics` since it is related to `LAMMPS` parsing.

[2021-08-24 08:01] liamhuber commented on #324
I guess this is a pretty fundamental issue. How does Jupyter regularly handle reading files that are larger than the available ram? I know there are python tools for dealing with this, but we definitely don't exploit any of them atm.

[2021-08-24 11:06] pmrv commented on #324
The problem is in

https://github.com/pyiron/pyiron_atomistics/blob/707c52f7c71898586a7cb02acc033d5a7409d7de/pyiron_atomistics/lammps/base.py#L934

https://github.com/pyiron/pyiron_atomistics/blob/707c52f7c71898586a7cb02acc033d5a7409d7de/pyiron_atomistics/lammps/base.py#L940

where the whole file is read in one go and then traversed multiple times.  I've sketched a simplified version below that on

[2021-08-24 11:11] niklassiemer commented on #324
Maybe we should then think about an temporary hdf file, since resizing the arrays would probably cause an artificial growth in file size due to the hdf not actually deleting stuff...

[2021-08-26 10:48] yuyuanjingxuan commented on #324
Thank you for your suggestions. We have a discussion on it in the RUST meeting, and have two strategies to solve the issue.

- Make the dump file smaller.
I notice that if the job is submitted and collected by pyrion in default setting, too much data is required to be collected. It is fine for a short trajectory. But in a long-trajectory calculation, generally we only need coordinates. Other infor

[2021-08-26 11:09] pmrv commented on #324
You can modify the lammps input file to output less data at fewer intervals by modifying `job.input.control`.  The relevant lines would be
[code]
You can put the usual lammps syntax there.

This will help to some extent, but I really would like to have a better parser.  What I posted above should be a good starting point and I'd be happy to help anyone who wants to take it up, but I don't have eno

[2021-08-26 11:18] yuyuanjingxuan commented on #324
Thank you @pmrv .
Yes, A new parser is the best choice.

[2021-08-30 13:59] pmrv commented on #324
Suggestion from @muh-hassani write it to multiple lammps dumps files and parse them one after the other.

[2021-08-30 14:03] pmrv commented on #324
@pmrv Check the memory footprint of the sketch.

[2021-08-30 14:06] pmrv commented on #324
@yuyuanjingxuan Can you provide a dumps file for testing (via ironcloud, etc.)?

[2021-08-31 08:01] yuyuanjingxuan commented on #324
@pmrv Sure, I've uploaded a dump file in the Google Drive. Here the [link](https://drive.google.com/file/d/1TxOfkxqaCnXTCxszuZkEieYY857H5Lrw/view?usp=sharing).

[2021-08-31 08:31] yuyuanjingxuan commented on #324
I've tried to split the huge dump file into several parts and then collect them. A file larger than 8GB will make the kernel die. So I set the maximum size of splitted parts in my tests as ~7GB and it works. It takes about half an hour to collect a 38GB dump file.

[2021-09-01 10:47] pmrv opened #335 "How to ensure consistent indices when reading from POSCAR?"
I'm reading a number of POSCAR files to run some lammps on it.  The issue is that even though the elements are always defined in the same order in the POSCAR, the association `index <-> element symbols` is seemingly random, when I read the files with either `pr.create.structure.ase.read` or `pyiron_atomistics.vasp.structure.read_atoms`.

If this is coming from ASE then I suppose there's not a lot

[2021-09-01 10:51] liamhuber commented on #335
I think I ran into this and hacked my way around it: I had a binary in which I knew what species I should have more of and did something like

- Load structure
- Find ids matching lesser indices with `np.unique` returning counts
- Map the entire structure to the major species
- Slice the structure with the previously logged ids and map these to the minor species

Definitely not a real solution, bu

[2021-09-01 11:03] sudarsan-surendralal commented on #335
@pmrv can you add a small example POSCAR file that you'd like to parse over here?

[2021-09-01 11:52] pmrv commented on #335
[code]

If you then run

[code]

you'll find that it changes every time you run it.

EDIT: added full path

[2021-09-01 13:24] usaikia opened #336 "Unable to run Lammps job in pyiron"
I am getting the following error while tried to run a Lammps job with pyiron. This is just a example md job as given in the pyiron tutorial examples. I have run the same job successfully  before. Please have a look in to it. The error is as follows:

[code]

[2021-09-01 13:25] usaikia commented on #336
**Here is my code :**
[code]

[2021-09-01 13:30] max-hassani commented on #336
@usaikia, I tried your code snippet with another potential and it worked, i.g. `job.potential = job.potentail_list()[2]`. I am not sure, though what is wrong with the initial potential. Maybe others have more experience and give us some feedbacks.

[2021-09-01 13:34] pmrv commented on #336
I think this also tripped me once.  Were you specifically looking for this potential or did it just happened to be the first one?  If you need this potential we'll have to look into it, otherwise I'd suggest we just kick it out for now.

[2021-09-01 13:34] usaikia commented on #336
@muh-hassani Thanks. The first two potentials are not working. I will use another potential.

[2021-09-01 13:36] usaikia commented on #336
I have my own potential file and I want to run the Lammps job with this EAM potential. What is the right way to assign my own potential file to the job?

[2021-09-01 13:37] pmrv commented on #336
You can define your own potential by passing a [custom dataframe](https://pyiron-atomistics.readthedocs.io/en/latest/source/faq.html#how-to-use-a-custom-potential-in-lammps).

[2021-09-01 13:38] pmrv commented on #336
The part under 'Config' gives the lammps commands to you would usually write into your input script.

[2021-09-01 13:39] usaikia commented on #336
@pmrv  Thanks. I will try this custom dataframe.

[2021-09-01 13:52] pmrv commented on #324
I don't have a google account.  Can you upload it to [ironcloud](https://ironcloud.mpie.de/) or [datashare](https://datashare.mpcdf.mpg.de/login)?

[2021-09-01 14:53] usaikia commented on #336
@pmrv I have a AlSc eam potential file. I modified the custom dataframe as given below. Now, my lammps job is running fine with this potential. Thanks for your help!
Please have a look at my custom dataframe to check I am defining everything correctly or not.

[code]

[2021-09-01 15:05] pmrv commented on #336
This works, but the recommended way would be to give a relative file name in config only and give the full path in the 'Filename' column.  This file would then be copied over before the job runs and therefor would not be lost if you delete the original file.

Something like
[code]

[2021-09-01 15:19] usaikia commented on #336
@pmrv Thanks! I will modify my file accordingly.

[2021-09-02 01:02] jan-janssen commented on #336
@usaikia Can you post your .pyiron file? Please remove the passwords before posting. I would like to understand if that is a general issue with the potentials in conda or an issue specific to your configuration or the MPIE cluster.

[2021-09-02 01:09] jan-janssen commented on #324
I am also not able to access the google drive link, even with my google account.

[2021-09-02 07:58] yuyuanjingxuan commented on #324
I update a new link [here](https://drive.google.com/file/d/1TxOfkxqaCnXTCxszuZkEieYY857H5Lrw/view?usp=sharing). Hope it works now. I do not have an ironcloud. If it is still unavailable, I'll upload a copy on datashare.

[2021-09-02 08:15] usaikia commented on #336
@jan-janssen Here is my .pyiron file:

[code]

[2021-09-02 08:36] pmrv commented on #324
I can access this link, but the file is only 37MB.  I guess you got it mixed up. ;)

[2021-09-02 09:41] pmrv commented on #324
I've used this file now and just repeated it until I got a 370MB file.

Here's slightly modified version from above that writes the results to disk from time to time
[code]

With this I can keep the memory usage constant during the whole runtime (for this file ~50MiB & 15s).  `block_size` controls how often is written to disk.

![lammps_parse_memory](https://user-images.githubusercontent.com/27199

[2021-09-02 10:45] yuyuanjingxuan commented on #324
Yes, 😂 the filename is similar. I should have shared a huge one.

[2021-09-02 14:50] pmrv commented on #335
I've found this snippet in some of @jan-janssen old code for the `Mlip` classes

[code]

That basically reorders the indices to follow the lexical sorting of the chemical symbols.  Maybe we should do that generally on initializing a `Atoms` object?

EDIT:
This is slightly shorter and easier to read`[citation needed]`

[code]

[2021-09-03 10:05] pmrv commented on #324
I'm also a bit unsatisfied with ~half an hour parsing times, but 15s/370MiB works also out to be ~25min/37GiB.  I did a profile and most of the time is spent in `np.loadtxt()` (97%), I suppose `np.genfromtxt()` (what the current code uses) won't be that much different, so it seems speedwise we are limited by numpy right now.

[2021-09-03 15:25] niklassiemer commented on #300
@pmrv Is this still an issue or did we just forget to close?

[2021-09-03 16:11] pmrv commented on #300
No, still broken when I click on the link.

[2021-09-05 18:43] pmrv commented on #324
I found two other approaches oneline:
1. official script from [pizza](https://github.com/lammps/lammps/blob/master/tools/python/pizza/dump.py).
2. simple [cython version](https://gist.github.com/astyonax/1eb7b54326157299f0846324b5f1d98c)
3. @muh-hassani and I also briefly discussed wrapping an existing c-code or making a cython module, this we probably would want to do outside of the pyiron and th

[2021-09-06 07:38] samwaseda opened #341 "Should `Atoms.get_chemical_indices()` return pointer?"
I find the following lines a bit counterintuitive.

[code]

I would rather expect that `Atoms.get_chemical_indices()` returns a copy of the indices and not the pointer, also because changing `indices` has (for some reason) no effect on the atom species. But before I start changing this I just wanted to make sure that this is not the desired behaviour. @sudarsan-surendralal @pmrv @jan-janssen

[2021-09-06 07:43] sudarsan-surendralal commented on #341
I agree, this should not return a pointer. Go ahead with the changes!

[2021-09-06 08:55] liamhuber commented on #341
Also agreed. It's sometimes nice to have a pointer, but I would say `structure.indices` -> pointer; while `structure.get_chemical_indices()` -> new array as you suggest here.

[2021-09-06 12:54] max-hassani commented on #324
@pmrv, I am currently working on C++-based code to calculate mostly atomistic strain. This can be used to read in the trajectory probably via cython. I have made some progress:
https://github.com/muh-hassani/coarse_grainer
Now I need to create a class called trajectory to read the whole dump file of multiple snapshots. Currently only one snapshot can be read at a time via the snapshot class.

[2021-09-06 22:32] max-hassani commented on #324
With the C++ code, I read the whole dump file in 1.5 seconds. There are some logging during the reading of the file, so I think it can be even faster.
Update: removing the logging statements, It reached 0.73 seconds.

[2021-09-08 00:27] jan-janssen opened #349 "Units inconsistent with latest lammps Version"
@sudarsan-surendralal Currently the unit tests fail for the new units notebook, for example here https://github.com/pyiron/pyiron_atomistics/pull/348 . Can you take a look? It might be related to the latest LAMMPS version.

[code]

[2021-09-08 06:35] #341 closed, assigned to nobody

[2021-09-16 14:39] #202 closed, assigned to nobody

[2021-09-18 07:01] #335 closed, assigned to sudarsan-surendralal

[2021-09-24 04:49] #349 closed, assigned to nobody

[2021-09-24 04:50] #311 closed, assigned to nobody

[2021-09-27 14:13] samwaseda commented on #297
I just realised it was mostly related to the fact that the input looks different when the band structure calculation is done. Now I'm going to fix it :)

[2021-09-27 14:52] liamhuber opened #372 "Be careful with `random` in tests"
**Summary**

Atomistics unit tests failed, then passed again on Rerun.

**pyiron Version and Platform**

Github

**Expected Behavior**

Time-independent tests

**Actual Behavior**

Time-dependent tests

**Steps to Reproduce**

Drop out of warp and channel a tachyon pulse from the main deflector to resonate with the shield frequency.

**Further Information, Files, and Links**

[Here is the failing

[2021-09-27 16:49] samwaseda commented on #372
ok I agree that it's a problem that it **sometimes** fails, but I might be reluctant to define a specific number for this kind of test, since it should be in principle okay with any random number.

[2021-09-27 17:40] liamhuber commented on #372
Yeah, I'm definitely OK with using random in tests, but if it leads to erroneous failures in needs to be patched.

I haven't looked at this in any detail yet. Maybe we can use random to generate some sort of orthonormal basis of allowable deformations? I.e. both make it more fragile to functionality changes by testing an entire basis worth of conditions, and more robust in that we do some manipula

[2021-09-30 11:25] yuyuanjingxuan opened #377 "Jobs failed via submitting in pyiron but no errors via cmd line"
**Summary**
Hi all,

I find all my lammps jobs are crashed for unknown reasons. These jobs are submitted via pyiron. I have tested them in a command line, and there is no issue. I also submitted a finished job for a test. But it outputs the same error. Does anyone meet the same issue as me?

**pyiron Version and Platform**
python 3.7.9
pyiron 0.4.4

**Actual Behavior**
Attached are the error messa

[2021-09-30 12:09] niklassiemer commented on #377
Hi @yuyuanjingxuan

You seem to be using your own resources and, thus, run scripts. Could you try to run your calculation via this run script / compare it to the global version?

[2021-09-30 12:29] usaikia opened #378 "job is shutting down automatically"
One of my job suddenly killed. I found following information about the killed job in pyiron.log file. Is there something wrong with my pyiron account. Here is the error message:
2021-09-30 11:12:31,063 - pyiron_log - INFO - Reconnecting to DB; connection closed.
2021-09-30 11:13:14,274 - pyiron_log - INFO - Job 15937703 intercept signal 15, job is shutting down

**The same thing happend with anoth

[2021-09-30 12:32] yuyuanjingxuan commented on #377
Yes, I tried that. Attached are the codes in `run_lammps_2019.06.05_default_mpi.sh`:
[code]
Sorry for the misunderstanding. What cmd line means running the codes in this script. For the last line, I used `mpiexec -n 2 lmp_mpi -in control.inp` instead, and the job could run without any issues.

[2021-09-30 12:51] max-hassani commented on #378
I checked with @usaikia, via the following script, that his connection to the database has no problem.
[code]

[2021-09-30 12:53] usaikia commented on #378
**Here is the script I used to submit the job:**

[code]

[2021-09-30 13:00] usaikia commented on #378
I tried "squeue -u usaikia" in the terminal. According to it's output the job is in PD state. How "job.status" commend is showing that this job is aborted.

[2021-09-30 13:20] max-hassani commented on #377
@yuyuanjingxuan, do you use a custom build of lammps, instead of the one installed via conda?

[2021-09-30 13:33] usaikia commented on #378
@muh-hassani Here is my info.log and pyiron.log file -
[info.log](https://github.com/pyiron/pyiron_atomistics/files/7259865/info.log)
[pyiron.log](https://github.com/pyiron/pyiron_atomistics/files/7259866/pyiron.log)

[2021-09-30 13:38] yuyuanjingxuan commented on #377
No, the version I use is in the `/u/system/SLES12/soft/pyiron/dev/anaconda3/bin/`, which should be installed via conda.

[2021-09-30 13:58] yuyuanjingxuan commented on #377
In reality, I do not change the local environment at all. These jobs were submitted one week ago. I was confused that the jobs running last week exported no error, while those running yesterday failed. None of them survived.

[2021-09-30 20:05] max-hassani commented on #377
@yuyuanjingxuan , I don't know if this is the cause of the issue, but it seems that you have changed the path to pyiron resources in your `~/.pyiron` file . Please make sure that `RESOURCE_PATHS = /u/system/SLES12/soft/pyiron/dev/pyiron-resources-cmmc`

[2021-09-30 21:05] niklassiemer commented on #377
In the global resources we have an additional option to the run command. We use
[code]

[2021-09-30 23:05] max-hassani opened #379 "Sphinx examplary notebook fails"
I am testing sphinx notebook (the notebook available in pyiron_atomistic repo) on one of pyiron docker images. The job.run() fails with the following error:
[code]
Further details of the error can be found [here](https://github.com/pyiron/docker-stacks/runs/3761302539)
The relevant installed conda packages are listed below:
[code]
I do not have enough experience with Sphinx simulations, and I do n

[2021-10-01 01:55] yuyuanjingxuan commented on #377
I tried to add `--oversubscribe` in the `run_lammps_2019.06.05_default_mpi.sh`, and it still outputs the same error messages. The job could run by typing `run_lammps_2019.06.05_default_mpi.sh`, while it failed when I run `run_queue.sh` in the local directory.
`run_queue.sh`:
[code]
Is it the problem of  `run_queue.sh`?

[2021-10-01 06:04] yuyuanjingxuan commented on #377
I also tried to run my job by global version.
Before running, I updated my resources:
- Close the jupyter server and logout
- Disconnect the ssh connection and then reconnect with ssh
- Access the jupyterhub again
`module load pyiron/dev` has been added in the`.bashrc`. But I still got a similar error message:
[code]

[2021-10-01 06:34] samwaseda commented on #379
Yeah I also noticed the same problem some time ago. I'm gonna look into it now.

[2021-10-01 06:37] samwaseda commented on #379
Sorry I just realized that the problem I was talking about was a different one. I guess the one that you raised here is a recurring issue that @jan-janssen mentioned some time ago (cf. [this issue](https://github.com/pyiron/pyiron_atomistics/issues/311))

[2021-10-01 06:52] max-hassani commented on #379
@samwaseda thanks for looking at this problem. The issue occurs by Sphinx-dft=3.0.3, while lower versions (2.7*) was fine. I think something is broken in the latest update :(

[2021-10-01 16:32] yuyuanjingxuan commented on #377
We found where the issue comes from. It is still a module environment problem. I unload all local module and keep the submission scripts the same as the global version. Then everything works fine.

[2021-10-01 19:14] niklassiemer commented on #377
I am after all curious how the other modules killed the workflow? However I am glad that the things work again!

[2021-10-04 09:23] pmrv commented on #377
Agree with @niklassiemer, if this was an issue that the submission or resource scripts didn't purge the module environment thoroughly enough, we should change them to be more robust.

@yuyuanjingxuan Can you detail the exact steps you took to fix the issue?

[2021-10-04 09:27] pmrv commented on #378
I've had a brief look at the log and line like
[code]
indicate that something is sending `SIGTERM` to your jobs externally.  Did you check your time limit when submitting to the queue?

[2021-10-04 10:34] usaikia commented on #378
@pmrv I found this line "**#SBATCH --time=5760**" in the run_queue.sh file generated by pyiron. This means my job time limit is 4 days, right? But this job was killed before that.

[2021-10-04 11:01] niklassiemer commented on #378
There are other reasons a job might get killed by the OS, e.g. if the memory consumption is too high. I am not sure if this could be a problem in this case, though.

[2021-10-04 13:02] usaikia commented on #378
@niklassiemer The output of "**sacct --format="MaxRSS" -j 2448460**" for this job is:
MaxRSS
----------
   286475K
      674K
  5419225K

[2021-10-04 13:05] pmrv commented on #378
The default allocation for RAM is 3GB.  Depending on how many cores your job ran with, your numbers are pretty close to this limit.

[2021-10-04 13:09] usaikia commented on #378
@pmrv I used 64 cores. Is it possible increase RAM limit for my vasp job in pyiron?

[2021-10-04 13:23] samwaseda opened #381 "Make SPHInX error message clearer when not entering main loop"
https://github.com/pyiron/pyiron_atomistics/blob/4967709e5801f2a80b2b0c3cfc8abd1a12afd74f/pyiron_atomistics/sphinx/base.py#L2098

When this happens, we don't know whether SCF failed or the log file finished somewhere else -> make the message clearer.

[2021-10-04 14:25] pmrv commented on #378
You can set `job.server.memory_max` for maximum ram in GB per node.

[2021-10-04 14:28] usaikia commented on #378
@pmrv Thanks! I will give it a try.

[2021-10-04 15:43] freyso opened #382 "syntactic sugar for SPHInX input file settings"
**Summary**

I want to simplify the setting of sphinx input settings that are deep in the hierarchy like this:
`job.input.sphinx.search_tree ('preconditioner').type = "CSRB"`
instead of
`job.input.sphinx.main.ricQN.bornOppenheimer.scfDiag.preconditioner.type = "CSRB"`
assuming that everything up to and including 'preconditioner' has been created already, and 'type' is the new setting.

A variant c

[2021-10-04 16:37] max-hassani commented on #379
@freyso, below you can find the pyiron.log:
[code]

The error.out also shows similar error:
[code]

[2021-10-04 16:39] max-hassani commented on #379
For completeness, I have brought below the output of `conda list` in the container:
[code]

[2021-10-04 17:55] jan-janssen commented on #379
Can you compare it to the environment used during the notebook tests?

On Mon, Oct 4, 2021, 10:39 AM MuhammadHassani ***@***.***>
wrote:

[2021-10-04 18:22] max-hassani commented on #379
From the first look, in the CI workflow,  the list of the installed packages does not include `mkl` or `openmpi` packages. I guess they are installed by the based docker container which runs the workflow. I compare it with the details in the log: https://github.com/pyiron/pyiron_atomistics/runs/3734658434
Without the complete info of the CI, it is hard to say the difference between the two. I can

[2021-10-04 19:21] jan-janssen commented on #379
You can add conda list to the continuous integration by adding the corresponding line to the tests for the jupyter notebooks, like I did in https://github.com/pyiron/pyiron_atomistics/pull/383

[2021-10-04 19:48] jan-janssen commented on #379
[code]

[2021-10-04 19:51] jan-janssen commented on #379
@muh-hassani  Can you try `mkl=2021.3.0` ? Once this is working we should fix the version number for the conda package.

[2021-10-04 20:02] pmrv commented on #382
I'd strongly prefer the first version, because it avoids bespoke strings.  I'd even want this as part of the `DataContainer` in pyiron_base.  If you have working code already, it should not be any work at all to add it to `DataContainer` instead of `Group`, but I'll be happy to do the transplant myself, too.

A few open question I still have would be best discussed with the code: depth vs. breadth

[2021-10-04 20:16] prince-mathews opened #384 "Specify IBRION with calc_minimize() for VASP jobs"
**Summary**

I would like to suggest adding an argument for IBRION in `calc_minimize()` with Vasp jobs. This would allow the user to choose the ionic relaxation algorithm instead of using the default as IBRION=2.

**Detailed Description**

For ionic relaxation with Vasp, the available choices are quasi Newton algorithm (IBRION=1) or conjugate gradient algorithm (IBRION=2) or damped molecular dynam

[2021-10-04 20:18] samwaseda commented on #384
More generic would be something like `method='CG'` or `method='QN'`, so ideally it should be something like:

[code]

[2021-10-04 20:33] max-hassani commented on #379
@jan-janssen, thanks for the PR. There seems to be a conflict between pyiron_atomistic dependencies and `mkl=2021.3.0`; when I removed `pyiron_atomistics` version, `pyiron_atomistics=0.2.3` got installed!
Tomorrow, I will take a closer look at the list of dependencies, to find out the issue.

[2021-10-04 20:39] samwaseda commented on #384
Alternatively, we can slowly start thinking about creating a more modular structure (which should be compatible with @liamhuber's plug-in idea). One possible interface, which would be probably the closest to what we have, could be something like this:

[code]

This one would allow for a clearer overview over the parameters available, which should be accessible from `cg.input`, because some minimis

[2021-10-04 21:35] yuyuanjingxuan commented on #377
Yes, sure. @pmrv
Attached are the steps how I fix the issue.
- Troubleshoot the input pyiron scripts
- Check the executable script (run_lammps_2020.03.03_mpi.sh)
- Check the submission script (run_queue.sh)
- If there are no error in the three steps above, submitted the job again via pyrion and check if the error messages still exist.

P.S. The issue is not fully addressed. I recently found there

[2021-10-05 04:53] jan-janssen commented on #379
I fixed the Sphinx issue - https://github.com/pyiron/docker-stacks/pull/95 - but there is still an issue with the experimental notebooks and we are still using the outdated Damask version, so this should also be updated. In addition I opened a pull request to bind the mkl version: https://github.com/conda-forge/sphinxdft-feedstock/pull/32 . Finally I noticed that we are not using the latest versio

[2021-10-05 05:31] pmrv commented on #384
I agree it's a bit annoying to have to set it manually in a VASP specific way.   Still I'd hesitate to make into an argument for `calc_*` until we verified that we can do so in a way that works for all codes and not just something that we support for VASP.

[2021-10-05 06:57] liamhuber commented on #384
Good ideas from all sides, but I think this one wins it. @samwaseda is right that if/when we add this we want to use a non-code-specific term, but that's exactly because it should work for more than one code! I agree `job.input.incar['IBRION'] = 1` is both ugly and annoying, but since the workaround is  a single, stable and reliable notebook line I'm disinclined to break design philosophy to avoid

[2021-10-05 06:59] samwaseda commented on #384
It works also for SPHInX if that's your concern.

[2021-10-05 09:30] liamhuber commented on #384
I'm not totally opposed to something like you suggested above `job.calc_minimize(method='CG')`. If you think it's plausible to do for a handful of codes go ahead. I guess since it's for ionic relaxation it should work for Vasp, Sphinx, and Lammps at a minimum, or we shouldn't do it.

[2021-10-05 10:36] samwaseda commented on #384
I don't really understand what makes it so important that the functionality exists everywhere. If the choice between Quasi Newton and conjugate gradient doesn't exist for LAMMPS it simply issues a warning saying "We don't have QN/CG so we switch back to CG/QN" or an error. Besides if `calc_*` has to exist for all codes, then we have to abolish `calc_md` because it doesn't exist for SPHInX.

[2021-10-05 10:53] sudarsan-surendralal commented on #384
I second this. The only thing we need to implement is a record of all possible (known) optimizers for a given code (accessed by for e.g.: `job_vasp.optimizers.cg`). Then we just need to specify `job_vasp.calc_minimize(optimizer=job_vasp.optimizers.cg)` or `job_vasp.calc_minimize(optimizer="CG")`.

[2021-10-05 12:01] liamhuber commented on #384
Indeed, like I said, I'm not totally opposed to it. One of our promises is this abstraction from the underlying codes though, so in cases where a mode doesn't exist (e.g. no `calc_md` for sphinx, `calc_vcsgc` only for Lammps) that's fine. But if I'm a Vasp user and and X user, and I know that both allow CG or QN minimization, and I know that I can call `vasp_job.calc_minimze(method='QN')` then I'm

[2021-10-05 13:06] freyso commented on #382
I have created a pull request in pyiron_base , let's continue discussions there: https://github.com/pyiron/pyiron_base/pull/460

[2021-10-05 13:06] #382 closed, assigned to nobody

[2021-10-07 13:13] pmrv commented on #384
It's not important to me that all codes support all optimizers, but at least all codes need to support to set *an* optimizer.  If it were only possible for VASP there's no point in exposing it in the generic interface if the functionality is not actually generic.  I think @sudarsan-surendralal last suggestion should work nicely.

Which is actually a good argument to me why `calc_md` should not be

[2021-10-08 01:35] yuyuanjingxuan commented on #377
I sent the examples to lammps users in the group, and I was not the only one who met the issue. The jobs by parallel version of lammps submitted on cm queue always crashed. Attached are the error messages.
[code]
Current versions of lammps are updated on Aug 15. We speculate some libs lammps relays on might charge recently. Would it be the possible reason?

[2021-10-08 06:50] niklassiemer commented on #377
It could be related to e.g. the mpi library (the executable dies in the MPI init), however, the jobs do run without pyiron? Could you quickly check which of the following cases are working?

The job runs
  - on the queue
    * [ ] normally with pyiron
    * [ ] if submitted to the queue via the pyiron-generated run-script
    * [ ] with an own run-script using only `pyiron/dev` module and the prov

[2021-10-08 09:44] #379 closed, assigned to nobody

[2021-10-08 14:02] pmrv commented on #377
I think I'm seeing the same problem now and will try to investigate.

[2021-10-08 14:39] pmrv commented on #377
I my test case it even fails when run with `run_mode='manual'` and then trying to run the job from the CLI.  Copying the global lammps resource script into the very same folder and running it works tough...

[2021-10-08 15:20] pmrv commented on #377
Serial jobs run both on the queue and on the login node, so it must be something with the MPI libraries.

[2021-10-11 07:36] liamhuber commented on #372
Ok, it wasn't the matrix inversion at all -- the matrix has diagonal entries of 4.2, and is pertrubed by random numbers with magnitude <= 0.1, so there is no way to drive it to non-invertiblity.

Rather, the problem was that `get_scaled_positions` ensures that our values lie in [0, 1), and the manual thing we were comparing against didn't. So every now and then it would fail because -eps != 1-eps.

[2021-10-11 07:36] #372 closed, assigned to liamhuber, samwaseda

[2021-10-13 15:15] pmrv commented on #377
Short summary of my today's findings:
- :ok: running serial on login node via pyiron
- :x: running parallel on login node via pyiron
- :ok: running parallel on login node via pyiron resource script

I drilled a little bit into how pyiron launches the script
[code]
Interestingly when I run this exact snippet in a normal python shell in the working directory of the job (with the variables substitute

[2021-10-13 15:17] pmrv commented on #377
I also tested that this problem does *not* occur with the intel MPI provided on the cluster.  The problem there is just that the cluster built lammps binary does not have all the plugins that the conda version has.

[2021-10-14 10:40] pmrv commented on #377
So @yuyuanjingxuan and I did some more debugging and in particular we found that (manually) submitting this run script to the queue works

[code]

the only change to the normal run script is the last line, which normally reads

[code]

Now the only thing that the job wrapper is supposed to be doing is calling `GenericJob.run_static` which in turns mostly does

https://github.com/pyiron/pyiron_base

[2021-10-14 17:33] pmrv commented on #377
I built a small hello world MPI program with `mpicc` coming from the openmpi conda package and get the same results, i.e. crash when run under pyiron, but not otherwise.  That means it can't be lammps.

[2021-11-02 12:25] yuyuanjingxuan opened #407 "New submissions of vasp jobs will kill the ones which submitted before"
**Summary**
Hi all,

I recently found when a new vasp job stated running,  jobs which submitted previous were killed for unknown reasons. In my case, 20 cores were applied in each of jobs. I found only 6 of them could exist simultaneously in the queue. Attached are the error messages of jobs which was killed:
[code]
I also tried to submitted jobs in different queues: `cm`, `cmti` and `cmfe`, while

[2021-11-02 12:35] pmrv commented on #407
We have some issues with random VASP crashes right now.  Have you verified that it is really the "seventh" vasp job that causes the crash or do the jobs also crash, when only six jobs are queued?

In my cases the crashes appear to be caused by high k-point sampling (~25 for small structures, less for larger structures). @prince-mathews and @usaikia might have other tips.

[2021-11-02 12:44] prince-mathews commented on #407
So the problem is that when a new job starts running, one of the already running jobs gets killed, so only 6 run at a time. Am I right?
Also, did any of the jobs finish?

[2021-11-02 13:37] yuyuanjingxuan commented on #407
Yes, I doublechecked it. The six jobs could run without any issues. Once the 7th one is running, the 1st job is killed.

[2021-11-02 13:39] yuyuanjingxuan commented on #407
Yes, it is. The 6 jobs are still running, and the output files are keeping updating. None of them are finished yet.

[2021-11-02 13:59] usaikia commented on #407
In my case it was not the 6th job. More than six jobs were running at the same time without any problem. Some of them got killed with the same error as @yuyuanjingxuan mentioned after running successfully for a few ionic steps.

[2021-11-02 14:01] samwaseda commented on #407
By the way it's not directly related to this issue, but it might be a good opportunity to let @freyso know what's missing in SPHInX and you can maybe start thinking about switching to it.

[2021-11-02 14:06] pmrv commented on #407
This sounds like it's something about the queuing system and not pyiron as such.  Is it related to this specific six calculations or does the same thing happen with 6 cheap calculations?

[2021-11-02 14:07] yuyuanjingxuan commented on #407
I guess maybe there was a limitation of maximum cores for one user. In my case, it is 120 cores (6 jobs).

[2021-11-02 16:41] niklassiemer commented on #407
However, such limitations should only pause calculations to start running not killing already running ones in favor of starting a new one...

[2021-11-03 05:59] Leimeroth commented on #238
Bumping this because it came up again for some of my calculations and also another member of my group.

I found that the child jobs of the master job only allocate 1 core on the cluster running slurm (sacct output below). Can this be an issue with run_vasp_mpi script f.e.?
The ref job was set to 24 cores, while the master job had 96. So the cores of the master are correctly allocated, just the dis

[2021-11-03 15:04] jan-janssen commented on #238
@Leimeroth The question is if the one core is VASP running with one core or if it is just the python subprocess which should call VASP. Can you check if you find any error log in the folders of the VASP sub jobs?

[2021-11-03 15:12] Leimeroth commented on #238
The VASP OUTCAR states:
  running on   24 total cores
but I don't know if that really means that it runs on 24 cores, or if it starts 24 mpi processes on 1 core.
The error file of the Master job contains kill signals for all jobs when the runtime ends, so I think all processes are active simultaneously up to the timeout.

[2021-11-03 20:12] jan-janssen commented on #238
Ok, how many cores do you have on one node? Which queuing system do you use? And how do you call vasp inside the run script? For example for slurm to submit a calculation to another node within the same allocation you need to use srun rather than mpiexec or mpirun.

[2021-11-04 10:25] Leimeroth commented on #238
Our queuing system is slurm, and nodes have 96 cores.
But I think the problem is solved, at least it now works for my simple ElasticTensor test calculation. It seems the problem was a combination of our default vasp version,  which loads another python version on the cluster and then me trying around with mpirun and mpiexec trying to fix it. I recompiled vasp and changed the script to use srun aga

[2021-11-04 12:24] jan-janssen commented on #238
Now I am confused, I thought this was solved in https://github.com/pyiron/pyiron_base/pull/329

[2021-11-04 13:11] Leimeroth commented on #238
It worked after that fix, but now it seems broken again.
For some reason job.child_project.job_table() shows the child jobs for my ElasticTensor Vasp job,  but not for Lammps.
Edit:
It only worked for finished jobs, for aborted jobs the problem was permanently there.

[2021-11-04 13:35] yuyuanjingxuan commented on #407
Similar issue occurs on my LAMMPS jobs now. I found all my LAMMPS jobs which are running crashed simultaneously. One of them survived. Attached is the error messages:
[code]
It seems that the issue caused by insufficient default memory. When the jobs ask for more, processors cannot attempt the memory access requested.
I guess the issue of VASP also caused by the memory problem. I performed the sam

[2021-11-07 20:31] Leimeroth opened #409 "h5io version 0.1.4 causing several problems"
**Summary**
 Updating from h5io version 0.1.2 to version 0.1.4 breaks all kinds of functionality.
I experienced that lammps jobs don't run and get structure does not work. This seems to be related to a change in the returned datatype, f.e. the positions array of a structure had dtype=object instead of float and could not be cast, causing an error.
Below is the hdf part of the backtrace of a lammps

[2021-11-08 04:17] jan-janssen commented on #409
https://github.com/pyiron/pyiron_base/pull/499

[2021-11-10 10:41] niklassiemer commented on #409
If I deduced it correctly, the issue with the new h5io-0.1.4 is the following:

With h5io-0.1.2 the following is valid:
[code]
However, with h5io-0.1.4 the `hdf['key'].dtype == np.dtype(object)`.  And for this dtype
several np methods do not work!
[code]

In https://github.com/pyiron/pyiron_base/pull/508 I added a few tests which check that we get out  what we put in for our `FileHDFio`. However,

[2021-11-10 15:26] pmrv commented on #407
I'm running a lot of lammps jobs right now and can say it's at least not a general problem.  It really sounds like a [memory problem](https://ask.cyberinfrastructure.org/t/what-does-it-mean-when-i-get-a-bus-error-in-my-job/1101).  You can ask for more memory on your jobs with `job.server.memory_limit`.

[2021-11-10 18:03] freyso opened #418 "SPHInX restart_from_charge_density surprisingly starts from atomic density"
**Summary**

SPHInX ``restart_from_charge_density`` silently switches to restart from atomic densities if the code believes that no reliable density is available. That produces surprising behavior. It would be better to stop with a warning.

**pyiron Version and Platform**

developer version on cmti, as of November 2021.

**Expected Behavior**

Stop with a clear error message.

**Actual Behavior**

[2021-11-10 18:07] samwaseda commented on #418
I don't really understand the phrase here. `rho.sxb` is not meant to be the charge density?

[2021-11-10 19:33] yuyuanjingxuan commented on #407
Yes, I've tried to ask for more memory, while it did not work. Then I increase the number of cores from 40 to 60 and 80. Jobs running with 60 core still exported the similar issue. Everything looks fine for those with 80 cores.

[2021-11-11 07:31] skatnagallu commented on #418
When I restart SPHInX jobs based on previous charge density, the function `restart_from_charge_density`  probably does not find the previous job's density file (rho.sxb). Instead of raising an error (that it couldn't find the previous rho.sxb) when this happens, job restarts with a some different charge initialization.

[2021-11-11 07:35] samwaseda commented on #418
Ah ok so the atomic density is the estimated charge density based on the atomic configuration then. I didn't get the vocabulary but now I understand the problem. Let me see what VASP does and I'll decide what to do 😎

[2021-11-11 07:40] samwaseda commented on #418
So VASP raises an error so I'll fix it in SPHInX then.

[code]

[2021-11-11 07:49] samwaseda commented on #418
@sudarsan-surendralal VASP raises the error above when `run()` is called, but it might be more helpful to do so when `restart()` is called. In addition, it could be good to say more explicitly that the charge density file was not found

[2021-11-11 09:20] niklassiemer commented on #409
First of all, with the new tests, I get locally failing unittests on base for h5io-0.1.4 now.
I went on and if I am using h5io directly, the dtype seems to be retained! Thus, it is after all a mistake on our side.
Indeed, if I use the pyiron/pyiron_base#503 branch (and h5io-0.1.4 locally) I get passing tests, again.
Therefore, h5io-0.1.2 was not dtype conserving and h5io-0.1.4 is. I just confirmed

[2021-11-11 09:39] niklassiemer commented on #407
I just do not get how these things are related... Each single simulation should be independent of all the others - latest after given to slurm to handle them. Since afterwards, each calculation should be running on their own nodes and with their own memory limitations. Therefore, it should not matter if I submit 3 or 30 jobs of the same kind for their run behavior... (Of course, slurm will distrib

[2021-11-11 09:51] pmrv commented on #409
That means we have potentially a lot of wrongly written HDF5 files on the cluster, doesn't it?

[2021-11-11 10:02] niklassiemer commented on #409
Yes, I fear so! Especially, with the bug that all arrays had been casted to dtype=object... We could in our  `FileHDFio.__getitem__`
[code]

[2021-11-11 11:10] pmrv commented on #409
Mh, we'll need something like that, but there also needs to be a heuristic to check for all integer arrays.

[2021-11-11 12:40] sudarsan-surendralal commented on #418
Thanks for pointing this out @samwaseda. I've implemented a generic check in https://github.com/pyiron/pyiron_atomistics/pull/422. Can you have a look at this? If you like it we can also apply them in  https://github.com/pyiron/pyiron_atomistics/pull/420.

[2021-11-12 13:30] niklassiemer commented on #409
Yes, actually we will have to do `return np.array(obj.tolist())` to avoid casting e.g. `False` to `0` and `None` to `nan` or the like... The drawback is of course the performance loss...

[2021-11-16 08:41] liamhuber opened #426 "Sphinx is double-counting potentials"
**Summary**

Sphinx is double-listing potentials.

**pyiron Version and Platform**

Everything bleeding-edge git.

**Expected Behavior**

[code]

**Actual Behavior**

[code]

**Further Information, Files, and Links**

It's causing [this test](https://github.com/pyiron/pyiron_atomistics/blob/2f1a45bb7964f127478d746e53549de7191005c7/tests/sphinx/test_base.py#L112) to fail. I ran into it during #425,

[2021-11-16 08:56] samwaseda commented on #426
Oops someone finally noticed it. ok I'm gonna take a look at it this afternoon 😎

[2021-11-17 13:52] samwaseda commented on #426
It's slightly unrelated, but one of the reasons why it's massive is because it tries to support several SPHInX versions, although I think now it's time to abandon 2.3, because it's been now 3 years since this version is not used anymore by default. Is there a guideline for not supporting certain versions?

[2021-11-17 15:11] samwaseda opened #428 "`fix_symmetry` is overwritten"
https://github.com/pyiron/pyiron_atomistics/blob/2f1a45bb7964f127478d746e53549de7191005c7/pyiron_atomistics/dft/job/generic.py#L323

The line above overwrites `job.fix_symmetry` (which is required if the k-point symmetry in the box should be turned off), i.e. the following happens:

[code]

[2021-11-17 15:12] liamhuber commented on #426
Not that I'm aware of. We try to keep backwards compatibility of the pyiron code itself until there's a major version number bump (i.e. first digit), but I don't know exactly how we do/should handle called executable version support.

[2021-11-17 15:14] samwaseda commented on #426
ok I presume for now it's safe to remove the support for v.2.3 because there was (and still is) hardly anyone using SPHInX. It might be good to talk about it at the next pyiron meeting.

[2021-11-18 07:18] samwaseda commented on #381
This issue should be solved [here](https://github.com/pyiron/pyiron_atomistics/pull/427) (but actually I found out that there's not much that could be done).

[2021-11-18 07:18] #381 closed, assigned to samwaseda

[2021-11-18 11:32] pmrv commented on #336
@jan-janssen @usaikia I suppose this can be closed?

[2021-11-18 11:35] #34 closed, assigned to usaikia

[2021-11-18 11:46] #218 closed, assigned to liamhuber, samwaseda

[2021-11-18 11:48] liamhuber commented on #128
@niklassiemer I guess we've all just gotten used to the current behaviour (`from pyiron_atomistics import Project`/`from pyiron import Project`/`from pyiron_base import Project; import pyiron_atomistics`) and this can be closed?

[2021-11-18 12:07] usaikia commented on #336
@pmrv resolved from my side.

[2021-11-18 12:16] #336 closed, assigned to nobody

[2021-11-18 12:39] niklassiemer commented on #128
Especially, if we go forward not having different projects all over the place this should be fine to close here 👍

[2021-11-18 12:39] #128 closed, assigned to nobody

[2021-11-23 10:42] samwaseda opened #434 "`set_occupancy_smearing` should have `order` but not `ismear`"
https://github.com/pyiron/pyiron_atomistics/blob/75c1edbc228606dd99e0384c2ed9c998e85ad768/pyiron_atomistics/vasp/base.py#L1285

During today's meeting we realised that it makes little sense to have `ismear` in `set_occupancy_smearing`, but it should have `order` (as I did in SPHInX).

[2021-11-23 20:08] usaikia opened #435 "VASP selective dynamics error"
I used pyiron to fix position of an atom during vasp ionic relaxation calculation (isif=2). After running the job I found a line in the OUTCAR saying:
"""
using selective dynamics as specified on POSCAR
   WARNING: If single coordinates had been selected the selection of coordinates
            is made according to the corresponding   d i r e c t   coordinates!
            Don't support selection

[2021-11-25 05:00] jan-janssen commented on #409
@Leimeroth This issue should be fixed now. Can we close it?

[2021-11-25 15:13] Leimeroth commented on #409
Yes.

[2021-11-25 15:13] #409 closed, assigned to nobody

[2021-11-25 15:26] yuyuanjingxuan opened #440 "How to set up inactive lammps jobs"
Hi All,

I am performing several MD calculations by lammps. When they are finished, I intend to extract several hundreds of snapshots out, and then take them for “one-step” calculations with different potentials. Each of such “one-step” job is also carried out by lammps, while the number of steps is set to one. I do not want to submit these jobs respectively, since the queue will be occupied by th

[2021-11-25 15:27] jan-janssen commented on #440
I guess the solution would be using a script job in combination with running lammps in interactive mode.

[2021-11-26 07:49] samwaseda opened #443 "I cannot find `output` in hdf for a custom class in `InteractiveWrapper`"
I have the following code:

[code]

And afterwards when I check `pr.load('lmp_test')`, I can find `input`, but there's no `output`. I don't understand why.

[2021-11-26 07:53] samwaseda commented on #443
ok I can see that if the job is not interactive (i.e. if I remove `interactive_open` and `interactive_close`) then `output` appears.

[2021-11-26 07:55] samwaseda commented on #443
And not so surprisingly, the following code also has `output` afterwards:

[code]

[2021-11-26 08:05] samwaseda commented on #443
ok I found it out: I apparently needed to put `self.ref_job_initialize()` before `self.ref_job.run()` in `run_static`.

[2021-11-26 08:05] #443 closed, assigned to nobody

[2021-11-26 14:17] pmrv commented on #435
Our `write_poscar` function appears to support direct coordinates

https://github.com/pyiron/pyiron_atomistics/blob/788d9c7e4c2f5251536c1d9794aaf2e22a07dafa/pyiron_atomistics/vasp/structure.py#L82

I guess the way to implement this is to change the `Input` class to ask for direct coordinates once it detects some atom coordinates are fixed here

https://github.com/pyiron/pyiron_atomistics/blob/788d

[2021-11-26 16:38] usaikia commented on #435
@pmrv Thanks! I will open a PR to implement this.

[2021-11-26 20:09] jan-janssen commented on #440
[code]

[2021-11-26 20:12] jan-janssen commented on #440
In future this is also going to be possible with the `with`-statement https://github.com/pyiron/pyiron_base/pull/565

[2021-11-30 08:54] pmrv opened #452 "s.resource_list sometimes grows without bounds"
**Summary**

I have a long running kernel (~1000 cells, a few thousand jobs started) and noticed that simply creating new jobs starts to get really slow (~3min for a Vasp job), because somewhere `Settings.resource_list` gets spurious entries of the `iprpy` path, like this

[code]

**pyiron Version and Platform**

I'm on the cluster on pyiron_base version 331642e8, pyiron_atomistic at #444.

I can'

[2021-11-30 09:04] liamhuber commented on #452
Ahh, good catch. I bet [this line](https://github.com/pyiron/pyiron_base/blob/8df3021dd2c2f936a9ddb06ba9f9ea567ec2446d/pyiron_base/state/settings.py#L134) should rather read ```if os.path.exists(res_path) and res_path not in self.resource_paths:```

btw, you mean ```Settings.resource_paths```, right?

[2021-11-30 09:08] pmrv commented on #452
I see that this happens for Lammps jobs (each job adds 2-3 entries), but not for Vasp, so it must be simulation code specific somewhere.  So while this probably doesn't cause this issue, we should still fix this one in base.

I think the offending line is here

https://github.com/pyiron/pyiron_atomistics/blob/9e144aa94ff801336f6720dd847ac6249013302c/pyiron_atomistics/lammps/potential.py#L81

and w

[2021-11-30 12:54] liamhuber commented on #452
Actually I spoke too quickly. I was worried that repeat calls of `state.update` would see the conda paths appended repeatedly, but actually `update` starts by giving us a clean slate, so it's safe to append each time anyhow.

Yep, I think you're spot on. I actually *really* don't like this line. First, appending to the config deep in the bowels of another module is dangerous (and we see the result

[2021-12-01 07:42] pmrv commented on #452
I'd guess having to define the iprpy path manually on every install is going to be a pain.  We could merge this bit to be on lammps module import maybe and offer better API from base, so that downstream module cannot mess with the resource path directly, only call a function that adds a path (and then converts/checks if it's in there already).

[2021-12-01 07:47] pmrv commented on #452
I'll merge the fix now, but we should talk about this issue again on Monday.

[2021-12-01 08:13] liamhuber commented on #452
Unfortunately, I do agree here...

These sound like good plans. We definitely need to discuss it as it's a distinct paradigm shift from our all-or-nothing updates. At the end of the day I'm not really in love with our current setup, and allowing a more construction-based approach where we layer changes together (thus allowing appending and/or updating individual changes) is a-ok by me.

[2021-12-01 18:41] sudarsan-surendralal commented on #434
Sorry for the delay (see linked PR)

[2021-12-02 09:16] #452 closed, assigned to nobody

[2021-12-02 17:56] #434 closed, assigned to sudarsan-surendralal

[2021-12-06 08:15] fldei101 opened #460 "inherit from VaspJob"
**Summary**

In the hackathon we wrote our own VaspJob which should inherit all the functionality of the parent class but has an extended `write_input()` function. The function should write two additional files into the working directory so that VASP can access them during the run.

[code]
 However we had several issues with this approach:

1. If we try to assign an executable the `available_versi

[2021-12-06 14:17] jan-janssen commented on #460
The quick fix for the first issue:
[code]
Basically overwriting the `_executable_activate()` function, because we try to generate the path to the executable from the module path which is not available for classes defined in the module. Still we should think about an option to fall back to the executable of the underlying class.

For the second part it looks to me that you created and manually exec

[2021-12-06 14:36] jan-janssen commented on #460
I created a pull request to fix this issue in `pyiron_base` https://github.com/pyiron/pyiron_base/pull/574 - @fldei101 Can you test if this solves your issue?

[2021-12-06 15:15] fldei101 commented on #460
Hi Jan,

yes the provided fix works great, I can now choose between my executables and they run perfectly.

Yes, I could not await the final results and had a look into the OUTCAR file during the run. If I let it run without having a glimpse I do not get this message.

However, the error `Directory not empty:` still persists because now pyiron complains that I have a non-empty `__pycache__` folder

[2021-12-06 16:46] jan-janssen commented on #460
You can disable the compression in general by setting:
[code]
Alternatively you can manually remove the `__pycache__` folder at the end of the `collect_output()` function or in the `compress()` function before the rest of the compress routine is called.

[2021-12-07 09:01] fldei101 commented on #460
Thank you very much, I decided to avoid compressing.

[2021-12-07 09:01] #460 closed, assigned to nobody

[2021-12-08 21:13] samwaseda opened #464 "`Atoms.get_scaled_positions` from ASE fails due to numerical precision"
While debugging a problem in [this PR](https://github.com/pyiron/pyiron_atomistics/pull/463), I realised that `get_scaled_scaled_positions()` in ASE does not have the epsilon displacement, which we used to have in pyiron, which makes it extremely unstable when there's an atom at the boundary. In particular, instead of 0, it sometimes returns something like 0.99999999999. I guess we should re-imple

[2021-12-10 15:45] samwaseda opened #467 "Quasi Harmonic Approximation does not perform structure optimisation ?"
I can see that in the Quasi-Harmonic Approximation job, there is no structure minimisation done for each of the strained structures, which gives wrong displacement fields. I did a small calculation in a Ni-4x4x4-cell containing 1 H atom at 2% strain, which is frankly very small. You can see the error on the free energy in the figure below. We can say that the error per atom is relatively small, bu

[2021-12-10 15:50] jan-janssen commented on #467
Does not this depend on the reference job? If you assign a reference job with `calc_minimize()` it should optimize the atomistic positions of the structure.

[2021-12-10 15:52] samwaseda commented on #467
In QHA we create an artificial displacement field, for which the force field is calculated. If you set `calc_minimize`, i.e. a structure optimisation is performed, then the displacement field is lost. Of course, for Murnaghan it's a different story.

[2021-12-10 15:52] jan-janssen commented on #467
Can you post an example?

[2021-12-10 15:55] samwaseda commented on #467
Of what?

[2021-12-10 15:56] samwaseda commented on #467
You mean something like this?

[code]

This won't work because we explicitly (and above all: correctly) forbid `calc_minimize` for Phonopy

[2021-12-10 15:58] jan-janssen commented on #467
Ok, so you basically want the relaxation for each volume before calculating the phonons? The risk with this is that you could end up with different symmetries for different strains, resulting in different phonon modes.

[2021-12-10 16:03] samwaseda commented on #467
Yes, but that's not what I *want*. That's what I *must* do if I want to calculate the free energy for a given volume.

Yes, I will end up with the **correct** phonon modes. If there's a symmetry breaking (which is usually beyond QHA though), then what the current implementation returns is so badly wrong that it is not even an approximation.

[2021-12-10 16:06] jan-janssen commented on #467
But that is the name of the job, right? When I read Quasi Harmonic Approximation then I assume the symmetry is the same for all strains.

[2021-12-10 16:08] samwaseda commented on #467
Yes, so either the code should fail or the user knows what they are doing. Either way is fine by me but currently our class simply meddles through.

[2021-12-10 16:11] jan-janssen commented on #467
I am fine with the error message you add in https://github.com/pyiron/pyiron_atomistics/pull/466 I am just not sure how to add the structure optimization in the workflow. How do you do it currently?

[2021-12-10 16:15] samwaseda commented on #467
I have my own force fitting class, in which I estimate the optimised structure based on the forces and the energies (which works perfectly if there's no structure transformation). I don't think we can twist our Phonopy class to include this though. I'll try to put it in pyiron as soon as I have the feeling that it works always reliably.

[2021-12-10 23:04] #467 closed, assigned to nobody

[2021-12-13 15:11] yuyuanjingxuan commented on #440
Thank you @jan-janssen
I've done a few tests for the interactive jobs. I aimed to load structures and then ran one-step calculations. So what I did was to use a loop to load structure from another job, attached is the code:

[code]
Then I saved the cmds above in a file, "interactive.py", and submitted a ScriptJob. I found there was no issue if I only took ~400 structures. When I set more structure

[2021-12-13 17:24] jan-janssen opened #473 "Generic set_fft_mesh() function"
**Summary**

Currently only VASP implements an `set_fft_mesh(self, nx=None, ny=None, nz=None)` function. Still it would be great to extend this functionality to other DFT codes and define a generic `set_fft_mesh()` function. In addition the arguments could be either relative or absolute and it might be more comfortable to use a list rather than three individual arguments.

**Detailed Description**

[2021-12-13 18:21] jan-janssen commented on #440
@pmrv Can this be related to the HDF5 file growing?

[2021-12-14 00:10] jan-janssen commented on #197
@Leimeroth Is this issue fixed?

[2021-12-14 00:10] jan-janssen commented on #212
@Leimeroth Is this issue fixed?

[2021-12-14 06:48] Leimeroth commented on #197
I don't know if all issues that came up here are fixed. Master jobs and using the energy to fit elastic constants work now, but I am not sure how pressure is stored in VASP jobs now.

[2021-12-14 07:49] niklassiemer commented on #473
The FFT grid can be specified in the `&SYSTEM` section by providing values for `nr1, nr2, nr3` (hard grid) or `nr1s, nr2s, nr3s` (smooth grid) in `pw.x` calculations - see
https://www.quantum-espresso.org/Doc/INPUT_PW.html#idm294

_Originally posted by @niklassiemer in https://github.com/pyiron/pyiron_contrib/issues/287#issuecomment-992847301_

[2021-12-14 08:04] samwaseda commented on #473
Comment from Christoph:

I presume that his strongest emphasis should be on the last phrase 😎

[2021-12-14 08:10] pmrv commented on #197
As of #354 the voigt stresses are in the HDF files under `output/generic/stresses`.  This is different from the lammps jobs where they are under `output/generic/pressures`, so I'm not sure if this requires special casing in the elastic job.

[2021-12-14 16:03] samwaseda opened #476 "Can I replace random atomistics by Lennard Jones?"
The current `AtomisticExampleJob`-class returns random forces whenever `run` is called. This is good for some classes, but other classes (most notably Phonopy) it is totally useless. If anyway anything can be returned, can I implement simple Lennard Jones using `get_neighbors`? As everyone probably already knows, `get_neighbors` is extremely fast so I don't think there'd be any disadvantage create

[2021-12-14 16:06] pmrv commented on #476
It would probably be nice, then we can test some of the master jobs with this, too.

[2021-12-14 16:06] jan-janssen commented on #476
I like the idea

[2021-12-15 06:49] #476 closed, assigned to nobody

[2021-12-16 10:35] samwaseda opened #481 "Why does interactive LAMMPS become slower?"
I just realised that interactive LAMMPS gets slower and slower. For this, I created the following short example:

[code]

And I observed the following evolution of time (of course I plotted `np.diff(t_lst)` and not `t_lst`). Why does interactive LAMMPS get slower and slower?

<img width="386" alt="Unknown" src="https://user-images.githubusercontent.com/37879103/146355501-418c16a1-0fb4-4832-a7cf-3e

[2021-12-16 10:38] pmrv commented on #481
Probably the best way to find out is to run the for loop under `cProfile`.

[2021-12-16 17:21] samwaseda commented on #481
I just made sure that it doesn't happen with `AtomisticExampleJob`, so it must be either LAMMPS or the pyiron-implementation of LAMMPS. I'll try to see how `cProfile` works but I'm a total loss in this kind of stuff XD

[2021-12-16 20:24] pmrv commented on #481
I did a quick profile and roughly ~45% of the time is spent in `GenericInteractiveOutput._lst_from_cache`, specifically this list comprehension

https://github.com/pyiron/pyiron_atomistics/blob/3035031f125ee011696c511db8e88085b1827e20/pyiron_atomistics/atomistics/job/interactive.py#L407

I suppose it makes sense, as the cache gets longer during the calculation, more list -> array conversions are d

[2021-12-16 21:06] samwaseda commented on #481
AAAAAAHA! So it means there could be a huge gain by making it more efficient.

[2021-12-17 08:51] pmrv opened #484 "Interactive Jobs broken with multiple processes"
I want to run an interactive lammps job with multiple cores with the code below

[code]

but I get an error from pylammpsmpi

[code]

I have not looked at any code, but is it possible that multiple processes of the pylammpsmpi code are trying to read the data from a pipe, but our side only sends it once?

[2021-12-17 09:31] pmrv commented on #484
I ran the simple snippet

[code]

Once on the cluster (with intel MPI loaded) and on my local laptop (with the conda-forge package of pylammpsmpi) and get this output, so it seems the MPI process is directly dying, but the error is different so I'm not sure if this is the same bug or not.

[code]

[2021-12-17 11:59] jan-janssen commented on #484
I only tested the code with openmpi and I remember there were issues with mpich - so can you share the Conda lammps version you use?

[2021-12-17 12:01] jan-janssen commented on #484
In addition there was a log command to print the Lammps calls from pyiron so those could help as well.

[2021-12-17 12:56] jan-janssen commented on #484
On my Mac mini both examples work just fine. I use the following LAMMPS versions:
[code]

[2021-12-17 13:16] pmrv commented on #484
On my laptop I have
[code]

[2021-12-17 13:47] jan-janssen commented on #484
So it Is the mpich version `py310hf05004c_mpich_2 ` try installing the openmpi version using `mamba install -c conda-forge lammps=2021.09.29=*openmpi_2`

[2021-12-18 13:58] #378 closed, assigned to nobody

[2021-12-18 13:59] #435 closed, assigned to nobody

[2021-12-20 15:49] jan-janssen commented on #473
[code]

[code]

Here `meshaccuracy=1` equals `Accurate` for VASP and analogously  `meshaccuracy=0.75` equals `Normal`. https://www.vasp.at/wiki/index.php/PREC and https://sxrepo.mpie.de/attachments/download/61/sphinx-manual-2.7.pdf

[2021-12-21 16:02] samwaseda opened #486 "Pressure value difficult to understand"
Today at the ADIS meeting we realised that it is extremely confusing that `pressure=0` in `calc_minimize` etc. means the hydrostatic pressure, i.e. as long as the total pressure is 0, it doesn't matter whether `p_xx` is 2000 GPa or `p_yy` is -3000 GPa. At the next pyiron meeting we should talk about what it should be called.

[2021-12-21 17:06] jan-janssen commented on #484
@pmrv Were you able to fix this issue?

[2021-12-21 17:17] pmrv commented on #484
I'm already in vacation, so most likely Ill only get to try it next year.

[2021-12-22 10:02] liamhuber commented on #486
I would actually be super careful about changing the behaviour of `pressure=0`. IIRC, right now `pressure=0` gives hydrostatic, `pressure=[0,0,0]` lets the axes relax independently, and `pressure=0*np.eye(3)` relaxes all DOF. So for `pressure=0` you provide one parameter and this impacts one degree of freedom, etc.

If we switch it so that `pressure=0`=`pressure=0*np.eye(3)`, how do we recover the

[2021-12-22 10:12] samwaseda commented on #486
Yeah that's the reason why I didn't directly open a PR. On the other hand, we call the average pressure "hydrostatic pressure", but this is physically meaningless as long as the system is not liquid. @JNmpi 's idea was to add `hydrostatic_pressure`. Mine would be to issue a warning whenever a single number is set. Frankly, I would even accept to not offer hydrostatic pressure in the first place.

[2021-12-22 14:32] liamhuber commented on #486
Hmm, I think we need to offer it overall-- even if we don't use it there's no reason people doing atomistic fluid simulations shouldn't be supported. And I'm still not in favor of adding extra flags unless we're really completely desperate. I quite like the idea of throwing a warning though.

[2021-12-28 17:24] samwaseda opened #490 "aimsgb raises error for certain combinations of structure and axes"
Please take a look at the following lines:

[code]

Here, I'm creating the same grain boundary by rotating the axes and switching between `lmp.structure` and `lmp.get_structure()`. For some reason, only the last one raises an error and I have no idea why.

[2022-01-03 05:36] sinazadeh opened #491 "Write POSCAR in direct coordinate"
I read [here](https://github.com/pyiron/pyiron_atomistics/pull/448) the POSCAR file will be written in direct coordinates when the selective dynamic is on. What if the problem does not have sth to do with selective dynamic and wants to have POSCAR file in direct coordinate? CONTCAR file will be generated in direct cordinate

[2022-01-03 06:41] sudarsan-surendralal commented on #491
Currently, for VASP jobs, pyiron by default writes POSCAR files in cartesian coordinates (unless as you mentioned, selective dynamics is turned on).  If you simply want to output a given structure into a POSCAR file into direct coordinates, you can do this:

[code]

However, if you want to control how pyiron writes POSCAR files when submitting VASP jobs (direct or cartesian), this needs some addit

[2022-01-03 06:51] sinazadeh commented on #491
Yes, this is what I am looking for.

[2022-01-03 08:04] samwaseda commented on #491
@sinazadeh Can you explain what you need it for?

[2022-01-03 08:24] sinazadeh commented on #491
I faced contingency error for relaxation of a complicated alloy. The source of this error is probably the outdated version of potentials that I am using (I am working with our lab to have updated version of potentials). Putting this aside, the only way my VASP job is different from the instruction that I am following is difference in coordinates. So this is just a guess and I am not sure if this w

[2022-01-03 09:23] samwaseda commented on #491
ok that sounds more like a VASP bug, so I'd be super unwilling to create a tag to fix the bug of a commercial software, especially because it's really not cheap and they should be serious about fixing this kind of stuff. Can you make sure that the error comes from the difference between direct and Cartesian coordinates with the lines that @sudarsan-surendralal suggested? Then we should submit this

[2022-01-03 15:42] sinazadeh commented on #491
I will do more tests in the next following days and let you know what was the source of error.

[2022-01-06 14:13] #481 closed, assigned to nobody

[2022-01-06 14:16] lxknll opened #495 "Bug: pip installation of pyiron fails - Additional documentation needed"
Hey everyone,
I am new to pyiron but seem to have encountered a problem with pip-based installations. I am aware that a conda-based installation is recommended. Unfortunately, this was not possible on my particular machine.

**Summary**

After installing pyiron through `pip install pyiron` as described in the documentation, `import pyiron` will raise an Import Error. Afaik this is because of two d

[2022-01-06 17:49] jan-janssen commented on #495
Hi @lxknll,

Thank you for your feedback. The easiest way to install pyiron is using conda:
[code]
I created a patch for `aimsgb` https://github.com/conda-forge/aimsgb-feedstock/blob/master/recipe/pymatgen.patch which fixes the compatibility to the latest pymatgen version - it is included in the conda package but unfortunately not in the pip package. But I definitely agree that we should add this

[2022-01-07 08:06] lxknll commented on #495
Hi @jan-janssen,
thank you for your quick reply - great support! :) The conda installation is definitely very convenient and I used it on my personal machine without issues. In the case at hand, though, this was not possible. Nevertheless, I will try to push for the conda-based installation wherever possible in the future.

[2022-01-07 08:06] #495 closed, assigned to nobody

[2022-01-10 22:00] samwaseda commented on #486
Following today's pyiron session, it should look like this:

[code]

[2022-01-13 06:04] skatnagallu opened #502 "Default smearing routine in SPHInX"
Hello, I want to know which is the default smearing routine used in SPHInX calculations. I was under the impression that this was Fermi-Dirac. But according to my calculations, @freyso and I found that sometimes it is Fermi-Dirac and sometimes it is Methfessel Paxton, even though I never explicitly choose wither of them. This makes it difficult to compare among the calculations. I attaching pictur

[2022-01-13 06:52] samwaseda commented on #502
Since the default is Methfessel-Paxton in VASP, the SPHInX default was changed to it in [this PR](https://github.com/pyiron/pyiron_atomistics/pull/416), since @freyso made it available some time ago. So it's not sometimes the one or the other, but it's depending on which version of pyiron you're using.

But you're right that maybe I should have included a warning or better informed everyone that t

[2022-01-14 06:23] #502 closed, assigned to nobody

[2022-01-20 07:36] samwaseda opened #506 "Change scf output to flattened"
This is a question for pyiron DFT users, mostly for @sudarsan-surendralal. I'm thinking about implementing the following two items in SPHInX:

1. Currently, scf outputs, such as free energy, are stored in ragged arrays. I would like to store them in a flattened array, where I would introduce a new tag `scf_indices`, which contains the enumeration (e.g. `[0, 1, 2, 0, 1, 0, 1, 2, 3]` etc.).
2. Just

[2022-01-20 09:25] sudarsan-surendralal commented on #506
I like the idea to avoid working with ragged arrays (also useful for VASP calculations). But you could maybe use @pmrv's flattened storage class for this rather than implementing your own

https://github.com/pyiron/pyiron_base/blob/7ba3283c0926234829ba78a7eedd541b72056e3f/pyiron_base/generic/flattenedstorage.py#L29

[2022-01-20 09:31] samwaseda commented on #506
I thought about using that, but I don't really want to work with getters and setters, I'd prefer something that simply returns a (ragged or non-ragged) array

[2022-01-20 11:50] pmrv commented on #506
I added `get_array_ragged()` and `get_array_filled()` specifically for this, so I'd be in favor of trying to use it first.

[2022-01-20 12:37] sudarsan-surendralal commented on #506
Couldn't we just implement a `__getattr__` in `FlattenedStorage` to take care of this? This way, `job.output.scf` could be an instance of this class and every SCF quantity can be accessed easily.

[2022-01-20 18:02] samwaseda opened #508 "Replacement of hdf output by `DataContainer`"
While doing the changes in [this PR](https://github.com/pyiron/pyiron_atomistics/pull/505), I accidentally dropped the support for the conventional dict lookup, because `DataContainer` stores the variables with indices. While I have to admit that I went to far with my refactoring idea, I think we can slowly start thinking about going in this direction anyway. What do you think?

[2022-01-20 19:53] pmrv commented on #508
Since `DataContainers` support lazy loading for a while, I'd actually try to push this solution even further and replace the whole `job.output` with a data container and let people navigate that directly.  It's true that using them mucks up the 'traditional' access via strings directly into the HDF, but we could be radical and retcon accesses to `job['output/foo']` to be translated directly to `jo

[2022-01-20 21:27] samwaseda commented on #508
Yeah I guess as long as `job['output/foo']` can be uniquely identified it shouldn't break anything that's already there.

[2022-01-20 22:48] samwaseda commented on #508
Actually now I decided to overwrite `__getitem__` and parse the key, so the SPHInX output should work in the same way as before.

[2022-01-20 22:48] #508 closed, assigned to nobody

[2022-01-25 21:38] samwaseda opened #512 "Is there a reason `ElectronicStructure` has totally different names for attributes and hdf5 tags?"
https://github.com/pyiron/pyiron_atomistics/blob/64a1e60f60562932219a1c6d8b7eca17a84336ad/pyiron_atomistics/dft/waves/electronic.py#L516

The fact that the attributes and the hdf5 tags are different makes it very difficult to replace them by `DataContainer` later on. Is there a particular reason that this is the case right now? @sudarsan-surendralal

[2022-01-26 08:42] sudarsan-surendralal commented on #512
This code is pretty ancient and was written way before we had `DataContainer`s. I'm okay with us changing the hdf5 tags as long as backward compatibility is maintained.

[2022-01-31 13:28] SanderBorgmans commented on #324
If this is still an issue, I had similar issues when using Yaff (an MD engine) and trying the collect the trajectory output with pyiron. Since the h5io package only supports reading and writing (and not adding to an existing dataset, AFAIK) I had to manually open up the pyiron database with h5py and increase the size of the relevant dataset iteratively. This likely could be done more efficiently,

[2022-02-06 14:28] #512 closed, assigned to nobody

[2022-02-07 06:53] Leimeroth opened #521 "scipy 1.8 incompatibility"
**Summary**

pyiron_atomistics/atomistics/structure/analyse.py tries to
from scipy.spatial.qhull import _QhullUser
which is not available in scipy 1.8.0

**Error**
File ~/git_projects/pyiron_atomistics/pyiron_atomistics/atomistics/structure/analyse.py:9, in <module>
      7 from scipy.sparse import coo_matrix
      8 from scipy.spatial import Voronoi, Delaunay
----> 9 from scipy.spatial.qhull impo

[2022-02-07 08:34] niklassiemer commented on #521
Also visible and to be solved in #522

[2022-02-07 09:08] fldei101 opened #525 "Read CubeFile without atoms"
**Summary**

The current implementation of `read_cube_file` in `pyiron.atomistics.volumetric.generic` assumes that there is at least one atom present in the cube file. However, the electrochemistry hackathon team needs a version which also reads 0-atoms files, so that we can access the volumetric data.

**pyiron Version and Platform**
0.4.6 - cluster

**Expected Behavior**
It returns an object wit

[2022-02-07 12:49] fldei101 commented on #525
Yes, #526 works fine with the files we produced in the hackathon.

[2022-02-07 12:58] #525 closed, assigned to nobody

[2022-02-07 14:29] #521 closed, assigned to nobody

[2022-02-07 21:31] sudarsan-surendralal opened #528 "Murnaghan: Incorrect job status when minimum not found"
**Summary**

When Murnaghan jobs can't find any minima when trying to fit E-V curves, this is merely pointed out in the logger and the job status is set to finished

https://github.com/pyiron/pyiron_atomistics/blob/274667de2c661410427a3b76a9f634a0c7341c67/pyiron_atomistics/atomistics/master/murnaghan.py#L711

The job status should be set to either `aborted` or `not converged`.

[2022-02-08 23:34] sinazadeh opened #532 "calculating lattice thermal conductivity in pyiron"
Is there any function in pyiron to calculate Lattice thermal conductivity? There is a package named phono3py (https://phonopy.github.io/phono3py/) for this and I was wondering how to implement it in pyiron. (it is different from phonopy function)

[2022-02-09 02:09] jan-janssen commented on #532
Hi @sinazadeh,

We do not have a phono3py interface yet but in general it should follow analogously to the phonopy interface. First you create the displacements, then from the displacements you generate ASE structures so pyiron can execute them and finally from the forces calculated for the displacements you can calculate the thermal conductivity using phono3py. I briefly looked at the code and to

[2022-02-09 15:12] jan-janssen commented on #532
I wrote a quick example how to couple both package in https://github.com/jan-janssen/phono3py_pyiron/blob/main/phonopy3_calculate.ipynb

[2022-02-09 15:35] sinazadeh commented on #532
Thank you. Your example is very helpful.

[2022-02-10 11:38] pmrv commented on #532
Feel free to adapt this into a PR. ;)

[2022-02-10 14:23] sinazadeh commented on #532
We are actually on it 😄

[2022-02-13 23:42] max-hassani opened #535 "No energy_tot in the output of the sphinx job"
During the test of our latest docker images, the notebooks `tests_sphinx_sphinx_check_all.ipynb` fails with the following error:
[code]
In the image, the latest pyiron packages are installed:
[code]

[2022-02-13 23:43] max-hassani commented on #535
@samwaseda, is this related to https://github.com/pyiron/pyiron_atomistics/pull/533?

[2022-02-14 08:36] samwaseda commented on #535
Oh yes it totally is. I’ll fix it today

[2022-02-15 14:58] BaoyingDou opened #544 "Band structure calculation using VASP on pyiron"
1. When I calculated the band structure using VASP on pyiron, I didn't find the module to plot the band structure. The output format of VASP is a bit different from that of Sphinx. See the eigenvalue file in the attachment. Could you please add this function into pyiron if it is possible?

2. For the HSE calculation of band structure using VASP , it seems there isn't a module on pyiron to generate

[2022-02-15 15:14] Leimeroth commented on #246
This problem just came across my way again, this time with simple Zr.
Than I ran it again, first in another project, than in the same one (using delete_existing_job=True in pr.create.job.ElasticTensor)
and both times it worked. Is it possible that there is some data race / function not falways completely executed / whatever leading to random failures?

EDIT:
comparing the elastic tensors produced

[2022-02-15 15:24] samwaseda commented on #246
AHA! I guess now I know where it comes from. Thanks for letting me know!

[2022-02-15 16:59] samwaseda commented on #246
I kind of updated it. Can you give it a try?

[2022-02-15 17:00] Leimeroth commented on #246
Yes give me a second. But since the errors seems to occur randomly I am not sure how to test it reliably, Could you explain a bit what this changes and if this also adresses my edit?

[2022-02-15 17:20] Leimeroth commented on #246
So I tried a few times and it didn't throw the error. But the difference between elastic tensor calculated using energy and the one calculated using pressure still seems too large

[2022-02-15 17:22] Leimeroth commented on #246
Also (c11-c12) / 2 != c66 with a non negligible difference I would say, which should be the case for hexagonal systems, if that is of any help

[2022-02-15 17:23] samwaseda commented on #246
ooook let me see

[2022-02-16 14:10] samwaseda commented on #246
So I think this time it should work. Can you give it a try?

[2022-02-16 14:21] samwaseda commented on #246
Here's what was the initial problem: Imagine an input data of `n`-points. In order to fit the elastic constants, I first created the strain dataset by:

[code]

where `s_i_j` is the `j`-th component of the strain vector (Voigt notation) of the `i`-th data point. Since the tensor is symmetric, it would only confuse the linear regression if the whole tensor is flattened and inserted as the input. In

[2022-02-16 14:42] Leimeroth commented on #246
The problem that elastic tensor calculated using stress differs massively from the one calculated using the energy is still there.
To make sure I also tried with another potential.

This is what I did. Differences are > 100GPa for c11
[code]

[2022-02-16 14:49] samwaseda commented on #246
Hm that's weird, because in my case the difference is less than 10 GPa... Let me see if I can find it out.

<img width="308" alt="Unknown" src="https://user-images.githubusercontent.com/37879103/154289532-d7fb4c70-80c7-4bbd-826d-38f1424fd799.png">

[2022-02-16 15:57] samwaseda commented on #246
It looks like if `orthorhombic=True` is set in the structure, it gives the correct values. I just don't know why.

[2022-02-20 04:25] #532 closed, assigned to nobody

[2022-02-22 07:01] jan-janssen opened #545 "VASP - job["output/generic/volume"] - is a list"
@sudarsan-surendralal
[code]
The type of `job["output/generic/volume"]` is list but it should be a numpy array. For LAMMPS this error does not come up.

[2022-02-22 17:50] #545 closed, assigned to nobody

[2022-02-23 11:47] niklassiemer commented on #535
@samwaseda is this fixed?

[2022-02-23 14:03] prince-mathews opened #549 "Setting Phonopy tags from pyiron"
Is there a way to set phonopy tags like `FC_SYMMETRY= .TRUE.` or `PM = .TRUE.` directly using pyiron?

[2022-02-23 14:43] samwaseda commented on #549
What do they do?

[2022-02-23 14:43] jan-janssen commented on #549
Currently these options are not available in pyiron - but you can integrate them. The important steps is mapping them to the input parameters of the `Phonopy` python class: https://github.com/phonopy/phonopy/blob/develop/phonopy/api_phonopy.py#L133

[code]

In pyiron `phonopy` is called in https://github.com/pyiron/pyiron_atomistics/blob/master/pyiron_atomistics/atomistics/master/phonopy.py#L203 s

[2022-02-23 14:45] jan-janssen commented on #549
https://phonopy.github.io/phonopy/setting-tags.html#pm
https://phonopy.github.io/phonopy/setting-tags.html#fc-symmetry

[2022-02-23 14:55] jan-janssen commented on #549
`PM` - https://github.com/phonopy/phonopy/blob/develop/phonopy/api_phonopy.py#L889
`FC_SYMMETRY` - https://github.com/phonopy/phonopy/blob/master/phonopy/api_phonopy.py#L1050 - I guess

[2022-02-23 15:08] prince-mathews commented on #549
Thank you for the links for the exact positions for the tags @jan-janssen.
I went through the links and I think I can map the 'PM' tag to the parameter in the Phonopy class. However looking at the function corresponding to 'FC_SYMMETRY', it seems that Phonopy by default symmetrizes the force constant matrix, and I couldn't find a tag that could basically switch this off (please correct me if I'm w

[2022-02-23 15:28] samwaseda commented on #549
I have to say both of these options look like they could potentially destroy the final results (especially `PM = False`, which would correspond to the 1st order fitting that Jörg was mentioning). Are you sure that you need them?

[2022-02-23 15:36] prince-mathews commented on #549
I want to specifically use `PM=True`. The default tag is 'auto', which considers only plus displacements if the plus and minus displacements are symmetrically equivalent. So with `PM=True`, I can do 2nd order phonon fitting.

[2022-02-23 15:38] samwaseda commented on #549
I don't think that's true. From what I know, the pyiron implementation of phonopy always considers both plus and minus.

[2022-02-23 15:48] prince-mathews commented on #549
In the `Phonopy` class, in the link that Jan had shared (https://github.com/phonopy/phonopy/blob/develop/phonopy/api_phonopy.py#L889) the displacements are created using `get_displacements()`, which includes `is_plusminus` argument, which is set to 'auto'. The `get_displacements()` is called in the pyiron implementation of phonopy https://github.com/pyiron/pyiron_atomistics/blob/a5190644f4d83267bb

[2022-02-23 15:48] samwaseda commented on #549
Here's my proof:

[code]

[code]

Output:
[code]

So both plus and minus are considered

[2022-02-23 15:49] samwaseda commented on #549
Correct, and that's what we want, right?

[2022-02-23 15:51] prince-mathews commented on #549
But then what if I want to consider both plus and minus displacements anyway?

[2022-02-23 15:54] samwaseda commented on #549
If you are saying that the symmetry recognition of phonopy is not working correctly, then you should rather change the parameters in the symmetry search. Otherwise I don't really see why you should be doing two equivalent calculations, because after all, they are the same...

[2022-02-23 15:58] prince-mathews commented on #549
The problem isn't with symmetry recognition of phonopy but if the input structure isn't relaxed then perhaps doing the plus and minus displacements may help?

[2022-02-23 15:59] samwaseda commented on #549
If the input structure is not relaxed you'll have a loooooooooooooooooooooooooooot more problems so just relax the structure

[2022-02-23 16:00] samwaseda commented on #549
Besides there's no relaxation along the direction of the symmetry, so it won't change the results.

[2022-02-24 10:24] pmrv commented on #484
It works on my laptop now after I install openmpi, but that doesn't explain why it doesn't work on the cluster, since there we have also openmpi.  It might be a problem that there's a confusion between intel and open mpi there.

[2022-02-24 13:57] max-hassani commented on #535
@niklassiemer, @samwaseda, the problem still persists. The environment includes:
[code]
You can check the log of the test [here](https://github.com/pyiron/docker-stacks/runs/5318247393?check_suite_focus=true)

[2022-02-24 13:59] max-hassani commented on #535
I wonder how our notebook test in pyiron_atomistics does not capture this error? Don't we run the same notebooks?

[2022-02-24 14:30] niklassiemer commented on #535
That was the reason I asked for the notebooks used in pyiron in https://github.com/pyiron/pyiron/pull/1397
If we use the _same_ notebooks in different places we should think about fetching them in other places dynamically...

[2022-02-24 14:37] jan-janssen commented on #484
On the cluster - do you use the lammps version from conda-forge - or a custom lammps library?

[2022-02-25 09:01] sudarsan-surendralal commented on #544
Hi @BaoyingDou, I've created an example notebook that actually does this in VASP with HSE.

https://github.com/sudarsan-surendralal/pyiron_vasp_bs_example/blob/master/bandstructure_Si.ipynb

I've used the example of silicon, but you can adapt this to your system. I hope this works.

PS: pyiron devs, we should also discuss a suitable home for such examples. I mean those that may be made public but

[2022-02-25 18:22] samwaseda opened #550 "`ParallelMaster` ignores interactive"
The following code

[code]

ignores `interactive_open` on the queue and calculates the jobs separately.

[2022-03-01 16:55] jan-janssen opened #553 "VASP Potentials with custom elements - Future warnings"
Example code:
[code]

I get the following warnings:
[code]

@sudarsan-surendralal  Can you take a look at this?

[2022-03-02 02:26] #553 closed, assigned to sudarsan-surendralal

[2022-03-02 03:05] amirbehbahanian commented on #532
Hi Jan,

I followed the procedure in the example you uploaded and the procedure works well using it without a cutoff_pair_distance. But by adding a cutoff distance to reduce the number of jobs:

 _(phono.generate_displacements(cutoff_pair_distance=3.0)_
_structure_lst = [phonopy_to_atoms(s) for s in phono.supercells_with_displacements if s is not None]_

the following error is raised. I would appr

[2022-03-02 03:46] jan-janssen commented on #532
It is not very elegant but you could use:
[code]

[2022-03-02 03:49] jan-janssen commented on #532
I uploaded an updated example https://github.com/jan-janssen/phono3py_pyiron/blob/main/phonopy3_calculate_cutoff.ipynb

[2022-03-02 05:02] amirbehbahanian commented on #532
Thanks jan

[2022-03-02 14:44] samwaseda commented on #535
At least on the GitHub version the problem has been fixed.

[2022-03-02 16:01] jan-janssen commented on #535
Somehow the tests still fail https://github.com/pyiron/pyiron/pull/1397 and https://github.com/pyiron/docker-stacks/pull/101

[2022-03-02 16:08] samwaseda commented on #535
You just have to replace `inspect` by `load`.

[2022-03-02 16:56] jan-janssen commented on #535
Thanks - it finally worked.

[2022-03-02 17:35] #535 closed, assigned to nobody

[2022-03-03 14:00] Leimeroth commented on #246
Could this be related to the problems with different voigt stress definitions (i.e. if correct order is xy, xz, yz or yz, xz, xy) that cause trouble f.e. when parsing vasp output? Didn't have a look at this yet.

[2022-03-07 13:35] samwaseda commented on #246
That's rather unlikely because if that was the case `orthorhombic` shouldn't play a role.

[2022-03-07 14:06] pmrv commented on #246
While you fix this: What's a known good way using this in the meantime?  I've tried combinations now of non/orthorhombic, use_pressure=True/False with lammps and get different results and even non-symmetric tensors sometimes (with a minimized structure).

[2022-03-07 14:08] samwaseda commented on #246
Did you do it with the changes from [this PR](https://github.com/pyiron/pyiron_atomistics/pull/539)? (Actually this discussion should continue in the PR)

[2022-03-14 09:17] sudarsan-surendralal commented on #544
@BaoyingDou Did this work? If so can we close this issue?

[2022-03-14 09:58] BaoyingDou commented on #544
Sorry, I didn't check yet. I will test now, and then give you feedback. Thank you very much!

[2022-03-14 11:52] BaoyingDou commented on #544
It works! Thanks! I will close this issue.

[2022-03-14 11:52] #544 closed, assigned to sudarsan-surendralal

[2022-03-16 14:31] niklassiemer opened #564 "CI Notebooks broken"
Right now two notebooks break: SQS and tests_sphinx_sphinx_check_all (tracebacks below).

I am not sure where this comes from. I saw that sqs had recent release (yesterday on conda) and
https://github.com/dgehringer/sqsgenerator/releases/tag/v0.1 which is probably related.

[code]
[code]

[2022-03-16 16:35] jan-janssen commented on #564
@dgehringer recently updated `SQSgenerator` to 0.1 - so we can either restrict it to the previous version, or maybe he can help updating the pyiron interface.

[2022-03-16 16:41] dgehringer commented on #564
Updating the interface, is on my to-do list for the next days

[2022-03-17 11:00] skatnagallu opened #565 "Is there a way to repeat a structure and then animate the structure?"
Hello,

I am wondering if it would be possible to repeat a structure first, and then use animate_structure() ? Currently, it looks like it is not possible. Any thoughts?

[2022-03-17 11:09] pmrv commented on #565
It's currently not possible, but I'll have a look how to do it.

[2022-03-20 22:09] jan-janssen commented on #532
@atztogo update the phono3py documentation:

- https://phonopy.github.io/phono3py/phono3py-api.html
- https://phonopy.github.io/phono3py/workflow.html

[2022-03-21 15:05] jan-janssen opened #570 "Create a structure from a CONTCAR file"
Yiting Zhang from Darmstadt submitted a question via the pyiron website:

@sudarsan-surendralal I guess we have https://pyiron.readthedocs.io/en/pyiron-0.2.17/apidoc/pyiron.vasp.structure.html#pyiron.vasp.structure.read_atoms which allows reading CONTCAR files but I was not sure if it is recommended to use those or rather ASE for the import.

@Leimeroth Are you in contact with Yiting? In general i

[2022-03-21 15:40] Leimeroth commented on #570
Yes we had some discussion regarding the correct way to continue a MD simulation in VASP using pyiron.
From looking at the code I thought setting job.restart_file_dict["CONTCAR"] = "POSCAR" would probably be the best way.

TBH from looking trough the code and and how structures are written continuing MD runs seems more complex than it should be.
As far as I can tell velocities are pretty much neve