[2022-03-21 17:56] sudarsan-surendralal commented on #570
Currently, our parser and even [ase's parser](https://databases.fysik.dtu.dk/ase/_modules/ase/io/vasp.html) does not handle predictor corrector positions.

From looking at the code I thought setting job.restart_file_dict["CONTCAR"] = "POSCAR" would probably be the best way.

This is exactly how I do it too. It's not elegant but it works.

For LAMMPS there is an option to write the restart file (wh

[2022-03-28 07:01] #246 closed, assigned to samwaseda

[2022-03-28 09:26] usaikia opened #574 "Unable to run MeamFit job in pyiron"
Hi, I want to construct a EAM potential from a VASP md trajectory using the MeamFit code. My MeamFit job aborts with the following error "Permission denied". Is it a bug in pyiron or I am doing something wrong here (I have added the script I used to run the md job and the MeamFit job for your reference).

[code]

#### to run VASP md job
[code]
### to run MeamFit job
[code]

[2022-03-28 09:35] pmrv commented on #574
I seems the file `/u/bzg/Thermodynamics/MEAMfit/MEAMfit2_MUST_BE_DISTRIBUTED_VIA_Daresbury_Laboratory_Andrew_Duff` is empty on the cluster and does not have execute permissions, causing the error.

I have no idea how MEAMfit is supposed to be run, but it appears our setup is wrong.

[2022-03-28 09:37] pmrv commented on #574
It sounds like you'll need to contact [the author](https://www.scd.stfc.ac.uk/Pages/MEAMfit-v2.aspx) to set it up on the cluster.

[2022-03-28 09:41] usaikia commented on #574
@pmrv Thanks the quick response. I will ask at today's pyiron meeting if anyone is familiar with the issue.

[2022-03-28 16:01] sudarsan-surendralal commented on #528
Two steps to fix this:

- [x] Implement convergence check for parallel jobd in `pyiron_base` (https://github.com/pyiron/pyiron_base/pull/734)
- [ ] Implement the corresponding check in  the `Murnaghan` class (https://github.com/pyiron/pyiron_atomistics/pull/584)

[2022-03-30 11:29] skatnagallu opened #578 "Setting convergence precision in sphinx jobs"
I am trying to set convergence precision using the function set_convergence_precision function and cal_minimize for sphinx jobs. However, I do not get what I intend to do. Below I am showing three code snippets and their corresponding outputs.

[code]
output:
[code]

Case 1, sets the ionic energy tolerance correctly but does not set the electronic energy correctly.

CASE 2:
[code]
output:
[code]

[2022-03-30 13:17] samwaseda commented on #578
By putting `job.calc_minimize()` at the end this problem should be solved.

[2022-03-30 13:24] samwaseda commented on #578
Sorry I closed the issue by mistake but I guess with my comment above it should work so I leave it like this :D

[2022-03-30 13:35] skatnagallu commented on #578
If I put `job.calc_minimize()` at the end, still sets the ionic_energy_tolerance incorrectly. (As I mentioned with case 3.)

[code]
Output:

[code]

[2022-03-30 13:50] samwaseda commented on #578
Ah ok interesting. I guess it's a good new developer task so I'll leave it to you.

[2022-03-30 13:52] samwaseda commented on #578
I'll describe what to do in detail later today here.

[2022-03-30 16:13] samwaseda commented on #578
So you can take a look at [base.py](https://github.com/pyiron/pyiron_atomistics/blob/master/pyiron_atomistics/sphinx/base.py#L469) - there's one problem in [`load_main_group()`](https://github.com/pyiron/pyiron_atomistics/blob/22fab20c8c6aa9c9e4ed50f47b4fd21934d96154/pyiron_atomistics/sphinx/base.py#L469) (especially from `if "Istep" in self.input:`). Then there's another problem in [`set_converge

[2022-04-01 07:18] #578 closed, assigned to skatnagallu

[2022-04-11 13:22] #564 closed, assigned to nobody

[2022-04-11 14:30] prince-mathews opened #587 "get_neighbors() calculates distances and vectors twice for some atoms"
I wanted to look into the vectors between an atom and the surrounding atoms in a structure, and I noticed that there were vectors repeating, and `get_neighbors().indices` showed multiple atoms IDs repeating twice. I repeated the same for a hcp bulk structure and `get_neighbors().indices` shows a very similar output. Is there anything implemented to correct this or is this a bug?

[2022-04-11 14:49] samwaseda commented on #587
This is a **feature** XD

This happens because of the periodic boundary conditions, and frankly it's **amazing** that pyiron can handle it correctly. You can also take a look at the connecting vectors (by `get_neighbors().vecs`) and see that they show the correct directions.

[2022-04-11 14:56] prince-mathews commented on #587
But then why doesn't it do it for all neighboring atoms and only for some?

[2022-04-11 14:59] samwaseda commented on #587
Impossible for me to say without an example

[2022-04-11 15:44] prince-mathews commented on #587
Taking the structure I have as an example. I have a hcp bulk that is rotated around [0,0,1] axis by ~10.4 degrees. The output of `get_neighbors().indices()[0]` is [111, 111,   6,   6,   1,   1, 110, 103,  12,   5,   3, 108, 109, 109, 104, 104,   2,   2,   0,   0,  97,  97, 106, 106,  11,  11,   4,   4,   4,   4]. For some atoms there's only one vector, for some atoms there are multiple vectors, I

[2022-04-11 15:52] samwaseda commented on #587
If the structure is not overly large, would it be possible to put the full structure?

[2022-04-11 15:53] prince-mathews commented on #587
[code]

[2022-04-11 16:37] samwaseda commented on #587
I'm sort of repeating my answer, but it's because of the periodic boundary conditions - one neighbour can be a neighbour from one boundary or an opposite boundary. For example in the first case, the first two vectors are:

[code]

This is because the box length in z is 5.1848411400000005, which is exactly twice the distance between the atoms 0 and 111, so that the atom 0 sees 111 twice in both +z

[2022-04-11 16:44] prince-mathews commented on #587
Okay, I get it now. Thanks!

[2022-04-11 16:44] #587 closed, assigned to samwaseda

[2022-04-12 21:17] sudarsan-surendralal opened #590 "Pyiron automatically assigns bonds in the input files for lammps for O and H whenever they exist in the structure"
Issue from StackOverflow: https://stackoverflow.com/questions/71846448/pyiron-automatically-assigns-bonds-in-the-input-files-for-lammps-for-o-and-h-whe

[2022-04-12 21:18] sudarsan-surendralal commented on #590
@ahmedabdelkawy Can you post the exact code snippet that geives you this error please

[2022-04-13 10:13] ahmedabdelkawy commented on #590
Sure!

############################### Code reproducibility setup ###################################
[code]
############################### Issues ###################################
[code]

############################### Files ###################################

[Fe2O3_Primitive_cell.txt](https://github.com/pyiron/pyiron_atomistics/files/8480428/Fe2O3_Primitive_cell.txt)
[config.txt](https://g

[2022-04-13 14:21] ahmedabdelkawy commented on #590
If you commented out the set_repeat so that you only have one cell in the structure and tried structure_int.get_all_distances()[-1] where it prints out all distances between all the atoms in the structure and the additional hydrogen atom (last atom) you get array([ 3.98568602, 10.86495244,  1.11334241,  7.96598722,  7.39611106, 5.21884493,  7.32919853,  5.04723849,  7.27603826,  5.14392108, 0.])

[2022-04-14 13:22] sudarsan-surendralal commented on #590
'config.txt' seems to be another POSCAR structure. Perhaps you meant another file?

[2022-04-14 13:26] ahmedabdelkawy commented on #590
Sorry, that is a mistake, here is the correct file!

[config.txt](https://github.com/pyiron/pyiron_atomistics/files/8489485/config.txt)

[2022-04-14 20:26] #528 closed, assigned to nobody

[2022-04-14 20:43] sudarsan-surendralal commented on #590
I can confirm that this is a bug  which I think I've fixed (see https://github.com/pyiron/pyiron_atomistics/pull/592).  Can you run the following snippet (with atom style charge)  using that branch to confirm?

[code]

[2022-04-19 10:10] ahmedabdelkawy commented on #590
When I run using atom  style charge, I get this error:

[code]

[2022-04-22 07:30] #574 closed, assigned to nobody

[2022-04-24 11:17] sudarsan-surendralal commented on #590
Are you still using the default pyiron version installed on the cluster? If so, the changes I made would not be reflected in the pyiron source code since it has not yet been merged and updated. You could wait till I do this

or..

1.  Go to a directory of your choice on cmmc and clone `pyiron_atomistics` (`git clone https://github.com/pyiron/pyiron_atomistics.git`)
2.  Checkout the `general_bonds`

[2022-04-26 14:13] sudarsan-surendralal opened #597 "Help Installing pyiron_atomistics compatible OpenKim Models"
I'd like to install OpenKim models that are not part of the default conda version to be able to use them in some LAMMPS simulations. I have `openkim-models` and `kim-api` installed through conda forge (these are not part of the `pyiron_atomistics` dependencies). According to the openkim documentation, I just need to do something like:

`kim-api-collections-management install user MEAM_LAMMPS_RoyDu

[2022-04-26 14:48] jan-janssen commented on #597
The potentials in openkim are compiled binaries, so you need a c++ compiler and cmake.

[2022-04-26 15:40] LVC14C15 opened #598 "Lammps input control"
**Summary**

Hello,

I would like to report some issues regarding the input control for lammps.

One of my routine to minimize structure is the following:
minimization with fire
then
box/relax + cg
then again fire

Currently, to my understanding, there is two ways to do it in pyiron:
1st: run three different jobs for each minimization, but then you have to call the last structure.

2nd: modify the

[2022-04-27 05:57] Leimeroth commented on #597
As mentioned in my mail already I have a manually compiled version of Lammps and Openkim, because I needed some special packages in lammps and the conda-forge version of openkim didn't work. The best idea probably is to install cmake and try again. A c++ compile should always be available already I assume.

I don't really remember the error messages I got with conda-forge OpenKim. Whenever I manua

[2022-04-27 07:02] pmrv commented on #597
If you want to run on cmti, I'd suggest to do it outside conda, because it tends to mess with everything.  I built openkim potentials already for the cmti build of lammps, but I have to check my notes which and where I put them.

[2022-04-27 08:05] sudarsan-surendralal commented on #597
Thanks @Leimeroth, I too have problems with the conda-forge version so I'm doing this manually. @pmrv, yeah I'm first trying this out in my local PC and not cmti. It'll be great if you could share your installation notes if you find them

[2022-04-27 08:33] pmrv commented on #597
Here is what I used to build OpenKIM for the cluster lammps
[code]
assuming you have a compiler set up.  Double check that conda is not messing with your environment, I've used
[code]
to remove traces left after running `conda deactivate`.

[2022-04-27 19:53] jan-janssen commented on #598
Ok, there are multiple answers to this.

**Abstract Answer**: For pyiron to be able to follow the simulation workflow we want every `run` or `minimize` command to be a separate job. So you could write a restart file and then create a new job from the existing one.

**Expert Answer**: pyiron is written in a way that you can always manipulate the input that is communicated to the simulation code:
[c

[2022-05-02 14:21] srmnitc opened #602 "Updating the Potentials class"
As discussed in the pyiron meeting on 02.05.2022, I am planning to update the [Potentials](https://github.com/pyiron/pyiron_atomistics/blob/master/pyiron_atomistics/lammps/potential.py) class.

The motivation from my side was [this](https://github.com/pyiron/pyiron_atomistics/blob/master/pyiron_atomistics/lammps/potential.py#L187), and I need to ability to store more than one potential to hdf. How

[2022-05-02 14:58] pmrv commented on #602
Would probably a good time to move away from `GenericParameters`. ;)

[2022-05-03 07:38] LVC14C15 commented on #598
Hi Jan,

Thanks for your answer, it helps!
The problem to my point of view is to set up all the fix/compute command. The command  job.calc_minimize(pressure=0.0) is really nice for simple calculation, but when one needs additional commands such as fix and/or compute,  the expert answer you describe is the best option I think.
Thanks again for your help ;)

Best Regards,
Dimitri

[2022-05-03 07:48] sudarsan-surendralal commented on #602
I'd like to bring up a couple of issues which we couldn't fully solve related to potentials for DFT which could merit the development of a more flexible generic potential class:

1. https://github.com/pyiron/pyiron_atomistics/issues/37
2. https://github.com/pyiron/pyiron_atomistics/issues/126

[2022-05-03 08:37] pmrv commented on #602
Is there any reason VASP and Lammps potentials should share code?  Except for some basic logic of locating files from the resources there seems to be no overlap in functionality to me.

[2022-05-03 11:32] sudarsan-surendralal commented on #602
They don't **have** to share code, but the potential class for DFT jobs needs to do more than locating the files. For many applications you have to use different pseudopotentials for different atoms of the same species, modify the individual or overall charge etc. So a flexible potential class will be beneficial.

[2022-05-03 11:38] pmrv commented on #602
I agree, but my impression was that these additional feature will be different between Lammps and Vasp though, so I'm not sure whether a common abstraction will help.

[2022-05-03 15:07] #598 closed, assigned to nobody

[2022-05-05 09:51] jyang2009 opened #605 "error in animate_structure() when displaying multiple species"
**Issue**
when I try to animate certain atoms by specifying atom_indices in animate_structure(), I run into the error "TypeError: list indices must be integers or slices, not tuple"

The code I use is
[code]

The error I got is
[code]

**Observation**

My code actually works when I specify show_list as np.array([36, 37, 128]), np.array([36, 37, 206]), or np.array([36, 37, 206, 207]). In this case

[2022-05-05 10:12] fldei101 opened #606 "Preserve identation in Lammps"
Dear all,

in our weekly hackathon we use the PYTHON package of lammps to insert a `post_force_callback` in Lammps to modify the forces of the atoms.
To build a first prototype we wanted to load an existing `control.inp` file and use it:
`job.input.control.read_input(file_name='control_mwe.inp')`
which works fine on first sight.
To work properly in Lammps, the `post_force_callback` has to be a pyt

[2022-05-05 11:10] pmrv commented on #605
Cannot reproduce with a random ternary structure I just tried.  Can you post the structure as xyz file (or similar) and if possible you full simulation setup?

[2022-05-05 11:21] jyang2009 commented on #605
Below is the structural file I use. I'm running a vasp MD simulation with the following setup
[code]
[code]

[2022-05-05 13:35] pmrv commented on #606
Likely the fix has to be applied

https://github.com/pyiron/pyiron_base/blob/ef4b49b17851d2a0975d3d6c39dd52ccd95ee3e4/pyiron_base/generic/parameters.py#L928

but I can't dig deeper right now.

[2022-05-05 14:24] jan-janssen commented on #606
We had a similar issue https://github.com/pyiron/pyiron_atomistics/issues/598 I guess the quickest way to fix this is `job.input.control.load_string()`

[2022-05-05 14:30] pmrv commented on #606
`load_string` passes the lines through `_lines_to_dict` the same way as `read_input`, so it'll probably also comes out the same way.

[2022-05-11 09:19] ahmedabdelkawy commented on #590
Lammps now does not automatically generate the bonds in the structure.inp file.
However, when I try to enforce the bond definition on any of the species I have, it does not get reflected in the structure.inp file.

[2022-05-11 09:45] sudarsan-surendralal commented on #590
I guess in atom style `charge` you won't be able to define bonds. Could you post how your ideal `structure.inp` should look like here? Or at least how you'd like the bonds and charges to be set. Unfortunately, it is very difficult to generalize this unless we have concrete examples.

[2022-05-12 12:06] #565 closed, assigned to nobody

[2022-05-12 16:16] samwaseda commented on #606
It looks like it can be more easily done with [`fix_set_external`](https://github.com/pyiron/pyiron_atomistics/blob/60476fc760f1860f1db136c4c0f536bc26a8c603/pyiron_atomistics/lammps/interactive.py#L249), even though it works only for 1 core for now.

[2022-05-13 13:07] pmrv opened #613 "Atoms.spins wrongly needed for StructureContainer.add_structure"
The intention was to save spins when available, but it seems instead to require them.

Original Message from @lxknll:

I think it is because of line 202 f. in [pyiron_atomistics structurestorage.py](https://github.com/pyiron/pyiron_atomistics/blob/master/pyiron_atomistics/atomistics/structure/structurestorage.py):

[code]

Maybe this could be solved with a simple `hasattr` check in the if-statemen

[2022-05-16 20:20] usaikia opened #615 "How to assign force to SxExtOptInteractive job"
I created a  job pr.create.job.SxExtOptInteractive("test") and assigned a structure to this job. I have a set of forces for this structure from a previous Sphinx static job. Now, I want to assign this set of force as initial input for the SxExtOptInteractive job and relax the structure. Is there any way to do this in pyiron?

[2022-05-17 19:44] jan-janssen commented on #615
An `SxExtOpt` Example is available in the `sphinx` examples https://github.com/pyiron/pyiron_atomistics/blob/master/notebooks/tests_sphinx_sphinx_check_all.ipynb
[code]

[2022-05-17 20:06] samwaseda commented on #615
If you are talking about simply minimising the energy of a single structure with a single static calculation, what @jan-janssen wrote is the simplest way to go.

From what I understood in the discussion with you, you want to do the force mixing outside SxExtOpt, correct? That on the other hand is a slightly tricky problem, because `SxExtOpt` does not offer the possibility to give an update to the

[2022-05-17 20:31] jan-janssen commented on #615
[code]

[2022-05-18 07:23] usaikia commented on #615
@jan-janssen and @samwaseda thank you for your answers. I want to do SSA relaxation for a paramagnetic grain boundary system as explained in Figure 1 of this paper https://journals.aps.org/prb/pdf/10.1103/PhysRevB.102.144101. According to this paper first I have a take N number of magnetic sqs of the same system and run Sphinx constrain magnetic moments scf calculations for each of them. Next, col

[2022-05-18 07:39] samwaseda commented on #615
There's nothing implemented in pyiron beyond what I described in my last comment, and it's rather unlikely that we're gonna include one-step update, because in @freyso's implementation of SxExtOpt, there's neither a possibility to restart the minimiser, nor the possibility to set the positions from outside. Setting the forces one after another, as I said, is a possibility, but conceptually it's to

[2022-05-18 07:43] usaikia commented on #615
@samwaseda thank you for the clarification.

[2022-05-18 13:33] Leimeroth opened #616 "Lammps box tilt large in interactive mode"
When calculating energies and forces for many structures using lammps in interactive mode I got a box skew too large error.
This could be fixed by adding "box tilt large" too the control.inp file
For this purpose I tried to add
block_dict["box_commands"] = "box"
at the start of the block_dict of lammps control.

This however leads to the following error:
Exception: ERROR: Box command after simulat

[2022-05-18 13:42] pmrv commented on #616
I've ran into this before.  My workaround is to apply this function

[code]

before setting the structure to the interactive job.  This the logic that gets applied when setting a structure to a normal job, but for some reason is not correctly applied when the job is interactive.  I tried to put this in but got frustrated by the interactive class hierarchy, so I left it for now.

[2022-05-18 13:45] Leimeroth commented on #616
For the energy it should not matter, but can you retrieve correct forces for the old positions from this?

[2022-05-18 13:50] pmrv commented on #616
I have never checked, but given that new and the old structure should be equivalent and that the ordering of the atoms doesn't change, I don't see why not.

[2022-05-18 14:19] jan-janssen commented on #616
Maybe we could add a flag to the lammps interactive mode which automatically applies this transformation, as I have the feeling this issue comes up from time to time again.

[2022-05-18 17:13] Leimeroth commented on #616
This sounds like a good idea

[2022-05-23 14:34] jan-janssen opened #621 "AttributeError: 'Atoms' object has no attribute 'apply_strain'"
**Summary**

The unit tests created by dependabot start to fail:

- https://github.com/pyiron/pyiron_atomistics/pull/619
- https://github.com/pyiron/pyiron_atomistics/pull/617

**pyiron Version and Platform**

master branch

**Expected Behavior**

should be working fine

**Actual Behavior**

[code]

**Steps to Reproduce**

**Further Information, Files, and Links**

[2022-05-24 10:58] pmrv commented on #621
Checking the error again now, I see no reference to `apply_strain` anymore, but errors from the sphinx notebooks. I'm running the notebooks manually right now, but is it possible we're just hitting a timeout somewhere? They seem to take a good while.

[2022-05-26 16:10] pmrv opened #628 "SphinxBase.set_occupancy_smearing is broken"
When using `set_occupancy_smearing` on a sphinx job, the smearing parameters are correctly saved to `job.input`, but not to `job.input.sphinx`, which causes them to be ignored when the job runs.  This probably also causes #627.

I see two ways to fix this, either `set_occupancy_smearing` writes directly to `job.input.sphinx` or both are synchronized before the job runs proper.  Any preference @sam

[2022-05-27 10:31] Vishwa-adi opened #630 "`view_potentials` is not listing potentials"
[code]

Problem :
Doesn't show the list of potentials for the structure in lammps calculation (screenshot attached below). I had used the notebook in the garching cluster(using cmti login). It seems to work for Al as described by @liamhuber and only shows 2 potentials . But don't know why not for Ni and also tried by modifying the structure doc string by providing crystalstructure and lattice cons

[2022-05-27 12:52] pmrv commented on #630
Have you set a structure on the job yet?

[2022-05-28 12:55] Vishwa-adi commented on #630
Yes, I did. It still doesn't work, even for Ni as well. It seems to me a problem with pyiron installation. How can I verify this ? Thanks in advance.

[2022-05-28 15:07] liamhuber commented on #630
Could you please post a minimum working example, and share your pyiron version?

[2022-05-28 15:23] liamhuber commented on #630
I'm just on the latest github version. This works exactly as expected for me:

[code]

You will need to give more details in order for us to reproduce and track down the source of your issue.

[2022-05-29 09:35] samwaseda commented on #628
This is actually a super important question to be asked in larger audience. Before @ashtonmv implemented `Group`, I made it intentionally impossible to change data in what's now `job.input.sphinx`, because I couldn't guarantee that everything would be synchronised. So `job.input.sphinx` was essentially created only when `run` was called, and only the whole string was stored (which means the user h

[2022-05-29 09:36] #615 closed, assigned to samwaseda

[2022-05-29 12:52] jan-janssen commented on #630
Did you install pyiron via conda? Or pip? Or directly from Github?

[2022-05-30 02:10] liamhuber commented on #630
It sounds like a path problem. In addition to the info Jan requested, could you please share your resource path? I think it's at pr.state.settings['resource_paths'], but even if my syntax is a bit off that should be enough to find the right thing.

[2022-05-30 08:21] Vishwa-adi commented on #630
None, I used the notebook in the garching cluster.

Here is what I got : ['/cmmc/u/system/SLES12/soft/pyiron/dev/pyiron-resources-cmmc']

[2022-05-30 14:22] jan-janssen commented on #630
@tnecnivkcots Can you check the cmmc account from @Vishwa-adi it seems there is an issue with his pyiron configuration?

[2022-05-30 15:41] tnecnivkcots commented on #630
@Vishwa-adi what is your username?

@jan-janssen how can I check that? I expect you are talking about the permissions of @Vishwa-adi on the cluster, am I right?

[2022-05-30 15:47] Vishwa-adi commented on #630
My username is: avishwakarma

[2022-05-30 15:53] tnecnivkcots commented on #630
@Vishwa-adi Thank you for your quick answer. I already checked, if you are in the right group and yes you are.
I expect you just need read and execute permissions to this directory, which are set.

[2022-05-30 17:44] yuyuanjingxuan opened #639 "Unexpected failure of job submission"
**Summary**

Dear all,

I submitted a serial of vasp jobs via pyiron this morning. All jobs were submitted successfully. About ten of them were running at noon. However, the rest crashed for unknown reasons. I did not modify the executable and change the local environment.

I tried many ways such as inputting full path of executable to `job.excutables` and switching to different excutables. Unfort

[2022-05-30 20:15] pmrv commented on #630
That

That sounds off.  I get
[code]
the first two are added from my `.pyiron`, but the last two should be auto populated and it's where the big potential database is residing.

[2022-05-30 21:57] Vishwa-adi commented on #630
I have tried again and it still does not work.

Thank you for the directories. I can access these last two directories from my terminal. How can I include them to set my potential.

[2022-05-30 21:58] jan-janssen commented on #621
I reverted the two pull requests - and reopened them:
* https://github.com/pyiron/pyiron_atomistics/pull/637
* https://github.com/pyiron/pyiron_atomistics/pull/636

To be able to merge the six pending pull requests from dependabot:
* https://github.com/pyiron/pyiron_atomistics/pull/635
* https://github.com/pyiron/pyiron_atomistics/pull/634
* https://github.com/pyiron/pyiron_atomistics/pull/632
* h

[2022-05-30 21:59] jan-janssen commented on #630
@Vishwa-adi Can you post the content of your `~/.pyiron` file ? (please remove any sensitive information, like passwords and so on)

[2022-05-30 22:02] Vishwa-adi commented on #630
I tried this command on terminal.
It says: bash: /u/avishwakarma/.pyiron: Permission denied

[2022-05-30 23:20] jan-janssen commented on #630
@tnecnivkcots or @freyso Can one of you fix the permissions for @Vishwa-adi ?

[2022-05-31 07:02] tnecnivkcots commented on #630
@Vishwa-adi you have to open the file, for example with cat, nano or vim.
example: `cat ~/.pyiron`

If I open the file, I get the following List (I have replaced some details):
[code]

[2022-05-31 08:11] yuyuanjingxuan commented on #639
It is said that over 90% of computer problems could be solved by restarting your machine. I restarted my server. Up to now, none of the jobs has been crashed.

[2022-05-31 12:52] tnecnivkcots commented on #630
In my case I just have this one resource path, just as @Vishwa-adi and I get the list of potentials
![grafik](https://user-images.githubusercontent.com/82433602/171177188-f68eabe4-6681-447a-8db9-5673f449abfc.png)

Then it is no problem with the path.

@Vishwa-adi Do you have the following in your `.bashrc`?

[code]

[2022-05-31 14:48] liamhuber commented on #630
Is it possible to migrate issues? We should move this over to an mpie repo. The pyiron code base appears to be functioning exactly as intended.

[2022-05-31 15:06] tnecnivkcots commented on #630
Yes it is possible under certain circumstances:
https://docs.github.com/en/issues/tracking-your-work-with-issues/transferring-an-issue-to-another-repository

[2022-05-31 15:09] jan-janssen commented on #630
I think we can only transfer issues within one organization not from one organization to another.

[2022-05-31 15:12] Vishwa-adi commented on #630
Yes I am able to see my details... it is similar to you:
[DEFAULT]
TYPE = Postgres
HOST = <pyiron_db>
NAME = pyiron
USER = <my_username>
PASSWD = <my_db_password>
JOB_TABLE = jobs_cmmc
TOP_LEVEL_DIRS = /cmmc/u
VIEWERUSER = cmmc_view
VIEWERPASSWD = <my_viewer_password>
VIEWER_TABLE = jobs_cmmc_admin
RESOURCE_PATHS = /u/system/SLES12/soft/pyiron/dev/pyiron-resources-cmmc

I have the first line but n

[2022-05-31 15:20] pmrv opened #640 "Gpaw Issues"
A reminder for myself:

- [x] `Gpaw` jobs don't run on the cluster, some issue with finding functionals, probably a resource issue
- [x] `Gpaw` derives from `AseJob` which silently converts `job.structure` from pyiron `Atoms` to ASE `Atoms`.  This then breaks all master jobs which expect otherwise, see #636.  I guess this was from before our `Atoms` derived from ASE, which made the conversion nece

[2022-05-31 16:40] freyso commented on #630
@Vishwa-adi: You may need to restart your jupyter server & kernel to see this. bashrc is executed when you open a new bash process, and module load ... sets environment variables that are then passed on along subprocesses.
Please let us know if this solves the problem.

@jan-janssen : I agree that the setup error is pyiron@MPIE specific, BUT the origin of search-paths for potentials is a general p

[2022-05-31 18:03] Vishwa-adi commented on #630
These are the commands which I found on internet to restart my jupyter server:

systemctl stop jupyterhub.service
sudo tljh-config reload proxy
sudo tljh-config reload hub

Would you prefer to use these commands or would suggest another one? I have never done this, so would like to have your recommendation @freyso .
Also to mention that I am using the garching cluster from my own laptop i.e using

[2022-06-01 05:42] pmrv commented on #630
In your jupyter lab tab, click on `file` in the top left corner, then on `Hub Control Panel` at the very bottom.  There you can stop and restart your server.

[2022-06-01 05:48] pmrv commented on #630
`pyiron_atomistics` checks whether the `CONDA_PREFIX` or `CONDA_DIR` environment variables are set and if so pushes the path of `iprpy` (the conda package that ships the nist potentials) into the resource path list.  That's a bit ugly, but it means either one has to `module load pyiron/dev` or manually put the `iprpy` path in the config.

[2022-06-01 06:17] Vishwa-adi commented on #630
Thank you! After I restarted my server, I got an build option like this:
![Build_error](https://user-images.githubusercontent.com/106261571/171341796-841284ac-ef4b-49e7-95d9-7a41005aca9d.jpeg)

After clicking on build I got this message:
Build failed with 500.

If you are experiencing the build failure after installing an extension (or trying to include previously installed extension after updatin

[2022-06-01 07:16] tnecnivkcots commented on #630
Yeah the "build recommended" message is something I have to check (that is not new).
But if it works now, we can close this issue, right?

[2022-06-01 07:35] Vishwa-adi commented on #630
Yes we can close the issue.

[2022-06-01 08:04] freyso commented on #630
OK, to summarize: it seems that the issue was caused by an incorrect setup of Aditya's MPIE account (missing module load); and Vincent will look at our procedures to ensure this won't happen again.
It also appears that debugging the issue was severely hindered by the fact that the pyiron developers couldn't point their fingers to the "potential ressource path" as possible origin of the problem rig

[2022-06-01 09:10] tnecnivkcots commented on #630
In Step 2 of our instructions for login the first time, it is already written:

pyiron is going to be executed within bash, that is why we have to modify the .bashrc):
module load pyiron/dev

Could this be optimized?
Maybe it could be automated, but not without a lack of security. But this is no topic to discuss here.

[2022-06-01 10:54] #630 closed, assigned to nobody

[2022-06-02 09:59] yuyuanjingxuan opened #642 "How to expend JobFactory"
**Summary**

Dear all,

I created a new pyion job class via `TemplateJob` class. Now the creation of such job can be done:
[code]

I am trying to create such job in another way:
[code]
However, `ToyJob` is not included in the current `JobFactory`.  I was wondering if there is a flexible way to add a customised job type?
Must I modify the codes in the `pyiron_base/pyiron_base/job/jobtype.py`?
Thank

[2022-06-02 10:34] pmrv commented on #642
You'll need to add your job to `JOB_CLASS_DICT` that can be imported from `pyiron_base`.  You can check `pyiron_atomistics/__init__.py` for examples how to do it.

Once you're happy with your job, feel free to submit a PR here to add it!

[2022-06-02 11:36] pmrv opened #643 "Atoms cannot be pickled"
Reminder for myself: ASE atoms can be pickled, but ours appear not to.

[2022-06-02 15:46] yuyuanjingxuan commented on #642
Thanks @pmrv

The problem is solved by adding a new key to the current `JOB_CLASS_DICT`.

If `ToyJob` is imported by `from toyjob.toyjob import ToyJob`,
then modify
[code]

[2022-06-02 15:46] #642 closed, assigned to nobody

[2022-06-08 09:02] jyang2009 opened #646 "job with status "warning" are excluded when creating pyiron table"
I noticed that when using pyiron tables with pr.create.table, the jobs with status "warning" are excluded in the default. Is there a way to change this and include the "warning" jobs? (Otherwise is there a way to change job status manually?)Thanks a lot for your help.

[2022-06-08 12:29] jan-janssen commented on #646
Both is possible, you can run the table again with:
[code]
This is including jobs with the status `finished` and `warning` in the creation of the job table.

Alternatively you can change the status of an existing job to `finished` using:
[code]

[2022-06-08 12:34] #646 closed, assigned to nobody

[2022-06-08 14:25] mdforti opened #647 "evcurve with murnaghan calculation fails"
**Summary**

I am trying to reproduce the calculation of ev curve from sphinx job. The calculation wont find the energies after the loop is performed.

**pyiron Version and Platform**

pyiron as installed for the potentials workshop

**Expected Behavior**

murnaghan calculator gives the list of energies and volumes

**Actual Behavior**

calculation fails with this errors:

WARNING:
job.input.struc

[2022-06-08 14:48] jyang2009 opened #648 "setting pseudopotentials for vasp"
Dear all,

I'm just wondering if anyone could send me the correct command for setting pseudopotentials for vasp calculations. For example, I'm running a calculation for Fe and by job.list_potentials I get ['Fe','Fe_GW','Fe_pv', 'Fe_sv','Fe_sv_GW'] as the available potentials. How can I set the Fe pseudopotential to 'Fe_sv'? Thanks a lot.

[2022-06-08 14:48] Vishwa-adi opened #649 "interactive_open() not working"
[code]
**Summary**
This gives an error as "OSError: libyaml-cpp-pace.so.0.6: cannot open shared object file: No such file or directory" whereas it should run with a warning . However, if you comment out interactive_open() line i.e the second last line, it runs well.

**pyiron Version and Platform**

TYPE = Postgres
HOST = <pyiron_db>
NAME = pyiron
USER = <my_username>
PASSWD = <my_password>
JOB_TA

[2022-06-08 16:37] jan-janssen commented on #649
There was an issue with the Lammps version, @tnecnivkcots Can you revert the Lammps conda package? The version you want to use is:
[code]

[2022-06-08 16:42] jan-janssen commented on #649
@srmnitc Any update on the `pace` `yaml` issue?

[2022-06-08 16:49] jan-janssen commented on #648
I am not sure who is maintaining the VASP interface after @sudarsan-surendralal left, but the general explanation can be found in the FAQ: https://pyiron.readthedocs.io/en/latest/source/faq.html#how-to-use-a-custom-pseudo-potential-in-vasp

[2022-06-08 16:49] jan-janssen commented on #647
@samwaseda Can this be related to the latest changes to Sphinx?

[2022-06-08 20:08] samwaseda commented on #647
ah ok it's because murnaghan uses `inspect`. This doesn't work anymore in the latest pyiron-SPHInX version.

[2022-06-08 20:27] jan-janssen commented on #647
You mean because it is using the `DataContainer` for the output rather than storing the output directly in the HDF5 file?

[2022-06-08 20:29] samwaseda commented on #647
So the problem essentially comes from the fact that SPHInX output uses `DataContainer`, which doesn't have the standard folders anymore. I see the following possibilities:

1. Murnaghan uses `load` (or allows to use `load` if `inspect` fails)
2. Make `inspect` compatible with `DataContainer`
3. Revert SPHInX changes

I would love to keep the current SPHInX implementation (and therefore would disca

[2022-06-08 20:30] jan-janssen commented on #647
@pmrv Can we fix this? It is not only the `Murnaghan` but also the pyiron table which relies on the `inspect` mode so having the content inside the data container not available during `inspect` is very dangerous.

[2022-06-09 04:09] pmrv commented on #647
I'll pick up https://github.com/pyiron/pyiron_base/pull/658 again after the workshop, that should fix it.

[2022-06-09 07:22] jyang2009 commented on #648
@tnecnivkcots Hi Vicent, I'm wondering where the potcar files are stored on cmti?

[2022-06-09 07:24] srmnitc commented on #649
@jan-janssen I have to ask yury to look into it. Otherwise, we have to simply turn off ML-PACE. I assume some progress will be made after the workshop is over.

[2022-06-09 07:42] tnecnivkcots commented on #648
After a quick search with `find -depth -name vasp` and some comparing to the documentation, I found it in
`/u/system/soft/pyiron/dev/pyiron-resources-cmmc/vasp/potentials/potpaw_PBE`.
If it is the correct path, it is a pleasure to can help.

[2022-06-09 07:45] tnecnivkcots commented on #649
I will do the `conda install lammps=2021.09.29` after the conda environment is stable again. (see also https://github.com/pyiron/pyiron_atomistics/pull/612#issuecomment-1150766371)

[2022-06-09 14:30] pmrv opened #651 "Minor Version bump and remove deprecations?"
I've just counted we have about 100 calls to the `deprecate` function here.  There's no hurry, but I think that means we should delete them and bump our minor version.  Anyone opposed to this?

[2022-06-10 14:03] pmrv commented on #647
My goal was now to first automatically load `DataContainer` lazily from a `JobPath` if it finds one, since that is already almost implemented.   Then midterm I'd want to see again if I can rework how `DataContainer`s store themselves in compatible way.

[2022-06-10 14:06] pmrv commented on #597
@sudarsan-surendralal Is this still relevant?

[2022-06-10 22:27] tnecnivkcots commented on #649
I run the command `conda install lammps=2021.09.29`. It will be available tomorrow.

[2022-06-11 01:59] yuyuanjingxuan opened #653 "Errors of importing pyiron"
**Summary**

Dear All,

I found I could not import `pyiron` and `pyiron_atomistics` . When I try to
[code]
, it showed:
[code]
I also tried to restart the server. But it did not work. Everything was working fine a few hours before. Does anyone know what happened and how to solve it? Thank you for your help in advance.

[2022-06-11 04:11] jan-janssen commented on #653
Which pyiron version do you use?
[code]
The `QhullUser` part was removed in `pyiron_atomistics=0.2.37` https://github.com/pyiron/pyiron_atomistics/blob/master/CHANGELOG.md as also https://github.com/pyiron/pyiron_atomistics/blob/master/pyiron_atomistics/atomistics/structure/analyse.py

@tnecnivkcots Is it possible that you downgraded the `pyiron_atomistics` version on the cluster?

[2022-06-11 09:01] yuyuanjingxuan commented on #653
Attached are the results of `conda list pyiron`
[code]
`pyiron_atomistics=0.2.36`

I have added
[code]
in my local environment. It should be the up-to-date version.

[2022-06-11 09:03] pmrv commented on #653
Latest release is [0.2.47](https://github.com/pyiron/pyiron_atomistics/releases/tag/pyiron_atomistics-0.2.47), so something must have gone off during your last update.

[2022-06-11 09:17] yuyuanjingxuan commented on #653
That is to say, the release I can load is not the updated one on the server. I did not load any module which conflicts with the `pyiron`. I have no idea how it took place. Could I update myself?

[2022-06-11 10:25] tnecnivkcots commented on #649
lammps is now installed with version 2021.09.29.

[2022-06-11 13:50] pmrv commented on #653
Huh, weird, the cluster version is also for me 0.2.36.  @tnecnivkcots @jan-janssen Was there a downgrade recently?

[2022-06-11 14:03] jan-janssen commented on #653
@pmrv I do not know, since Muhammad took over I have no longer access to the conda system - or at least I have no longer used my access.

[2022-06-12 17:26] sudarsan-surendralal commented on #597
No not really. I'll close this

[2022-06-12 17:26] #597 closed, assigned to pmrv, jan-janssen, Leimeroth

[2022-06-13 08:25] tnecnivkcots commented on #653
@jan-janssen according to the output of `getent group pyiron` you have access.
There were some work on the conda packages, to bring the conda environment into a stable position.

[2022-06-13 12:07] #648 closed, assigned to nobody

[2022-06-13 14:10] jan-janssen commented on #653
@yuyuanjingxuan this issue should be fixed now

[2022-06-13 14:18] Vishwa-adi commented on #649
I ran the code again:
This is the error which I got:
AttributeError: LAMMPS Python module installed for LAMMPS version 20211027, but shared library is version 20210929

[2022-06-13 18:17] pmrv commented on #649
I've double-checked that this works now after the latest update.  Have you restarted your notebook kernel in between?  I'm guessing what happened was:
1. @tnecnivkcots figured the conda confusion out and during that down graded pyiron_atomistics
2. you start working on this notebook
3. @tnecnivkcots then updated the environment, which included the lammps downgrade
4. you get the error above, becau

[2022-06-13 19:41] Vishwa-adi commented on #649
It works now. Thanks!

[2022-06-13 19:46] #649 closed, assigned to tnecnivkcots

[2022-06-14 08:14] yuyuanjingxuan commented on #653
@jan-janssen Yes, the release of `pyiron_atomistics` has been updated to `0.2.47`. There is no further issue up to now. Thank you all.

[2022-06-14 08:14] #653 closed, assigned to nobody

[2022-06-20 14:14] samwaseda commented on #486
I close it now, because I thought about it a few times after the discussion and I'm actually uncomfortable with any variation that has been discussed, or at least I don't have the feeling that there's more benefit than the damage caused by creating a different default behaviour.

[2022-06-20 14:14] #486 closed, assigned to nobody

[2022-06-20 14:16] #418 closed, assigned to nobody

[2022-06-20 14:18] samwaseda commented on #197
Yeah I'd say that's a problem. Is there a particular reason that it shouldn't be available in `output/generic/pressures`?

[2022-06-20 14:19] #87 closed, assigned to nobody

[2022-06-20 15:32] pmrv commented on #197
See [this](https://github.com/pyiron/pyiron_atomistics/pull/354#issuecomment-916967615).  For some reason that was already taken and back then we decided not to change the meaning because of backwards compat.

[2022-06-21 08:30] pmrv commented on #639
Hey sorry for not replying earlier, the underlying issue was in the mean time fixed over [here](https://github.com/pyiron/pyiron_base/pull/763), but is not live on the cluster yet.  It should still work for you after the restarting, because the bug was only triggered when a newer version of pyiron tried to read things from an older one.  Since you resubmit the job is both written and read by the n

[2022-06-21 08:30] #639 closed, assigned to nobody

[2022-06-21 14:15] ahmedabdelkawy opened #655 "Lammps executables work only when passing the full path"
**Summary**

- Whenever I try to choose one of the old lammps executables using the date string only, e.g., '2019.06.05',  it fails.  However, when I pass the full path for the executable, it works ('/cmmc/u/system/SLES12/soft/pyiron/dev/pyiron-resources-cmmc/lammps/bin/run_lammps_2019.06.05.sh')

- This is regardless of the potential/elements used (I tested different potentials/elements)

**Expec

[2022-06-21 14:23] jan-janssen commented on #655
This might be related to https://github.com/pyiron/pyiron/issues/1421

[2022-06-21 14:34] niklassiemer commented on #655
I agree, could you nonetheless post the corresponding error?

[2022-06-21 14:39] ahmedabdelkawy commented on #655
'/bin/sh: 2019.06.05: command not found\n'

[2022-06-22 21:09] samwaseda opened #659 "SPHInX submission warning messages too annoying"
When SPHInX jobs are submitted with the default values, it issues all sorts of warnings concerning the DFT convergence parameters:

[code]

From my point of view, they can be removed altogether, or at least the print-statements must be replaced by warnings.

[2022-06-22 21:10] samwaseda commented on #659
I assigned @ahmedabdelkawy, because I think this one is going to be a good first issue for him.

[2022-06-23 09:04] pmrv commented on #647
Fix is coming in the next pyiron_base release.

[2022-06-23 09:04] #647 closed, assigned to nobody

[2022-06-26 07:15] samwaseda opened #662 "Why is `SparseList` in `atomistics`?"
Shouldn't [`SparseList`](https://github.com/pyiron/pyiron_atomistics/blob/master/pyiron_atomistics/atomistics/structure/sparse_list.py) be rather in pyiron_base?

[2022-06-26 11:32] Leimeroth opened #663 "Velocity handling in structures"
Momenta an velocities are not handled at all right now and simply silently fail to do anything. Pyiron atoms inherit from ASE atoms and therefore have setter and getter functions for velocities and momenta. Also they store a momenta array when using the setter functions and return it when using the getter functions, but this is not all linked to the actual velocities obtained from a calculation an

[2022-06-27 08:51] pmrv commented on #662
Since it's just used in `Atoms` right now, I'd actually keep it here for now, otherwise applying changes will take too long (you'd have to do 2 PRs and wait for one release instead of just one PR here).

[2022-06-29 07:15] Leimeroth commented on #197
I think this is fixed since vasp stores the tensor now

[2022-06-29 07:15] #197 closed, assigned to nobody

[2022-07-06 08:44] Leimeroth opened #671 "Parsing large lammps dummps leads to kerneal deaths"
**Summary**

When trying to parse some lammps dump files I encountered repeated kernel deaths of the jupyter notebook.
I assume the reason is that similar to the parsing of logfiles the dumpfile is read using readlines(), causing out of memory problems because the whole file, that can have the size of a few GB is read into memory as a whole, but the reason could also be different.

Solution is pro

[2022-07-06 11:57] pmrv commented on #671
The diagnosis is correct.  The current lammps parser reads all lines in one go and then iterates over them.  I just never got around to properly do it.  We discussed some solutions already [here](https://github.com/pyiron/pyiron_atomistics/issues/324), including sketches how properly parse from me and iteratively write to HDF5 from @SanderBorgmans.

[2022-07-06 12:22] Leimeroth commented on #671
From reading through it I assume we need some c/c++ based solution if we want to read files larger than ~1GB in reasonable time. But that would only solve the parsing, not the reloading from hdf5 part, which could actually be difficult again at least when using h5io instead of h5py directly. Maybe some lazy loading similar to what you did in the DataContainer could help on that end?

[2022-07-06 14:22] pmrv commented on #671
@c/c++ I guess beating `np.loadtxt` will be hard in pure python, so it's something we should look into, though probably as a last resort.

EDIT: some discussion [here](https://stackoverflow.com/questions/52232559/numpy-loadtxt-is-way-slower-than-open-readlines).

@h5io Reading binary instead of text files should already mitigate the memory consumption issues to some extent, but I agree that midter

[2022-07-07 07:20] Leimeroth opened #672 "Coordinate transformations in lammps simulations with changing cells"
In lammps dump parsing coordinates and cell are transformed between lammps and pyiron coordinate systems using:
'''
            prism = self._prism
            rotation_lammps2orig = self._prism.R.T
'''
As far as I can tell self._prism creates all rotation matrices etc. based on the initial cell. These matrices are than used to transform coordinates and cell shape between the coordinate systems.
I

[2022-07-07 14:54] Leimeroth opened #673 "Lammps interactive bugged for some structures"
**Summary**

Lammps modal and interactive mode calculate completely different energies for some structures. I have absolutely no idea what is happening. Example structure is attached in vasp POSCAR format. Tested for different potentials.

**pyiron Version and Platform**

latest git versions, Linux

**Expected Behavior**

Same energies, at least within numerical accuracy

**Actual Behavior**

0.6

[2022-07-07 22:45] jan-janssen commented on #673
I was able to track it down to https://github.com/pyiron/pyiron_atomistics/commit/4cd079d8b8e8ffd0032ae12afd6af484d1c2efba
@liamhuber Can you take a look?

The difference is basically:
[code]

All this happens in `structure_to_lammps()`.

[2022-07-11 14:43] jan-janssen commented on #673
The quick solution is to always apply:
[code]

Before setting the structure.

[2022-07-11 18:48] samwaseda commented on #673
What do you think of using something like `structure._voigt` for all things in LAMMPS consistently? I propose the following class:

[code]

(to be honest I should have created a smaller example first...)

With this, in LAMMPS we completely stop using `self.structure` and instead all communication goes via `self.structure._voigt`, e.g. getting/setting positions (via `self.structure._voigt.positions

[2022-07-12 07:58] samwaseda commented on #673
Here a bit of explanation: `structure._voigt` is a shadow class of `structure`, which gives `cell` in the pseudo-Voigt notation (i.e. `lxx lyy lzz lyz lxz lxy`) and the positions accordingly. The setters allow for a translation from positions in the pseudo-Voigt notation to the normal ones.

[2022-07-13 19:19] samwaseda opened #681 "libmpi not found"
Sorry it's an MPIE problem, but LAMMPS doesn't seem to be able to find the shared library for the interactive job:

[code]

[2022-07-13 19:43] niklassiemer commented on #681
That one should be included in conda, right? I made an update (using the usual update script of @tnecnivkcots ) today. Hopefully, there is not an issue with permissions...

[2022-07-14 06:30] tnecnivkcots commented on #681
I run the conda update another time now. Does this issue persist?

[2022-07-14 06:35] samwaseda commented on #681
Yes, but actually in the collaborative binder setup there's no problem. Does it mean there's a problem with my cluster setup, or is it because it's not built new on binder every time? Sorry I'm probably asking a novice question...

[2022-07-14 06:47] tnecnivkcots commented on #681
Which binder setup are you talking about?
Before I expected you are talking about the jupyterhub on cmti. Comparing that with the collaborative binder, which is started from a repository is not so easy, because of the separated environment on the kubernetes cluster at MPCDF, where the binder lives on.

Additionally there is no need to be sorry. We just have different backgrounds and that is fine.

[2022-07-14 06:49] samwaseda commented on #681
Oh sorry only now I realized that I didn't even say where the problem occurred XD I post the entire error:

[code]

[2022-07-14 06:50] samwaseda commented on #681
And the environment where the problem does **not** occur is [this one](https://gitlab.mpcdf.mpg.de/samsstud/nobel-prize-project)

[2022-07-14 07:15] tnecnivkcots commented on #681
I tried to find libmpi.so.40 with `find -depth -name libmpi.so.40`, but it is not there and I have any idea, why it is not there, as it should be there.

[2022-07-14 07:18] tnecnivkcots commented on #681
Probably it is an issue with the dependencies.

[2022-07-14 07:51] tnecnivkcots commented on #681
@pmrv Do you have any idea?

[2022-07-14 08:23] pmrv commented on #681
I actually cannot find any mpi related files, so I'm guessing conda/mamba messed something up, because it is still listed in `mamba list`.  I've tried to install it again with `mamba install -c conda-forge mpi=1.0=openmpi`, but it fails because the file is own by @tnecnivkcots .  `getfacl` reveals that the `pyiron` group has `rw` access, but also that the `mpd` group only has `r`.  I'm guessing th

[2022-07-14 08:31] usaikia opened #682 "How to run SPHInX3.0.8 from pyiron"
How to run SPHInX3.0.8 from pyiron? For a SPHInX job, I checked "job.executable.available_versions" and it is not added to the list of executables yet.

[2022-07-14 08:36] Leimeroth commented on #671
Something that could help with memory and probably would be faster because it does not require parsing to be done with python and not multiple list comprehensions:
[code]
Data is directly stored in a dataframe, which could than be used for the mathematical operations necessary for unit conversion and coordinate system transformations.
This still does the reading of lines using python though, so th

[2022-07-14 08:39] pmrv commented on #682
Simply add a new script [here](https://github.com/eisenforschung/pyiron-resources-mpie/tree/master/sphinx/bin).  I've just checked the cluster module definitions and the default version 'latest' should already be 3.0.8.  So technically no change is required on your side, but I'd appreciate it if you could add scripts for the version that are available as modules on the cluster (run `module avail s

[2022-07-14 08:51] tnecnivkcots commented on #681
Which file exactly are you talking about, with this ACL-settings?

If I try to execute `mamba install -c conda-forge mpi=1.0=openmpi` I get the following error:
[code]
and if I look for the ACL at the .json file mentioned in the error, I get :
[code]
The problems are that effective no group has execution permissions.

[2022-07-14 08:56] pmrv commented on #681
It was file owned by you in the same folder.  Execute permissions should not matter for reading files, right?  Anyway I've deleted the files owned by me, maybe it'll work now for you.

[2022-07-14 08:59] tnecnivkcots commented on #681
Yeah, thank you for cleaning up.
But now I get, everything would be already installed.
[code]

[2022-07-14 09:01] pmrv commented on #681
Have you tried with `--force-reinstall`?

[2022-07-14 09:13] tnecnivkcots commented on #681
No, but I uninstalled it and installed it again, with the other packages, which were uninstalled.
Now I execute the compile script.

[2022-07-14 09:21] tnecnivkcots commented on #681
Ok, should be installed, compiled and so on now.
@samwaseda can you try it another time?

[2022-07-14 09:30] pmrv commented on #681
I've checked just now, but the `libmpi.so.40` file is still not present.

[2022-07-14 09:40] tnecnivkcots commented on #681
Now I have executed the `mamba install mpi ... --force-reinstall` and compiled it again. The file is still not there. (I expected it in `/u/system/soft/pyiron/dev/anaconda3/lib`.)

[2022-07-14 09:44] tnecnivkcots commented on #681
We can try to download it from [pkgs.org](https://pkgs.org/download/libmpi.so.40) and put it into the expected directory.
Does it have to be linked somewhere?

[2022-07-14 09:47] usaikia commented on #682
Thanks Marvin. I will add the scripts for all available sphinx modules. I just noticed that the script "run_sphinx_2.6.2_default.sh" actually load the sphinx module 2.7.1 (module load sphinx/2.7.1-noopenmp). Same for the script "run_sphinx_2.6.2_default_mpi.sh". Is it intentional or I should change it to the correct versions as well?

[2022-07-14 09:47] niklassiemer commented on #681
I am somehow glad, I tried to update now, without someone being on holidays...

[2022-07-14 09:51] tnecnivkcots commented on #681
I am still everytime afraid of destroying this conda environment, which seems to be fragile.

[2022-07-14 09:56] niklassiemer commented on #681
I just had a look at the diff between the environments and yesterday (with my update) openmpi changed:
[code]
I am of course not sure if that is related...

[2022-07-14 10:00] niklassiemer commented on #682
Probably, someone updated the script without renaming it is as well (at least I would guess so).

[2022-07-14 10:04] tnecnivkcots commented on #681
I think it is not related to the fact, you made the update. I am sure it is related to doing updates in general.

The `external_0` is also there:
[code]

[2022-07-14 10:08] tnecnivkcots commented on #681
The build of openmpi from last week also was `ha1ae619_100`.

[2022-07-14 10:11] tnecnivkcots commented on #681
All the more suprising that the file disappeared.
I expect lammps worked before yesterday. Am I right?

[2022-07-14 10:21] niklassiemer commented on #681
That's my point!
[code]
I.e. with the build number `ha1ae619_100` it all seems to be ok?!

[2022-07-14 10:23] niklassiemer commented on #681
I will now change that.

[2022-07-14 10:23] tnecnivkcots commented on #681
Ahhh, ok now I understand.

[2022-07-14 10:26] niklassiemer commented on #681
Seems to be fixed! I will now make some cluster unit tests to verify the environment after update...

[2022-07-14 10:26] #681 closed, assigned to nobody

[2022-07-14 10:26] tnecnivkcots commented on #681
Ok, in this case it would be very efficient to have some testings after every update.
Thank you @niklassiemer.

[2022-07-14 10:31] usaikia commented on #682
@niklassiemer Thanks. Then, I will change the names to the correct versions numbers.

[2022-07-14 10:36] samwaseda commented on #681
Hey it worked! Thanks!

[2022-07-14 14:57] #682 closed, assigned to nobody

[2022-07-15 13:31] Vishwa-adi opened #683 "Cannot change lattice parameter for the same sqs job"
**Summary**

[code]
[code]
[code]
[code]
[code]
[code]
[code]

This gives a warning:
/u/system/SLES12/soft/pyiron/dev/anaconda3/lib/python3.8/site-packages/pyiron_atomistics/atomistics/structure/atoms.py:2021: UserWarning: You are adding structures with different cell shapes.
Taking the cell and pbc of the first structure:Cell([11.457285687808415, 11.457285687808415, 11.457285687808415]) warnings.

[2022-07-15 13:36] jan-janssen commented on #683
pyiron saves your calculation in the database `pr.job_table()` so the second time you execute this function, it just reloads the job from the database. To change this behavior you can by adding the parameter `delete_existing_job=True` to the `run()` function.

[2022-07-15 13:39] Vishwa-adi commented on #683
I would like to have the same structure for future calculations. By using  `delete_existing_job=True`, it would give me a new structure.

[2022-07-15 13:47] jan-janssen commented on #683
If you only want to change the lattice constant, but not redo the SQS calculation, you can also use the `set_cell()` function of the atomistic structure.

[2022-07-15 13:58] Vishwa-adi commented on #683
The set_cell() function changes the cell size. Even if I use scale_atoms=True, the distance between the adjacent atoms are same as used in the beginning.
[code]

[2022-07-15 16:18] jan-janssen commented on #683
The cell should be `3x3` so I would use:
[code]

[2022-07-15 18:20] Vishwa-adi commented on #683
It's still giving the lattice constant used in the beginning i.e 2.8...

[2022-07-18 08:25] pmrv commented on #683
Make sure that you didn't call `set_cell` previously with `scale_atoms=True` by accident.  I've checked just now that `set_cell(scale_atoms=True)` does correctly move atoms accordingly.

As a side note: I'd recommend using `apply_strain(a0_new/a0_old - 1)` or something similar, since it harder to get wrong.

[2022-07-18 11:50] Vishwa-adi commented on #683
`apply_strain` function did work perfectly.  Thanks 👍

[2022-07-18 11:50] #683 closed, assigned to nobody

[2022-07-22 18:46] Leimeroth commented on #672
maybe @liamhuber or @samwaseda could explain what is going on there?

[2022-07-22 19:24] jan-janssen commented on #672
I feel this issue is redundant https://github.com/pyiron/pyiron_atomistics/issues/673

[2022-07-22 19:34] Leimeroth commented on #672
#673 is clearly a bug. In this case I simply do not understand whether this works as it is supposed to or if all lammps jobs with changing cell do something wrong during parsing by not updating the prism used for coordinate transformations for each step.

[2022-07-23 05:10] liamhuber commented on #672
I have very low confidence in my answer here and would recommend explicitly creating a scenario where such a transformation takes place and seeing if it still works. With that said, I think the initial prism should be fine. The prism just transforms coordinates from whatever pyiron is using to an upper(lower?) triangular bravais matrix. Once that's done initially, I would expect evolutions of the

[2022-07-23 05:43] samwaseda commented on #672
I agree with @liamhuber.

This being said, I want to remind you that we might have a situation, where the LAMMPS might give rotation-free shape changes, while through this transformation pyiron might create a rotation (because the x-axis is rigid, and the y-axis also for the z-axis). I don't think there's anything we could do about it, but we shouldn't forget this because I'm sure that one day som

[2022-07-24 17:28] Leimeroth commented on #672
Shouldn't R be R(n)?
And is this what is actually done? I interpreted the code in dump parsing to calculate pyiron positions based on the relative positions as given in the dump file. These positions are relative to the current cell and I don't see where dcell comes in to the calculation to correct for the changes between cell[0] and cell[n]

[2022-07-25 16:47] liamhuber commented on #672
Perhaps I misunderstood -- for interactive jobs, where the structure is being re-set, then I agree that the rotation matrix is step-dependent. Then I think this comes back to issue #673 that Jan mentioned.

In case it is just a regular lammps job in which the cell shape changes during the Lammps run, I still think we need only one rotation matrix:
- We start with a pyiron Bravais matrix $M_0$
- We

[2022-07-26 09:20] niklassiemer opened #690 "Deprection warning `job_name` not supported argument"
We get `DeprecationWarning`s from inside our package internals due to the change in rewrite_hdf not taking/ignoring the `job_name` argument. @tnecnivkcots, thanks for noting.

[2022-07-26 09:41] tnecnivkcots commented on #690
It occurs, by using `lammps` or `gpaw` as `job_type`.

[2022-07-28 07:27] samwaseda opened #691 "Is it possible to know the normal of grain boundary plane with `Aimsgb`?"
I am struggling with the fact that `pr.create.structure.aimsgb.build` creates grain boundaries, the normals of which show sometimes x-direction, sometimes y-direction and sometimes z-direction. For example, for `axis = [1, 1, 0]` and `sigma = 3`, the three possible GB (`planes = [[-1, 1, 1], [1, -1, 2], [1, 1, 0]]`) give all different grain boundary normals. Is there a possibility to know the dire

[2022-07-28 07:45] skatnagallu opened #692 "Restarting SPHInX jobs from charge density doesn't take the appropriate structure."
When I restart SPHInX jobs from an aborted previous job, using `restart_from_charge_density`,  it does not take the appropriate structure. The new restarted job takes the starting structure of the previous job when in fact it should take the final structure from the previous job since there are multiple ionic steps.

I guess the problem is in pyiorn_atomistics.sphinx.base.py,
[code]

I think the l

[2022-07-28 18:12] samwaseda commented on #692
I just gave it a try and it looks like `restart` is taking indeed the final positions:

[code]

Output
[code]

[2022-07-29 05:11] skatnagallu commented on #692
You are right. This seems to be working. Somehow for my previous jobs, it did not. Probably it is something I did. I will close this.

[2022-07-29 05:11] #692 closed, assigned to samwaseda

[2022-07-29 20:14] usaikia commented on #691
@samwaseda I couldn't found any option to control direction of the GB normal in Aimsgb (@liamhuber please correct me if I missed something). However, you can determine it from pr.create.structure.aimsgb.info

Here is a simple example:

[code]

EDIT: (ghost edit from @pmrv :P)

[2022-07-29 20:36] usaikia commented on #691
sorry for the wrong indentations in the if statements. It changed when I post the comment.

[2022-07-30 08:28] usaikia commented on #691
@pmrv Thanks :)

[2022-08-01 05:34] samwaseda commented on #691
Ah that means the planes are always given in the oder of `x`, `y` and `z`? That would actually answer my question.

[2022-08-01 05:36] samwaseda commented on #691
Ok I did a few test cases and it indeed looks like that. Thanks for your help!

[2022-08-01 05:36] #691 closed, assigned to liamhuber, usaikia

[2022-08-01 11:15] niklassiemer opened #695 "sphinx potential tests are resource dependent"
I fear these tests strongly depend on the current settings in the resources -  Am I right?
https://github.com/pyiron/pyiron_atomistics/blob/dd6266b95ed107d51328de77cba500451af455d0/tests/sphinx/test_base.py#L115-L122
On the cluster they fail since
[code]

[2022-08-01 17:43] samwaseda commented on #695
aaaah I knew that someone would notice it at some point

[2022-08-01 17:44] samwaseda commented on #695
I would simply remove this test, because it makes little sense. What do you think?

[2022-08-01 18:10] samwaseda opened #696 "`calc_minimize(pressure=[0, 0, 0])` does not work for undefined structure"
[code]

This code raises the error:

[code]

The problem simply comes from the fact that the rotation matrix is `None`, because there's no structure defined. Either we just live with the already existing warning (`No structure set, can not validate the simulation cell!`) or raise an error, but with a clearer message.

[2022-08-01 21:03] niklassiemer commented on #695
No, I would leave it in. I am just wondering where we install these resources xD
We should either document that better or have a trimmed down test resource attached to the repo to make the tests running everywhere.

[2022-08-01 23:35] jan-janssen commented on #695
You can find the resources in https://github.com/pyiron/pyiron_atomistics/tree/master/tests/static and they are installed in https://github.com/pyiron/pyiron_atomistics/blob/master/.github/workflows/unittests.yml#L39 `python .ci_support/pyironconfig.py`

[2022-08-02 07:08] #695 closed, assigned to samwaseda

[2022-08-02 14:20] samwaseda opened #698 "Translate structure into a unique key"
It's been some time since I started wondering whether there is a simple way to translate a structure to a unique key, in order to use it in the job name definition. I post it here because firstly someone might have an even better idea and also because I want to be able to find it by searching it on GitHub.

[code]

I guess any structures which deliver different energy values would give different v

[2022-08-02 16:23] liamhuber commented on #698
If you don't care about the key being meaningful, you can just hash the structure. I've done this before. I don't remember if I was able to pass the structure object directly or if I had to concatenate the cell, positions, and species all together as a big string (or similar) first.

[2022-08-02 16:25] samwaseda commented on #698
Yeah I just want to make sure that the tag doesn't change for changing the order etc. I mean, as long as physics is the same, I want it to carry the same tag.

[2022-08-02 18:07] liamhuber commented on #698
That's a tall order...need to do all sorts of symmetry checks and stuff, yeah? Also pristine bulk cell 1x1x1 has the same physics as a pristine bulk cell 9x9x9, so you'd need to decide how to handle that. Once you have such a checker that identifies "equivalent" structures, I guess you could still just hash the canonical representation of that structure, right? I think the checker is the hard part

[2022-08-03 09:10] pmrv commented on #698
Just sort the positions and ensure the cell is a right-handed coordinate system before hashing.  Hashing has the advantage that it's easy to follow rather than some bespoke formulae we might come up with.

I would not make supercells hash to the same key as the unit cell.  From a computational point these are different structures and some code could even reasonable return different energies for th

[2022-08-03 10:05] samwaseda commented on #698
ok how does hashing actually work? Do you have a specific example?

[2022-08-03 10:15] samwaseda commented on #698
I agree.

I actually didn't talk about the motivation, but what motivated me to make this was because I was launching some calculations with grain boundaries in DFT, where I distribute solute atoms randomly. When the number of solute atoms is low, it's possible that I do the same calculation multiple times, especially if I only enumerate the boxes. With the function I proposed above, I wanted to a

[2022-08-03 10:49] pmrv commented on #698
Use the builtin [hashlib](https://docs.python.org/3/library/hashlib.html?highlight=hashlib#hash-algorithms-1).  You'll need to feed it raw bytes, but converting strings and numpy arrays to bytes should be easy.

[2022-08-03 14:20] samwaseda commented on #698
So following @pmrv and @liamhuber's comments, I wrote the following function:

[code]

Test:

[code]

Output:
[code]

[2022-08-03 14:44] pmrv commented on #698
You'll have to use the proper `hashlib` and not the builtin function `hash`.  The latter is just a representation of the memory location where an object lives in the interpreter.

Is there any reason why you take the log of the distances?

EDIT:

I would just:
1. prepare a `bytesarray` to hold the data,
2. normalize the cell somehow (axes in order of length maybe, respecting a right hand coordinat

[2022-08-03 14:48] samwaseda commented on #698
`log` is in order to kill the linearity of the distance summation, i.e. if there are two pairs of atoms with the distance `d`, and another pair of atoms with the distance `2d`, they should not deliver the same value by summation. This is easily done with `log` because `log(2d) != 2*log(d)`.

[2022-08-03 14:56] pmrv commented on #698
Your `E` term is basically a pair potential and they are known to be unable to differentiate general point clouds.  Anything you construct out of purely pair (or even triple) contributions cannot give you a unique map into "structure space".

[2022-08-03 14:56] pmrv commented on #698
Also see my sneak edit above.

[2022-08-03 14:58] samwaseda commented on #698
Can you make an example where two different structures deliver the same value of `E`?

[2022-08-03 15:01] pmrv commented on #698
Two pairs at distance `d` and one pair at distance `d^2` by the same logic as your post above, but see [this paper](https://arxiv.org/pdf/2001.11696.pdf) why it's not possible in general.

[2022-08-03 15:15] pmrv commented on #698
Fair point: the linked paper discussed atom centered descriptors, which is not what you're doing, but iirc there's a citation in there to a math paper that shows that just the (full) list of distances is not enough to reconstruct a general point cloud.  Therefore any function you define on the list of distances cannot be injective.

[2022-08-03 15:25] samwaseda commented on #698
Anyway we cannot make any injective mapping, because we are talking about reducing the structure into a few characters. So the mathematical incompleteness means very little here. As long as there is no physically meaningful case in which two distinct structures deliver exactly the same value of `E`, it's not more dangerous than relying on hashlib.

And with this in mind: what's the physically mean

[2022-08-04 09:05] pmrv commented on #698
Imo, hashing has the advantage that it's "stupid" code.  Easily read and most likely won't have to change in the future.  If we start tinker with clever math formulations, which may or may not turn out to be insufficient in the future.  Once that happens we have to change it, which means new "keys" clash with old ones, etc.

I don't know, it seems as relevant to me as your example at `2d`.  But I

[2022-08-04 15:19] raynol-dsouza opened #702 "Calphy errors"
When trying to run the following snippet from the potentials workshop,

[code]

I get the following error:

[code]

@srmnitc I believe this error comes from PR #697. I know I should be able to specify the spring constants as `job.input.spring_constants`, but I think setting it to `None` as default without the user knowing about it is quite troublesome.  Wouldn't it be better to specify it (to some

[2022-08-04 15:32] srmnitc commented on #702
@raynol-dsouza I did not catch this on the calphy side. I will look into this.

[2022-08-04 15:37] raynol-dsouza commented on #702
Cool! I just ran into another error while submitting the job to the cluster:

[code]
I see the assignment of `self.calc = calc`, but `self.calc` hasn't been defined in the `__init__` of the `Calphy` class.

[2022-08-04 15:49] srmnitc commented on #702
@raynol-dsouza maybe we need an update. Could you tell me the path of the Calphy class definition on the cluster please?

[2022-08-04 15:53] raynol-dsouza commented on #702
I'm using a clone of the github repo for pyiron_atomistics and am on the most recent head.

[2022-08-04 17:38] raynol-dsouza commented on #702
Ah, I see that the problem is that whatever is stored in `self.calc` is not saved to the hdf5 file, so when the job is submitted to the queue and it reloads using `from_hdf`, `self.calc` isn't loaded and that's why it complains.

[2022-08-04 20:32] niklassiemer commented on #702
For such things (if there is no easy to define default) we have the `validate_ready_to_run` method which should look
[code]
in this case.

[2022-08-05 07:28] srmnitc commented on #702
Thanks for this pointer!

[2022-08-05 09:51] srmnitc commented on #702
The spring constants are automatically determined if you set it is None (which is the preferred way). This keyword is for overriding these settings. The error comes because the check to see if spring constant is None checks only for a single value while it can also be a list. I am fixing this on the calphy side https://github.com/ICAMS/calphy/issues/38

[2022-08-08 17:31] pmrv opened #708 "Parallel Vasp jobs should set NCORE automatically"
[Vasp wiki](https://www.vasp.at/wiki/index.php/NCORE) recommends either 2 to the number of cores per socket or `sqrt(cores)`.  I guess we can just adopt either of these.

Ping @raynol-dsouza since he brought it up in the meeting today. :p

[2022-08-09 10:52] #690 closed, assigned to nobody

[2022-08-10 07:01] Leimeroth commented on #708
Since NCORE can have very different optimal values depending on the architecture of the HPC system the implementation should take of not overwriting a manually set value.

[2022-08-10 13:40] raynol-dsouza commented on #708
I'm still thinking about the right way of setting the NCORE flag. In addition to @Leimeroth's very valid point, one would also need to make sure that master jobs like the Murnaghan job don't break or underperform because of this.

[2022-08-12 12:01] Leimeroth opened #718 "Structures species does not update when changing elements"
When f.e. removing an element from a structure completely using f.e.
s[s.numbers==12] = "Cu"
the structures .species attribute is not updated. This leads to problems with using interatomic potentials. Exemplary Backtrace:

File ~/git_projects/pyiron_atomistics/pyiron_atomistics/lammps/base.py:207, in LammpsBase.potential(self, potential_filename)
    205     potential_elements = list(potential["Sp

[2022-08-12 12:06] niklassiemer commented on #718
related https://github.com/pyiron/pyiron_atomistics/pull/700

[2022-08-22 14:28] pmrv opened #728 "nglview notebook tests broken"
Currently the notebook tests fails on master.  It seems that this is because the current `nglview` gives an error in import.

[code]

I guess we miss this because `nglview` is only installed in the notebook env and therefore not covered by the dependabot.

[2022-08-22 14:30] pmrv commented on #728
See discussions upstream [here](https://github.com/nglviewer/nglview/issues/1032) and [here](https://github.com/jupyter-widgets/ipywidgets/issues/3552).  It seem the current fix is an upper bound on `ipywidgets`.

[2022-08-23 17:34] niklassiemer commented on #728
Temporary fix (upper bound on `ipywidgets` is merged in #729.

[2022-08-26 17:06] #671 closed, assigned to nobody

[2022-08-29 21:31] pmrv opened #734 "Creating Structures takes way too long"
Reminder for myself.

~90% of the time creating structures is spent `period_table.py` comparing chemical elements for equality.  Since this is done one the complex mendeleev objects, it takes ages.  Creating 1250 structures takes **8min**!

Attached a benchmark: [struct_bench.tar.gz](https://github.com/pyiron/pyiron_atomistics/files/9448035/struct_bench.tar.gz)

[2022-08-30 13:35] srmnitc commented on #702
These issues are now fixed!

[2022-08-30 13:35] #702 closed, assigned to srmnitc

[2022-08-31 05:57] pmrv opened #735 "Wrap also "classic" CNA from pyscal"
Right now one can only call adaptive CNA via the `.analyse` sub module, but since pyscal allows to pass the cutoff, it would be nice to support that on our side as well.

In general there's probably a few more things we can pick from pyscal.

[2022-09-01 10:42] pmrv commented on #734
Partially mitigated by #740.  However creating a few thousand of "large-ish" (>2000 atoms) cells still takes minutes, so I'll keep it open.

[2022-09-01 14:53] pmrv commented on #734
Partially mitigated again by #742.

[2022-09-01 19:27] pmrv opened #743 "Atoms.species and Atoms.get_species_objects() are inconsistent"
`get_species_objects` (as well as `get_species_symbols`) are always alphanumerically ordered, where as `species` gives the ground truth for atomic indices.  That's super confusing and dangerous imo.

Generally the chemical "API" is very abstruse.  There's 2 by 3 "matrix" of how to get chemical information from a `Atoms` object.  Either total "per_structure" (`get_species_*`) or "per atom" (`get_ch

[2022-09-01 20:20] pmrv commented on #734
Final mitigation (part three) by #744 (for today).

By now the bottleneck is `Atoms.repeat`, which in turn is bottlenecked by `SparseList.__mul__`.  That one takes half the runtime and spents half of that on type checking.  That's probably not good.  On the other hand this means for structures that do not define custom tags (i.e. selective dynamics) we're probably in a good shape now.

Current ben

[2022-09-08 19:49] ligerzero-ai opened #752 "Pyiron generated VASP inputs: Option to preserve atomic ordering"
Hi, I am just beginning to code some proof-of-concept workflows. There are a couple issues that immediately cropped up:

It is highly desirable for complex workflows that the POSCARs generated have the option to have their atomic ordering preserved, instead of rearranged.

e.g.
``` Fe 36 V 1 Fe 2 Al 1 Fe 31  remains that way ```
and doesn't become
``` Fe 69 V 1 Al 1```

This is because the orderin

[2022-09-08 23:45] liamhuber commented on #752
I'm not convinced that the VASP files themselves need to preserve order, although I agree it's absolutely critical that, e.g., `job.structure.positions` and `job.output.positions[-1]` maintain *exactly* the same ordering. If the VASP job internally re-orders these for the VASP run and then converts them back to the "true" pyiron order in the output, I don't see a problem with that.

I thought this

[2022-09-09 08:55] ligerzero-ai commented on #752
Hi, thanks for clarifying that input and output are indeed "undone" and order is preserved when the output is accessed through the pyiron project. I have checked the input and output accordingly and confirmed that this is the case.

However, I note that issues such as #700 #718 make this somewhat extremely dangerous, especially if errors such as species assignment are still running around in the c

[2022-09-09 15:57] liamhuber commented on #752
As far as I can tell, these are not VASP/POSCAR errors, but really fundamental bugs with `Atoms` (and I suppose bugs that ASE shares with us).

If we start thinking about many users, or one user doing some sort of SQS high throughput....I am really not convinced this stays merely at the GB scale. I don't have VASP on my system -- how big are the single-species POTCAR files anyhow?

As you state, t

[2022-09-09 16:00] liamhuber commented on #752
After digging into it over in #492, I just want to put the answer here so it's linked together with the issue for posterity.

Indeed, this happens in `pyiron_atomistics.vasp.structure.write_structure`; to get the original ordering you can always directly write either the input or output structures in POSCAR format while preserving the order:

[code]

[2022-09-16 10:52] ligerzero-ai opened #756 "totalcputime is actually totalrealtime"
pr.job_table["totalcputime"] is actually the real time consumed by the job (real time between job start and job end)

The standard accounting unit for CPU-time is core-hours on HPCs, so the actual totalcputime should be calculated like so:

no. cores * walltime (hrs)

[2022-09-16 11:29] pmrv commented on #756
Correct, but I'm afraid the fix will not be so easy.  We should consider this in the restructuring of the database however.

[2022-09-16 11:46] ligerzero-ai commented on #756
While we're here there are also some other issues - in some HPC queueing systems, it is necessary to specify both the number of cores as well as the RAM you would like to utilise. In this case, it is desirable also to extract the maximum RAM used by the process to inform future calculations so as to minimise wait-time on crowded HPC queues.

As a new-user, in the database object, I would expect to

[2022-09-16 12:58] niklassiemer commented on #756
In principle this is true, however, we interact with the queue via the queue adapter pysqa. And that one supports different queue types (well slurm is best supported).

[2022-09-16 13:14] pmrv commented on #756
I guess a working solution would be to add a method to the `pysqa` code, that (given the job id) tries to get the resource usage.  If the configured queue system does not define a way to get the resources, it returns `None` or raises an error.  Then whatever is returned to pyiron we store in HDF5 (`job['resources/...']`?).  Maybe we can put an additional object on the job that reads the this infor

[2022-09-16 14:15] ligerzero-ai commented on #752
Following our Monday pyiron meeting 12/09/2022, we agreed that it should be appropriate for users to specify that they need the specific user-generated ordering to be able to be directly inputted in the calculations, so as to avoid convoluting ordering messes happening in the OUTCAR, since not all data in it is parsed.

The to-do list:

1. Put a warning in the raw-POSCAR data input that the defaul

[2022-09-16 14:27] ligerzero-ai commented on #752
I think a good solution to the problem of mapping is simply provide the user-input POSCAR like POSCAR-user and CONTCAR-user written to the folder at the end of the job. That way the users know exactly what file they need at first glance instead of having to actually enter the files. This preserves the POTCAR efficiency, but elegantly solves some of the major issues.

This way, the user-defined str

[2022-09-16 14:58] samwaseda commented on #752
Here: https://github.com/pyiron/pyiron_atomistics/blob/c218487cdf851a27216b7d20e352bb46b46cc75a/pyiron_atomistics/vasp/structure.py#L96

[2022-09-16 15:02] samwaseda commented on #752
And the warning is essentially the logger, which you can probably import via:

[code]

and use it by:

[code]

or something like this? However, this one issues the warning in the Notebook, but from what I understood from @srmnitc, it is apparently also possible to write it in the python log file, which is stored in the job directory. I'm not really sure how it works.

[2022-09-16 15:03] samwaseda commented on #752
I would say this should be in the DFT generic input, probably [here](https://github.com/pyiron/pyiron_atomistics/blob/master/pyiron_atomistics/dft/job/generic.py)

[2022-09-16 15:06] samwaseda commented on #752
I don't know what this is called in VASP. I pasted the lines for SPHInX below. This should definitely be unified between VASP and SPHInX (and we can maybe also think about moving it to DFG generic input).

https://github.com/pyiron/pyiron_atomistics/blob/c218487cdf851a27216b7d20e352bb46b46cc75a/pyiron_atomistics/sphinx/base.py#L160-L164

[2022-09-16 15:41] pmrv commented on #752
All jobs also have an appropriate logger instance attached, so in most cases just using `job.logger.` should be enough.

[2022-09-19 11:02] jyang2009 opened #760 "Constrained cell relaxation in vasp"
Dear all,

I'm trying to run some interface calculations with vasp and I'm wondering if it is possible to fix the lattice parameters in xy direction and allow the z direction to relax from pyiron. My previous experience is that one need to change the file constr_cell_relax.F and recomiple vasp to do this. Is there such a version already complied on cmti cluster? Please let me know. Thanks a lot.

[2022-09-19 11:48] pmrv commented on #760
I have a work in progress job for this [here](https://github.com/pyiron/pyiron_atomistics/pull/636).  It works with VASP jobs without problems, but it's not merged because of other technical reasons.

[2022-09-19 12:45] appassionate opened #761 "restart from a existing pyiron job by using the same job_name?"
Summary
Hi,
maybe some restart job by the same job_name will be helpful for condition handling of calculation tasks

Detailed Description
In DFT calculation, it is common that a traditional HPC job hit the walltime and the calculation stopped when actually not satisfy our expect, i guess... Usually, in no pyiron calculation process, we just edit the INCAR or other software input to restart the tas

[2022-09-19 15:42] ahmedabdelkawy opened #763 "Confusing warning messages for primitive cell generation"
**Summary**

- Using `structure.get_symmetry().primitive_cell` gives the following warning and recommends using `structure.get_primitive_cell(standardize=False)`:
pyiron_atomistics.atomistics.structure.symmetry.primitive_cell is deprecated: Use `get_primitive_cell(standardize=False)` instead. Which fails, because standardize is not a keyword argument

- However, using `structure.get_primitive_cell

[2022-09-19 16:56] ahmedabdelkawy opened #764 "Unexpected behaviour when writing out files from pyiron"
1. I have a structure as a conventional cell (this is the root of the problem)
2. I generate the primitive cell (using either .get_symmetry().primitive_cell or .get_primitive_cell() give the same results)
3. I print out the generated primitive cell to be used outside pyiron (tested different formats: xyz/cif).  (here I see the effect of the bug)

- When I generate the structure using pyiron (such

[2022-09-19 17:02] ahmedabdelkawy commented on #764
This might be related to https://github.com/pyiron/pyiron_atomistics/issues/743
@jan-janssen I am not sure whether this is the correct problem you mentioned that might be related to this, please mention the correct one if it is not.

[2022-09-20 08:26] jyang2009 commented on #760
Dear Marvin,

Does this only work with the Murnaghan job type or does it also work with the vasp job type? Could you please give a short example of how this version could be used? Thanks a lot.

Best,
Jing

[2022-09-20 20:48] liamhuber opened #768 "Code for looking at Lammps potentials is misleading"
The [code for looking at Lammps potentials](https://github.com/pyiron/pyiron_atomistics/blob/1176c2f334a4af83b3a427b18ad9eddaeb91f609/pyiron_atomistics/lammps/base.py#L356) implies that if you ask for potentials for a structure that has no potentials, you'll get a `TypeError`. The truth is that the underlying `None` comparison never gets triggered and we're always just returning empty lists.

MWE:

[2022-09-21 09:20] niklassiemer commented on #763
Thanks for the detailed issue!

It actually recommends using `structure.get_symmetry().get_primitive_cell(standardize=False)` which works as expected. The `Symmetry` class returned by `structure.get_symmetry()` is emitting this warning. However, I absolutely agree that this is somewhat misleading!

Yes, here the deprecation warning was not updated. Done in #762

[2022-09-21 10:06] pmrv commented on #760
The Murnaghan job works with any atomistic job including VASP.  There should some examples in the handbook distributed on the cluster.  The use case that you need is depending on the PR I linked.  I'll see if I can get it in by tomorrow.

[2022-09-21 15:48] samwaseda opened #771 "`ModuleNotFoundError: No module named 'mp_api'`"
https://github.com/pyiron/pyiron_atomistics/blob/58947bb1978d66e59e646cdd96f8dfd9e514f970/pyiron_atomistics/atomistics/structure/factories/materialsproject.py#L2

Our resource problem?

[2022-09-21 17:35] pmrv commented on #771
Did you pull master yourself?  I would guess @tnecnivkcots hasn't updated the global conda env yet.

Quick fix `pip install --user mp_api`, then once the global env is updated remove it again.

[2022-09-21 18:51] niklassiemer commented on #771
Actually, since this is not yet released, this is not on the cluster, yet. However, I can install the package tomorrow :)

[2022-09-22 02:03] liamhuber commented on #771
It's also available via conda if you have a local version of that or are using HEAD on your home machine

[2022-09-22 07:19] tnecnivkcots commented on #771
Conda Update on the cluster was done yesterday at about 11 am.

[2022-09-22 08:45] jan-janssen commented on #771
@tnecnivkcots Did you install `mp-api` ? This is a new dependency we added in https://github.com/pyiron/pyiron_atomistics/pull/757 which was not yet included in the current release of `0.2.56`.

[2022-09-22 08:50] niklassiemer commented on #771
I just read in the https://github.com/conda-forge/staged-recipes/pull/20471 that one dependency of `mp-api` is not available on windows! Can we use the `ImportAlarm` for the `mp-api` to avoid excluding windows user from updates?

[2022-09-22 08:59] niklassiemer commented on #771
FYI - conda/mamba do not seem to find the `mp-mpi` package out of the box right now?! I had to first install `emmet-api` (which was added to conda-forge in the same PR) to then install `mp-mpi`

[2022-09-22 09:00] jan-janssen commented on #771
it is `mp-api` rather than `mp-mpi` does this help?

[2022-09-22 09:05] niklassiemer commented on #771
at least `mamba search mp-api` gives some results on the cluster! Probably, I just had that typo trying to install it directly and not a typo after I installed `emmet-api`... Thanks for pointing this out again...!

[2022-09-22 09:09] pmrv commented on #771
Make it an issue and I can do it next week after vacation.

[2022-09-22 09:16] pmrv opened #774 "GPAW: Needs separate environment variable"
Right now on our cluster, if one tries to run a gpaw calculation it fails because the `GPAW_SETUP_PATH` environment variable is not set.  I guess we should set this variable to `/cmmc/u/system/SLES12/soft/pyiron/dev/anaconda3/share/gpaw` in the pyiron module definition (that is the cluster module shell file).

[2022-09-22 09:18] jan-janssen commented on #774
This should be set automatically when you call `condo activate` https://github.com/conda-forge/gpaw-feedstock/blob/main/recipe/activate.sh

[2022-09-22 09:24] niklassiemer commented on #771
The `mp-api` package is now installed on the cluster

[2022-09-22 09:24] #771 closed, assigned to nobody

[2022-09-22 10:02] niklassiemer commented on #774
It should currently also be already set by `module load pyiron/dev` at least such a variable is set there (see `module show pyiron/dev`).

[2022-09-22 11:38] pmrv commented on #774
Can someone double check on their setup?  At least for me it does not work.

[2022-09-22 12:23] ahmedabdelkawy commented on #763
Thank you very much, Niklas!

[2022-09-22 12:23] #763 closed, assigned to nobody

[2022-09-22 13:45] pmrv commented on #760
Pending on #775.

[2022-09-23 06:49] jan-janssen commented on #774
Does the `module load pyiron/dev` internally call `conda activate`? or does it only set the `PATH` variable?

[2022-09-23 07:39] niklassiemer commented on #774
It only sets paths and environment variables, however, this is similar to what conda does on the conda-init step. And also I do not have to do anything else to use `conda update` for the environment. Of course some things might not be set correctly?

`module show pyiron/dev` results in
[code]

[2022-09-23 07:42] niklassiemer commented on #774
However, the path set by conda activate `GPAW_SETUP_PATH="${CONDA_PREFIX}/share/gpaw"` from https://github.com/conda-forge/gpaw-feedstock/blob/main/recipe/activate.sh resolves to
`/u/system/SLES12/soft/pyiron/dev/anaconda3/share/gpaw` and this is different from the path we set explicitly `/u/system/SLES12/soft/pyiron/dev/pyiron-resources-cmmc/gpaw/potentials/gpaw-setups-0.9.20000`...

[2022-09-26 14:36] #768 closed, assigned to nobody

[2022-09-26 15:14] niklassiemer opened #780 "ImportAlarm for `mp-api` instead of direct dependency?!"
Currently, the `mp-api` package does not work on windows due to a missing dependency. It would be great to have this as an opt-in feature. However, pymatgen is now also using the `mp-api` package (https://github.com/pyiron/pyiron_atomistics/pull/779) and sooner or later there has to be a solution to import the package on windows as well.

[2022-09-26 15:50] jan-janssen commented on #780
for reference https://github.com/pyiron/pyiron_atomistics/issues/771

[2022-09-27 00:09] jan-janssen commented on #780
This is wrong - `mp-api` is working for windows - otherwise our tests in https://github.com/pyiron/pyiron_atomistics/pull/757 would have failed.

[2022-09-27 00:09] #780 closed, assigned to nobody

[2022-09-28 14:00] ligerzero-ai opened #786 "Selective dynamics in some directions of a VASP POSCAR in ASE Atoms is not supported (pymatgen Structure -> Atoms converter) pymatgen_to_pyiron(structure)"
Trying to set limited degrees of freedom is not supported in the ASE atoms object (e.g. Selective Dynamics with [ T T F ])

**Expected behaviour:**

It should accept this! Otherwise jobs with relaxations only in certain ionic directions is forbidden and kills entire workflows.

**To reproduce:**

[code]

yields
[code]

**To fix:**

I have no idea, since this is inherited from ASE (?). Is it possib

[2022-09-28 14:36] samwaseda opened #787 "How is it possible that `ExampleJob` works here even though it's defined in `pyiron_atomistics`?"
https://github.com/pyiron/pyiron_atomistics/blob/3035031f125ee011696c511db8e88085b1827e20/tests/testing/test_exampleJob.py#L8-L18

Here only `pyiron_base` is imported, but somehow `ExampleJob` seems to be working, which is defined only in `pyiron_atomistics`. On my branch it namely didn't work. I don't understand how it's possible.

[2022-09-28 15:14] niklassiemer commented on #787
Actually, all our jobs in the queue are spinning up _only_ from the command line client as defined in base only! The JobType(Choice) class imports the needed JobClass to deserialize the hdf information and run the calculation. Therefore, any defined job should run by only importing base which imports the rest (of course the definitions of the job have to be importable!)

[2022-09-28 17:47] samwaseda commented on #787
hhmmm I'm not sure if I understand it... Does it mean I can also replace `from pyiron_base import Project` by `from pyiron_atomistics import Project`?

[2022-09-29 08:53] niklassiemer commented on #787
In principle this is correct! E.g.
[code]
provides you with a lammps job, which is, of course, imported from `atomistics.lammps.lammps` in this case. However, the `pr` does not know about structure generation or the like!
For an already serialized calculation, it is even easier:
[code]
where the job is now a lammps job (given 'test' was one of course).

For the `pr.create.job.JobType` to work, the

[2022-09-29 09:55] pmrv commented on #786
That is a bug on pymatgen's side, right?  Our subclass of `Atoms` allows specifying direction dependent constraints like this

[code]

Is there a reason you need pymatgen and ase specific creation routines?  Our standard is always that users do not need to touch anything outside pyiron, so if you think there's anything missing for your work, we should wrap it.

FYI: You can convert from pymatgen/a

[2022-09-29 10:02] pmrv opened #788 "New syntax for structure analysis?"
@liamhuber posted an idea for new syntax and functionality for structures to check for the presence of certain "features", e.g. spins, cell shape, defects, etc.

I like the idea, but would put it on the `analyse` property.

I'll leave his proposal code here for discussion.

[code]

_Originally posted by @liamhuber in https://github.com/pyiron/pyiron_atomistics/issues/775#issuecomment-1255259363_

[2022-09-29 10:10] pmrv commented on #774
That's the issue then, when I set it to the first path manually it works.

[2022-09-29 10:35] ligerzero-ai commented on #786
Thanks, I am using pymatgen just out of habit - I didn't think that it would be an issue to convert structures to atoms objects to feed into pyiron.

There are some features in ASE that I like, and some features in pymatgen that I like, so I swap between them often.

For example, I can build GBs using ASE's stack function, using two slabs with specified directions, which is nice and tidy, compared

[2022-09-29 10:56] pmrv commented on #786
This we can actually do already, `pr.create.structure.ase.stack` and friends. (Also ASE's modification routines should work with our structures natively, being a subclass)

Fair, that's why we have the conversion functions.

I would say it's less effort than you make it sound.  We only aim to offer a compatible interface to the same functions so that users do not need to manually convert the struc

[2022-09-29 12:48] niklassiemer commented on #774
I will try to update the module then

[2022-09-29 15:40] niklassiemer commented on #774
@jan-janssen the module file is after all yours 😆 Could you change the group to pyiron and grant the group write access? If you want, you could also directly modify the GPAW setup to `setenv GPAW_SETUP_PATH $DIRECTORY/share/gpaw`.

[2022-09-29 15:43] jan-janssen commented on #774
Maybe it makes more sense to ask @freyso to transfer the ownership to @tnecnivkcots as I am currently at the lab and only have access to the cluster again in ~8h.

[2022-09-29 15:58] niklassiemer commented on #774
I fear we would need to open a ticket for this... And it is not time critical xD

[2022-09-29 17:15] tnecnivkcots commented on #774
One option is to transfer the ownership to me. For that it is neccessary to open a MPCDF ticket.
Maybe it could even better to transfer the ownership to pyironhb.

[2022-09-29 17:48] liamhuber commented on #788
So I understand, you mean something like `struct.analyze.has.cubic_cell`? I am totally fine with that.

[2022-09-30 02:25] pmrv commented on #613
Fixed by #775.

[2022-09-30 02:25] #613 closed, assigned to nobody

[2022-09-30 02:26] pmrv commented on #640
Partly fixed by #775, full contingent on #774.

[2022-09-30 03:00] jan-janssen commented on #774
I updated the module file in `/cmmc/system_sle15_sp1/modules.addon/CMMC/pyiron/dev` to:
[code]
Still I am not sure if that is the right way to do it, as before we had to place the module files somewhere else and then they were copied once per day. I thought these details were included in the documentation for the administration of the cmti cluster - or at least they should be.

@tnecnivkcots What

[2022-09-30 04:29] #621 closed, assigned to nobody

[2022-09-30 05:32] pmrv commented on #760
@jyang2009, #636 is merged, so after the next update on the cluster (~Tuesday) you can use the `Murnaghan` job together with a vasp one.  There's an example [here](https://github.com/pyiron/pyiron_atomistics/blob/master/notebooks/energy_volume_curve.ipynb) (replace `Gpaw` by `Vasp`).  Once the update is in the murnaghan job will have an additional input `axes`, which you can set to a list like `['

[2022-09-30 05:46] samwaseda commented on #788
I'm also fine with this, but I don't like the name `initial_magmom`, because whether the structure is relaxed or not, we call positions `positions` and not `initial_positions` (`cell` idem). And I would still love to stick to the idea from some time ago, that we put atom values in plural and anything else in singular, which makes it `magmoms`

[2022-09-30 05:51] #787 closed, assigned to nobody

[2022-09-30 06:16] samwaseda commented on #761
One thing you might be interested to use could be something like:

[code]

This allows you to create a new job with the same name. Of course behind the scenes the directory's name of the job will be modified as well.

Otherwise I'm not really sure what you mean by "recovering from a existing job". Could you elaborate on it?

[2022-09-30 07:01] pmrv commented on #761
Can I ask what makes it burdensome?  Maybe there is something else we can fix.  If you analyze your results with pyiron tables, aborted jobs are automatically skipped, so your analysis would go only over the correct (-ly restarted) jobs.  Which is presumably what you want.  If you are iterating over jobs manually for some reason, be aware that you can filter jobs, e.g.

[code]

[2022-09-30 07:35] jyang2009 commented on #760
Thanks, Marvin! I will check it out.

Best,
Jing

[2022-09-30 09:06] jyang2009 commented on #605
Hi Marvin,

Just wondering if you have looked into this issue. I found that this happens consistently when I'm trying to animate with multiple species regardless of the specific calculation.  If you have some time, maybe we can try to look at this together? Thanks a lot. Please let me know.

Best,
Jing

[2022-09-30 09:39] pmrv commented on #788
I am happy to alias `magmoms` (or even `spins` or `magnetic_moments`) to `initial_magmoms`, but I'm afraid we have to keep that name as well, as that's what's expected by ASE calculators.

[2022-09-30 09:59] pmrv commented on #605
Sorry, this had dropped off my radar, see if #791 fixes the issue.  I'm only back in the office by the week after next week.  We can meet then, but if you get to try it before that would be helpful.

[2022-09-30 10:15] pmrv commented on #774
@jan-janssen thanks for doing the update!  Changes to the module files should be live immediately, so I'm assuming it works now.

[2022-09-30 10:15] #774 closed, assigned to nobody

[2022-09-30 10:16] pmrv commented on #640
Final fix in #774.

[2022-09-30 10:16] #640 closed, assigned to nobody

[2022-10-03 07:29] appassionate commented on #761
@samwaseda @pmrv
Many thanks for your very kind suggestions! I believe "iter_jobs" will be a very useful method for me for batch analysis.
Actually im considering some implements in MD calculations, which always cost a lot of time unlike structure optimization or others. Also, i tried to implements the interface of cp2k, which i called "cp2kjob" derived from the outstanding design of atomisticjobs

[2022-10-03 15:03] pmrv commented on #761
Just as an aside @jan-janssen prepared an initial wrapping for cp2k already [here](https://github.com/pyiron/pyiron_contrib/pull/286), that might be useful for you to extend.

[2022-10-04 07:45] niklassiemer opened #796 "Save structure generator metadata"
**Summary**

Add structure generation metadata to our `Atoms` class in the structure factory.

**Detailed Description**

We have a lot of detailed information on how we set up our structures in the notebooks. However, looking at a particular structure in a job returns 'only' the bare positions/cell/types etc.

It would be great to store things like the creation routine (`ase.bulk`) or how often we

[2022-10-04 09:04] tnecnivkcots commented on #774
@jan-janssen Do you still need my username?
It is vistock.

[2022-10-04 16:21] liamhuber commented on #796
I would love to see this. My naively preferred implementation would be `Atoms(ASEAtoms, PyironObject)` and to give `PyironObject.storage` a `metadata` field (and probably with the helper property `metadata` that exposes `storage.metadata` easier. Then I guess we would want some sort of decorator to wrap all the generators with like

[code]

(I'm just pulling that out of thin air, so no guarantee i

[2022-10-05 17:55] pmrv opened #798 "Sphinx Output not readable from inspect mode"
Ever since #505 the generic output of sphinx jobs is no longer accessible from inspected jobs, because of the change to store the output in a `DataContainer`.  Long term I think the solution should be change the `DataContainer` HDF layout to not do any mangling of the names.  I don't know when I'll get around to that though.  Any ideas for a short term fix, @samwaseda ?

[2022-10-05 18:26] niklassiemer commented on #796
To have structure also on the same `DataContainer ` footings sounds good to me :)

[2022-10-07 07:16] samwaseda commented on #798
I think the best would be to make `inspect` compatible with `DataContainer`. What do you think?

[2022-10-07 18:23] pmrv commented on #796
I would just use the `info` dictionary that's already on every atoms, together with some small API to append and retrieve this data.  That way we can also easily swap out the underlying storage, but we'd have the functionality straight way.  Dual inheritance with `PyironObject` could be problematic due to the conflicting HDF impl's.

[2022-10-09 14:57] #786 closed, assigned to ligerzero-ai

[2022-10-10 19:35] pmrv opened #810 "Vasp: k_mesh_spacing leads to error on uncommon cells"
For cells that do not follow "usual" symmetries I get often an error from VASP when I use the `job.set_kpoints(k_mesh_spacing=...)` parameter, like this:

[code]

I don't know exactly what structures cause this, but [this discussion](https://mattermodeling.stackexchange.com/questions/8959/reciprocal-lattice-and-k-lattice-belong-to-different-groups-in-vasp) and the [VASP manual](https://www.vasp.at

[2022-10-10 19:37] pmrv commented on #810
Ah, nevermind.  Someone went through the pain already and added this hatch.  I do feel we should collect non-autogenerated documentation at some point, where these kinds of issues are kept.

[2022-10-10 19:37] #810 closed, assigned to nobody

[2022-10-10 20:27] pmrv commented on #798
This still breaks Murnaghan job with sphinx, btw.

[2022-10-11 07:28] RhettZhou opened #889 "PDOS calculations for Sphinx with pyiron"
**Summary**

With pyiron, I noticed that PDOS calculations are supported for VASP, but not for Sphinx . I am very interested to know if similar modules can be integrated for Sphinx calculations.

[2022-10-11 07:31] samwaseda commented on #889
From what I understood, @freyso did not make it available in the standard SPHInX implementation, but it sounded like he could in principle do it.

[2022-10-11 09:25] freyso commented on #889
There currently is an add-on that does it. I haven't interfaced it to pyiron yet (and it also needs the wavefunction files). However, it might be an alternative idea to give access to the functionality within the main code.

[2022-10-11 15:55] #659 closed, assigned to ahmedabdelkawy

[2022-10-11 20:19] pmrv opened #813 "How is the interactive sphinx job supposed to be used?"
I'm trying to run an interactive sphinx job, but things are not really working.

A few pitfalls:

[code]

This code doesn't work, it silently runs a normal (non-interactive) calculation and then indefinitely hangs in the `run()`.

[code]

This *does* work, but why? And where is this documented?

[2022-10-12 07:48] samwaseda commented on #813
ok this actually requires a thorough discussion (which we had when the transition to `DataContainer` took place, but since then it regularly simmers). Here's the thing: when the job is initialised, there is no SPHInX input. It is created only when `calc_*` is called. However, when the SPHInX input exists, pyiron does not change anything anymore, because it is not possible to distinguish between wh

[2022-10-12 11:42] RhettZhou commented on #889
Many thanks! It would be great if this could be a function in the main code. :-))

[2022-10-12 13:28] #605 closed, assigned to nobody

[2022-10-13 10:53] usaikia opened #818 "how to run external executable in pyiron"
I compiled a MEAMfit executable inside the directory "/cmmc/u/usaikia/apps/MEAMfit2/src"
Next I created a file name "run_MEAMfit.sh" and write the following line inside this file:
exec /cmmc/u/usaikia/apps/MEAMfit2/src/MEAMfit

In the pyiron job (pr.create.job.MeamFit("test") ) I assigned the executable as:
job.executable = "/cmmc/u/usaikia/apps/MEAMfit2/src/run_MEAMfit.sh"

When I run the job (jo

[2022-10-13 14:48] jan-janssen commented on #818
For pyiron to find the executable you should store the `run_meamfit.sh` script in your resource path, which is defined in your `~/.pyiron` config. In the resource directory your should create the subfolders `meamfit/bin` and then in `bin` place your script `run_meanfit_2.0.sh`. If you want to run with multiple cores you also need to add an mpi enabled version `run_meamfit_2.0_mpi.sh`.

[2022-10-13 15:03] usaikia commented on #818
Resource path defined in my ~/.pyiron is: /u/system/SLES12/soft/pyiron/dev/pyiron-resources-cmmc
But I don't have permission to create folder in that directory. Also, to use meamfit each user need permission separately from the developer. Hence, I installed it locally inside my user home directory.  It seems to work fine when I am running directly in the login node using pyiron. I am facing proble

[2022-10-13 15:06] jan-janssen commented on #818
You can simply add an additional resource path in your home directory, the `.pyiron` configuration supports multiple resource paths.

[2022-10-13 15:11] pmrv commented on #818
I guess I forgot to add a meamfit script to our resources when we merged the Meamfit job in contrib.  @usaikia once you have a working script can you create a PR in our [resources repo](https://github.com/eisenforschung/pyiron-resources-mpie)?

[2022-10-13 15:18] usaikia commented on #818
@jan-janssen Thanks a lot for solution.

[2022-10-13 15:19] usaikia commented on #818
@pmrv sure, I will do that.

[2022-10-13 15:29] pmrv commented on #813
But that's a bit weird no, in case I want to run `calc_minimize`, e.g.  Can we not make so that we keep a copy of the settings from pyiron methods separate from what the user puts and and then merge them before the job runs?

[2022-10-13 17:03] jan-janssen opened #821 "Decrease the number of dependencies of pyiron"
Two of the very heavy dependencies are `ipywidgets` and `vtk`. The `vtk` dependency seems to be fixed with the recent upgrades of `pymatgen` https://github.com/conda-forge/pymatgen-feedstock/pull/105 . Now the hope is that we can also remove `ipywidgets` from `pyscal` to enable smaller installations of `pyiron_atomistics` https://github.com/conda-forge/pyscal-feedstock/issues/53

[2022-10-13 18:03] RhettZhou opened #888 "A problem related to spin for Sphinx"
**Summary**

I have recently encountered a problem. The problem is related to the spin. According to the tutorial I can build a new atom with the following code:

-> Fe_up = pr.create.structure.element(new_element_name='Fe_up', parent_element='Fe', spin='2.5')

It works when all elements are "Fe_up". However, when I add a B atom, the SPHINX code is no longer executed. I have found a way to solve t

[2022-10-13 20:52] jan-janssen opened #823 "Inconsistency for the Phonopy units"
While we convert the free energy, we do not convert the heat capacity:
[code]
https://github.com/pyiron/pyiron_atomistics/blob/master/pyiron_atomistics/atomistics/master/phonopy.py#L354

Currently the thermal class also requires the heat capacity in `kJ/K/mol` but that is inconsistent with the `eV` we use everywhere else:
https://github.com/pyiron/pyiron_atomistics/blob/master/pyiron_atomistics/at

[2022-10-14 06:45] samwaseda commented on #888
If it's only about spins, the best would be to set it on the structure:

[code]

The option that you mentioned (`Fe_up` etc.) should in principle also be available, but I'm also aware of the problem for some time and maybe I should fix it at some point :D. For now I guess I will just update the example.

[2022-10-14 14:42] ligerzero-ai opened #824 "How to re-generate the output using updated Output parsers so that job["output/generic/dft/..."] is updated for a job."
I'm currently trying to debug my draft implementation of the sorting behaviour removal #799 , currently trying to validate output parsing for VASP.

Can someone tell me what I need to do to re-read the output so that:
[code]
`job_nosort["output/generic/dft/final_magmoms"]` is re-generated/refreshed using an updated version of the output readers? Is the stuff in square brackets just reading from a

[2022-10-14 14:56] pmrv commented on #824
Yep, square brackets just access parsed data and files.

I guess the hacky way is

[code]

Not sure if that will error when there is already output inside the HDF.  In that case

[code]

before the stuff above could work.

[2022-10-14 15:06] ligerzero-ai commented on #824
I see, thanks, great it works. This is really useful to me because I would like to avoid having to rerun the job every single time I change something in the output parsing for validation and testing.
[code]
It returns a message like "The files are already compressed!" in the notebook, but calling `job_nosort["output/generic/dft/final_magmoms"]` again shows that it has changed from the original out

[2022-10-14 15:06] #824 closed, assigned to nobody

[2022-10-14 15:08] pmrv commented on #824
You might have to do `job.decompress()` first.  Successful jobs are automatically tar'ed but the logic around it is a bit weird.

[2022-10-14 15:10] ligerzero-ai commented on #824
ah, I had decompressed them manually, so maybe that's why it worked? I had both the tarball and the raw output files present. Maybe it's detecting if there's a tarball in the folder. Maybe it breaks when they're not. I'll test that later. For now, I'm happy that this works.

[2022-10-17 07:42] samwaseda commented on #813
The problem is we don't know how to merge the data, when there are both the pyiron input and the SPHInX input. For example, let's say the generic pyiron input says the force convergence is 10^-3 and the SPHInX input says 10^-4 - which one should we take? We came to the conclusion at that time to take the SPHInX input, because we assume that if there's a discrepancy the user must have set the value

[2022-10-17 13:05] jyang2009 opened #826 "using pyiron to perform nudged elastic band calculations"
Dear all,

I'm trying to perform some nudged elastic band calculations based on phonopy but couldn't find how to do it via pyiron (I checked the example notebook here)[https://pyiron.readthedocs.io/en/latest/source/notebooks/phonopy_example.html](url)
I'm wondering if any of you know if this is implemented and if I could find an example. Thanks a lot.

Best,
Jing

[2022-10-17 14:24] liamhuber commented on #826
You can run NEB with an arbitrary force/energy calculator (e.g. VASP, LAMMPS, ...anything implemented in pyiron) using the `NEB` protocol [over in `pyiron_contrib`](https://github.com/pyiron/pyiron_contrib/blob/master/pyiron_contrib/protocol/compound/nudged_elastic_band.py).

If you're using LAMMPS or some other classical MD, where individual force/energy calculations are extremely fast and cheap,

[2022-10-17 14:29] liamhuber commented on #826
@raynol-dsouza can you offer guidance or an example of how to actually use it?

[2022-10-17 14:55] raynol-dsouza commented on #826
@jyang2009 [here you can find an example](https://github.com/pyiron/pyiron_contrib/blob/master/notebooks/protocol_neb_example.ipynb) of how to run an NEB simulation using the NEB protocol. It was written to run with LAMMPS, but I also remember testing it with vasp. As long as the reference job is set correctly, it should run. Fair warning though, the code is quite old and I haven't really updated

[2022-10-18 06:36] samwaseda commented on #826
If you already know that transition path, you can also use the [Quasi Newton method](https://github.com/pyiron/pyiron_atomistics/blob/master/pyiron_atomistics/interactive/quasi_newton.py), which is a lot cheaper than NEB.

[2022-10-18 09:50] pmrv opened #828 "Sphinx Warning: "Warning: non-exponential decay in core""
I've noticed that in the sphinx calculations I'm running most jobs contain a lines like

[code]

early in the run.  I'm wondering what the warning means.  Is there initial electron density near the core or does it purely refer to the shape of the pseudo potential? This does not seem cause any problems, but I'm just curious what it means (and didn't find it mentioned in the manual).  Can you explai

[2022-10-18 10:39] freyso commented on #828
You can safely ignore this.
This occurs in the Vasp PAW reader. Vasp potentials provide the real-space atom-centered data (densities, potentials, wave functions, projectors, etc.) only up to the PAW radius. Within SPHInX, however, I need them also outside (If I remember correctly, because I compute the atom-centered electrostatic terms in a different way than VASP does).
For the core density, I do

[2022-10-18 10:39] #828 closed, assigned to freyso

[2022-10-19 07:37] jyang2009 commented on #826
@raynol-dsouza
Dear Raynol,

I've checked the notebook you sent. I had some difficulties in adapting the workflow to vasp jobs. It seems that the default of job_type.ProtoNEBSer runs in interactive mode, but for vasp jobs I would need to submit all the jobs to the queueing system. I'm not sure whether this is supported. Could you please let me know? Thanks a lot.

Best,
Jing

[2022-10-19 11:31] raynol-dsouza commented on #826
@jyang2009 If I recall correctly, the job itself (ProtoNEBSer) is submitted to the queue and it should handle the individual bead jobs internally. I can check it once again and get it running, however, I am a bit swamped this week with some personal obligations in addition to regular work and would only be able to get to it next week. Meanwhile, I would suggest you look at the Quasi Newton method

[2022-10-20 08:08] samwaseda opened #830 "cache speed up test failing."
https://github.com/pyiron/pyiron_atomistics/blob/2fe894a5100022ab2662198d8362977992edf193/test_benchmarks/atomistics/structure/test_atoms.py#L47

In [this PR](https://github.com/pyiron/pyiron_atomistics/pull/588), the unit test above is failing, but it's totally unrelated to my PR. Is there something I missed? @niklassiemer

[2022-10-20 08:14] niklassiemer commented on #830
The benchmark tests are prone to fail. Probably due to different load of the servers for the execution? For that reason we separated them from the other unit tests. Just rerun the failed tests (like I did now) and we have a closer look if it stays failing :)

[2022-10-20 08:22] #830 closed, assigned to nobody

[2022-10-20 09:51] samwaseda opened #831 "`TrainingContainer` cannot be pickled"
[code]

This fails, because the `Atoms`-object contains a mysterious `None` towards the beginning (i.e. `df.drop(columns=['atoms'].to_pickle('blablabla.pkl')` works).

[2022-10-20 12:41] pmrv commented on #831
Quick fix:

[code]

If I recall correctly it's already not possible to pickle our atoms, see #643

You can `pack`/`unpack` projects with the training containers inside, if you need it for the workshop.

[2022-10-20 17:41] sourabh27 opened #865 "Problem in loading VASP calculations"
Hi, While importing the VASP calculations directory (ran separately) in the Pyiron. The status shows aborted <pr.job_table()>
I have followed the below-mentioned link
https://pyiron.readthedocs.io/en/latest/source/import.html

Also, while loading the output (data), It's not working.

Error
Objects can be only recovered from hdf5 if TYPE is given

[2022-10-20 17:49] pmrv commented on #865
Can you paste a the full stack trace and the exact code you are running as well?

[2022-10-20 18:11] sourabh27 commented on #865
{
 "cells": [
  {
   "cell_type": "markdown",
   "id": "a8de1361",
   "metadata": {},
   "source": [
    "I have a directory called ./Opt contains all the files (VASP) in the same location"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 1,
   "id": "a8752bcf",
   "metadata": {},
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "2022-10-20

[2022-10-21 09:13] sourabh27 commented on #865
(https://1drv.ms/u/s!Ar6U0CzrdGdRgeRJ4A4DFECbKWVASA?e=H9HjuZ)

[2022-10-21 10:02] Leimeroth commented on #865
The problem occurs in the vasp parsing get_band_properties function and I guess it is related to the OUTCAR format look like this in vasp 6.3:
[code]
While for my old calculations it looks like this (vasp 6.1.2):
[code]
i.e. some lines were added. Since some indexing is done in the parsing function I assume this causes the problem.

[2022-10-21 10:07] sourabh27 commented on #865
Hi, Niklas Leimeroth
Thanks for help!
I am also attaching the OUTCAR and vasprun.xml from vasp 5.4.4.
Could you also check these with the latest version of Pyiron?
OUTCAR
https://1drv.ms/u/s!Ar6U0CzrdGdRgeRKyKe-5FsnRG1j5A?e=3Xxny4
vasprun.xml
https://1drv.ms/u/s!Ar6U0CzrdGdRgeRLj2RMkDiZbUvKtQ?e=2eZ116

[2022-10-21 10:28] Leimeroth commented on #865
Update: Only occurs for me when i set ISPIN=2

[2022-10-22 19:17] ligerzero-ai opened #833 "OUTCAR parser breaks for VASP6"
https://pyiron.readthedocs.io/en/latest/source/import.html fails when 6.3.0 vasp OUTCARs are attempted to be parsed.

The OUTCAR has an extra few lines which throws off the trigger-based indexing.

@Leimeroth knows the intricate details.

I will assign myself but someone is free to beat me to the punch :) Will take a closer look during the week.

The short duct-tape fix is to update the indexing b

[2022-10-22 22:01] ligerzero-ai opened #834 "Create a method to write atomistics data summary in DataFrame format, which can be output as a file for sharing"
Somewhat closely related: #831

Tl;dr Create a method to generate a file which contains lightweight structure/energy/forces summary similar to `TrainingContainer` which allows lightweight sharing of data.

For a lightweight way of transferring/sharing data from different users in the workshop (and arguably just a really good idea in general), we found that it would be really nice to have the abili

[2022-10-23 09:47] niklassiemer commented on #834
I am in principle on board with other export types than our hdf for specific classes like the `TrainingContainer` which probably could have a method to export e.g. json (once we fixed the nasty. I cannot pickle this behavior... Could we not use the to_hdf routine produced dict to make a json for which we would also know how to read it in?) Maybe, this could be done more generic like we now use the

[2022-10-23 12:34] pmrv commented on #834
Is the `TrainingContainer` related functionality not covered by `train.to_pandas().to_pickle(...)` and `train.include_data(pd.load_pickle(...))` (or whatever the pandas function to load a pickle dataframe is called again)?

[2022-10-23 12:36] pmrv commented on #834
For the more generic request, I would rather modify `project.create_table` to take this list of columns that you propose and transparently create the table and return the output.  We have a lot of default functions defined already for the pyiron table and I don't see a point in reimplementing it.

[2022-10-23 12:45] ligerzero-ai commented on #834
So just to make sure we're on the same page; modify the current pr.create_table() method to generate the table that I'm describing here by default? (job name, structure, energy, forces, stresses)?

[2022-10-23 12:46] niklassiemer commented on #834
Yes, going to and from pandas should be sufficient for most cases. The only nice addition for sharing would be directly from/to disk, but that is only nice to have :)

[2022-10-23 12:51] pmrv commented on #834
Yeah,  it could also do `table.run(); return table.get_dataframe()` imo.

[2022-10-24 07:21] samwaseda opened #838 "Why is atomistic job assigned to a serial job which is in turn assigned to parallel master in this test?"
https://github.com/pyiron/pyiron_atomistics/blob/3a2caa4de8c3524626c86f67e03ae11440e4d837/tests/atomistics/master/test_murnaghan.py#L65-L80

I don't understand why the atomistic job should not be directly connected to the Murnaghan job in this test. What is it supposed to test?

[2022-10-24 11:16] samwaseda commented on #838
I figured out that this is more like a random test just to see that serial master can be connected to parallel master.

[2022-10-24 11:16] #838 closed, assigned to nobody

[2022-10-25 21:18] jan-janssen commented on #821
This was successfully achieved in the recent release `0.2.59` https://github.com/conda-forge/pyiron_atomistics-feedstock/pull/95

[2022-10-25 21:18] #821 closed, assigned to srmnitc

[2022-10-25 21:32] liamhuber commented on #826
@jyang2009, what is the status of this, can we close the issue?

I suspect the most computationally efficient approach is to use Quasi Newton as suggested by Sam.

In case you do go with NEB, I'm afraid I don't understand what the problem is.

Protocols inherit from generic job and run non-interactively; you should be able to submit them to the queue as normal.

The *children* of protocols, e.g. i

[2022-10-26 07:45] jyang2009 commented on #826
Dear Liam,

Yes it seems to be working for me now. I will close this issue. Thanks a lot for your help.

Best,
Jing

[2022-10-26 07:45] #826 closed, assigned to nobody

[2022-10-26 16:19] jan-janssen opened #845 "Compatibility with MDanalysis"
To extend the use of pyiron in the field of soft matter simulations it would be interesting to improve the compatibility with tools like MDAnalysis. They are currently looking into interfaces to ASE which could be a starting point for interfaces to pyiron as well. So I just open this issue to track these activities also from our side. For more information https://github.com/MDAnalysis/mdanalysis/i

[2022-11-06 09:05] pmrv commented on #828
I was in vacation so I didn't reply earlier, but thanks for clearing it up!

[2022-11-08 22:30] liamhuber opened #861 "Update CI to use pyiron/actions"
Analogous to how [pyiron/ironflow](https://github.com/pyiron/ironflow) now leans on reusable workflows from [pyiron/actions](https://github.com/pyiron/actions), although here (a) we have some workflows that are not yet covered by the central CI repo, and (b) the primary branch here is named `master` not `main` (for now! But this change will actually be easier after we lean on the centralized repo,

[2022-11-09 22:30] ligerzero-ai commented on #865
I'm looking into this and I did some more detailed versioning studies;

It looks like it fails for every version > 6.1.0

![image](https://user-images.githubusercontent.com/60923573/200955901-01aa9b6a-a5ce-4565-a3a7-641946320f5f.png)

I will implement a fix tomorrow. Sorry about the delay!

[2022-11-10 04:50] sourabh27 commented on #865
Thank you @ligerzero-ai

[2022-11-10 10:47] ligerzero-ai opened #862 "Import fails silently for recursive vasp_imports in `pr.import_from_path(path=path_to_import, recursive=True)` if any parsing fails"
`pr.import_from_path()` for vasp imports on folder structures fails silently if it doesn't successfully import a folder.

i.e.
[code]
for the folder structure like below:

![image](https://user-images.githubusercontent.com/60923573/201059491-9d0a2a80-bd8c-4fea-984a-820848d871ac.png)

Generates only `h5` files where the import is successful, but this fact is not reflected anywhere unless the user d

[2022-11-10 16:25] ejmeitz opened #887 "LAMMPS Log File Parser Incorrect"
**Summary**

When running LAMMPS jobs from Pyiron I get errors thrown from the automatic collection of data from the log.lammps file. In the function responsible for parsing the log file (pyiron_atomistics/lammps/base.py --> collect_output_log()) it looks for the line starting with the string "Step" and the line ending with "Loop" to pull out the thermo table from the log file. These lines do exis

[2022-11-10 16:32] pmrv commented on #887
Sounds just an issue with the lammps output changing under our feet.  What lammps version are you running?  Can you try with the conda version from the conda-forge channel?

Otherwise I don't see an issue with the fix you suggested, feel free to open a PR.

[2022-11-10 16:45] ejmeitz commented on #887
I'm using the LAMMPS version from Aug 2nd 2022 which is not the newest version.

I'm not too familiar with the conda LAMMPS version. I'd rather not mess with environment variables to get multiple lammps running on my computer right now.

[2022-11-10 16:54] pmrv commented on #887
That's newer than the version we're running on our cluster.  Imo just go ahead and put your fix in, I don't see how it could hurt.

[2022-11-10 16:58] ligerzero-ai commented on #865
Hi Sourabh,
The fix is now awaiting review.

If this issue is super urgent and you want to implement the fix yourself, please edit the pyiron_atomistics/pyiron_atomistics/vasp/outcar.py file and implement the fix shown in the commits of https://github.com/pyiron/pyiron_atomistics/pull/864 yourself on your local pyiron installation. That should fix your problem.

Thanks for your patience!

[2022-11-11 06:43] pmrv opened #866 "ElasticMatrixJob vs. ElasticTensor"
Is there any good reason we keep `ElasticMatrixJob` around?

[2022-11-11 08:20] jyang2009 opened #867 "stop vasp job during the run"
Dear all,

I would like to know if it is possible to stop a vasp job during the run via pyiron (same as creating a STOPCAR file). Please let me know. Thanks a lot.

Best,
Jing

[2022-11-11 08:20] samwaseda commented on #866
I guess this question matters only in our case, because I don't think `ElasticMatrixJob` is publicly available.

There are still two problems in `ElasticTensor`. One is that there is no possibility to use the smallest number of simulation boxes to get the elastic tensor. This can in principle be done by simply checking the number of independent elastic constants. The other one is that it fails to

[2022-11-11 08:21] samwaseda commented on #798
Wasn't this problem solved?

[2022-11-11 08:42] pmrv commented on #867
It's being worked on [here](https://github.com/pyiron/pyiron_base/pull/875).  Until that is in, I would guess

[code]

in a notebook cell will do the trick.

[2022-11-11 08:42] pmrv commented on #798
Eh, should. Let me check in a bit.

[2022-11-11 08:45] jyang2009 commented on #867
Got it. Thanks a lot, Marvin!

[2022-11-11 08:45] #867 closed, assigned to nobody

[2022-11-11 10:22] pmrv commented on #866
Ah, I didn't know it's from `pyiron_mpie`.  It only came up because a new user found an example with it and there were some errors.

[2022-11-11 10:22] #866 closed, assigned to nobody

[2022-11-11 10:49] pmrv commented on #798
Works now.

[2022-11-11 10:49] #798 closed, assigned to nobody

[2022-11-11 10:56] #833 closed, assigned to ligerzero-ai

[2022-11-11 10:57] ligerzero-ai commented on #865
Merged #864 which fixes this, still need to include a more comprehensive test suite/test resources for future-proofing purposes for OUTCAR parsing

[2022-11-11 10:57] #865 closed, assigned to nobody

[2022-11-11 11:04] ligerzero-ai commented on #475
Hi there, sorry about the really late update but I believe this has to do with vasp versioning > 6.1.0

I've fixed this now with #864 so if you're still interested, please give it a shot in the next week or two with the updated pyiron package

[2022-11-11 11:04] #475 closed, assigned to nobody

[2022-11-14 19:12] samwaseda opened #873 "`non_modal` changes the logging level"
[code]

For some reason this changes the logging level.

[2022-11-15 09:47] pmrv commented on #873
On a slightly unrelated note: Can we rename `modal` and `non_modal` to `foreground` and `background`?  I find the current names very unintuitive.

[2022-11-15 13:45] pmrv commented on #549
I found this by accident and gonna close it, if noone complains.

[2022-11-15 13:45] #549 closed, assigned to pmrv, samwaseda

[2022-11-16 14:49] samwaseda commented on #873
Since `foreground` would be the case for most of the jobs, I'd suggest to create the distinction between `static` and `interactive`, where we can append `background` for the current non-modal jobs, i.e. we would have (current names in parentheses):

- `static` (`modal`)
- `static_background` (`non_modal`)
- `interactive` (`interactive`)
- `interactive_background` (`interactive_non_modal`)

[2022-11-22 23:16] ligerzero-ai opened #878 "Diff method for INCAR for vasp"
@JNmpi suggested that there used to be a diff method for comparing INCAR files in pyiron. Apparently this no longer exists.

I will eventually get around to implementing this functionality. The only question is if we want this to be INCAR specific, or if we want a general purpose diff.

For the INCAR, it would be possible to match all entries order-agnostically and only return/print differences.

[2022-11-22 23:18] ligerzero-ai opened #879 "[vasp] Stop jobs via STOPCAR creation"
@jyang2009 requested this feature. I'll implement it eventually.

I'll take care of the implementation as the `job.kill()` functionality doesn't terminate jobs as elegantly as the stopcar object for VASP (lots of errors from system side in job output/log).

[2022-11-22 23:21] pmrv commented on #878
Just browsing around, but [this](https://docs.python.org/3/library/difflib.html) might be helpful for general files.  We might also think about diffing not the files but our representation of them (i.e. in this case the `Incar` class) if that turns out to be easy and efficient.

[2022-11-27 18:15] pmrv opened #881 "[VASP] set_kpoints(k_mesh_spacing=...) and KSPACING inconsistent"
The [vasp-wiki](https://www.vasp.at/wiki/index.php/KSPACING) defines the use of k mesh spacing as `ceil(b_i/KSPACING)` where as `GenericDFTJob` does `round(b_i/KSPACING)`.  I guess we should either be consistent or just set `incar['KSPACING']` in case someone calls `job.set_kpoints(k_mesh_spacing=...)`. Opinions @samwaseda ?

[2022-11-27 19:34] samwaseda commented on #881
Ah ok then why not `ceil`?

[2022-11-28 08:58] pmrv commented on #881
That's ok with me, I just wanted to check in.

[2022-11-28 16:43] jyang2009 opened #885 "job.get_neighbors() gives an error"
Hi all,

I'm getting the following error when running job.get_neighbors()

~/Program/pyiron_atomistics/pyiron_atomistics/pyiron_atomistics/atomistics/job/atomistic.py in __getitem__(self, item)
    901                     cells=self._cells[snapshots],
    902                     structure=self[snapshots[0]],
--> 903                     indices=self._indices[snapshots],
    904                 )

[2022-11-29 18:51] liamhuber commented on #887
Agreed. Nice clean fix. Thanks for catching, reporting, and coming up with a fix!

[2022-11-30 14:13] mbruns91 commented on #885
Can you maybe post as few lines as possible which reproduce this error? I just worked with `get_neighbors()` without any problem.